dify/SA2_Document_Collection_Workflow.yml
app:
  description: SA-2 Document Collection & Completeness Agent (N-1). Processes submitted
    documents via OCR, generates document checklist from KB-2, assesses completeness
    in parallel with document validity checks, flags rejections, and routes to KYC
    (N-2), RM retry (HITL_RM), Branch Manager escalation (ESCALATE_BRANCH_MANAGER),
    or termination (DEAD). Retries are internal — no DAG back-edge to N-0.
  icon: 🤖
  icon_background: '#D3E8F4'
  mode: workflow
  name: DCE-AO-SA2-Document-Collection
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.4@cadfd7b0cb7dcb1640cb6d168b1b98f4fafd22ccffdf29be44bdc791aaa16a86
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: env-mcp-endpoint-sa2
    name: MCP_ENDPOINT
    selector:
    - env
    - MCP_ENDPOINT
    value: https://dcemcptools-production.up.railway.app
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: '200000000001'
      source: '2000000001'
      sourceHandle: source
      target: '2000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: '200000000002'
      source: '2000000002'
      sourceHandle: source
      target: '2000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: '200000000003'
      source: '2000000003'
      sourceHandle: first-attempt-case
      target: '2000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: '200000000004'
      source: '2000000003'
      sourceHandle: 'false'
      target: '2000000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: code
      id: '200000000005'
      source: '2000000004'
      sourceHandle: source
      target: '2000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: '200000000006'
      source: '2000000005'
      sourceHandle: source
      target: '2000000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: '200000000007'
      source: '2000000006'
      sourceHandle: source
      target: '2000000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: code
      id: '200000000008'
      source: '2000000007'
      sourceHandle: source
      target: '2000000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: knowledge-retrieval
      id: '200000000009'
      source: '2000000008'
      sourceHandle: source
      target: '2000000009'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 2000000008-2000000024
      source: '2000000008'
      sourceHandle: source
      target: '2000000024'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: '200000000010'
      source: '2000000009'
      sourceHandle: source
      target: '2000000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: '200000000011'
      source: '2000000008'
      sourceHandle: source
      target: '2000000011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: '200000000012'
      source: '2000000010'
      sourceHandle: source
      target: '2000000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: '200000000013'
      source: '2000000011'
      sourceHandle: source
      target: '2000000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: '200000000014'
      source: '2000000012'
      sourceHandle: source
      target: '2000000013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: '200000000015'
      source: '2000000013'
      sourceHandle: source
      target: '2000000014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: '200000000016'
      source: '2000000014'
      sourceHandle: source
      target: '2000000015'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: '200000000017'
      source: '2000000015'
      sourceHandle: source
      target: '2000000016'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: '200000000018'
      source: '2000000016'
      sourceHandle: valid-pass
      target: '2000000017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: '200000000019'
      source: '2000000016'
      sourceHandle: 'false'
      target: '2000000023'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: '200000000020'
      source: '2000000017'
      sourceHandle: source
      target: '2000000018'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: '200000000021'
      source: '2000000018'
      sourceHandle: source
      target: '2000000019'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: '200000000022'
      source: '2000000019'
      sourceHandle: needs-notification
      target: '2000000020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: '200000000023'
      source: '2000000019'
      sourceHandle: 'false'
      target: '2000000021'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: '200000000024'
      source: '2000000020'
      sourceHandle: source
      target: '2000000021'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: '200000000025'
      source: '2000000021'
      sourceHandle: source
      target: '2000000022'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Orchestrator invocation. Accepts case context, submitted documents,
          retry count, and prior failure history.
        selected: false
        title: Start
        type: start
        variables:
        - label: Case State Block
          max_length: 65536
          options: []
          required: true
          type: paragraph
          variable: case_state_block
        - label: Case ID
          max_length: 50
          options: []
          required: true
          type: text-input
          variable: case_id
        - label: Account Type
          options:
          - INSTITUTIONAL_FUTURES
          - RETAIL_FUTURES
          - OTC_DERIVATIVES
          - COMMODITIES_PHYSICAL
          - MULTI_PRODUCT
          required: true
          type: select
          variable: account_type
        - label: Jurisdiction
          options:
          - SGP
          - HKG
          - CHN
          - OTHER
          required: true
          type: select
          variable: jurisdiction
        - label: Submitted Documents (JSON Array)
          max_length: 65536
          options: []
          required: true
          type: paragraph
          variable: submitted_documents_json
        - label: Retry Count
          max_length: 2
          options: []
          required: false
          type: text-input
          variable: retry_count
        - label: Prior Failure Reasons (JSON Array)
          max_length: 32768
          options: []
          required: false
          type: paragraph
          variable: prior_failure_reasons_json
      height: 325
      id: '2000000001'
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\ndef main(case_state_block: str, case_id: str, account_type:\
          \ str,\n         jurisdiction: str, submitted_documents_json: str,\n   \
          \      retry_count: str, prior_failure_reasons_json: str) -> dict:\n   \
          \ retry = int(retry_count) if retry_count and retry_count.strip().isdigit()\
          \ else 0\n    is_retry = retry > 0\n    try:\n        submitted_docs = json.loads(submitted_documents_json)\
          \ if submitted_documents_json else []\n    except Exception:\n        submitted_docs\
          \ = []\n    try:\n        prior_failures = json.loads(prior_failure_reasons_json)\
          \ if prior_failure_reasons_json else []\n    except Exception:\n       \
          \ prior_failures = []\n    retry_context = \"\"\n    if is_retry and prior_failures:\n\
          \        last = prior_failures[-1]\n        retry_context = (\n        \
          \    \"RETRY CONTEXT — THIS IS ATTEMPT {} OF 3 MAXIMUM\\n\"\n          \
          \  \"Prior attempt failed at: {}\\n\"\n            \"Failure type: {}\\\
          n\"\n            \"Detail: {}\\n\"\n            \"CORRECTIVE INSTRUCTION:\
          \ Process only newly submitted documents. \"\n            \"Do NOT re-validate\
          \ documents already accepted in prior attempts.\"\n        ).format(\n \
          \           retry + 1,\n            last.get(\"failed_at\", \"unknown\"\
          ),\n            last.get(\"failure_type\", \"UNKNOWN\"),\n            last.get(\"\
          failure_detail\", \"\")\n        )\n    doc_ids = [d.get(\"doc_id\", \"\"\
          ) for d in submitted_docs]\n    return {\n        \"case_id_ctx\": case_id,\n\
          \        \"account_type_ctx\": account_type,\n        \"jurisdiction_ctx\"\
          : jurisdiction,\n        \"retry_count_int\": str(retry),\n        \"is_retry\"\
          : str(is_retry).lower(),\n        \"submitted_doc_ids_json\": json.dumps(doc_ids),\n\
          \        \"submitted_documents_parsed\": submitted_documents_json or \"\
          []\",\n        \"doc_count\": str(len(submitted_docs)),\n        \"retry_context\"\
          : retry_context,\n        \"prior_failures_json\": prior_failure_reasons_json\
          \ or \"[]\"\n    }\n"
        code_language: python3
        desc: Builds AO Case State Block from orchestrator inputs. Injects retry context
          with prior failure details on subsequent attempts. Outputs structured context
          for all downstream nodes.
        outputs:
          account_type_ctx:
            children: null
            type: string
          case_id_ctx:
            children: null
            type: string
          doc_count:
            children: null
            type: string
          is_retry:
            children: null
            type: string
          jurisdiction_ctx:
            children: null
            type: string
          prior_failures_json:
            children: null
            type: string
          retry_context:
            children: null
            type: string
          retry_count_int:
            children: null
            type: string
          submitted_doc_ids_json:
            children: null
            type: string
          submitted_documents_parsed:
            children: null
            type: string
        selected: false
        title: Context Injector
        type: code
        variables:
        - value_selector:
          - '2000000001'
          - case_state_block
          variable: case_state_block
        - value_selector:
          - '2000000001'
          - case_id
          variable: case_id
        - value_selector:
          - '2000000001'
          - account_type
          variable: account_type
        - value_selector:
          - '2000000001'
          - jurisdiction
          variable: jurisdiction
        - value_selector:
          - '2000000001'
          - submitted_documents_json
          variable: submitted_documents_json
        - value_selector:
          - '2000000001'
          - retry_count
          variable: retry_count
        - value_selector:
          - '2000000001'
          - prior_failure_reasons_json
          variable: prior_failure_reasons_json
      height: 144
      id: '2000000002'
      position:
        x: 400
        y: 280
      positionAbsolute:
        x: 400
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: first-attempt-case
          conditions:
          - comparison_operator: is
            id: cond-first-attempt
            value: '0'
            variable_selector:
            - '2000000002'
            - retry_count_int
          logical_operator: and
        desc: Routes to KB-2 checklist generation on first attempt (retry_count=0),
          or to checklist reuse on retry attempts. Prevents redundant KB queries.
        selected: false
        title: Attempt Router
        type: if-else
      height: 200
      id: '2000000003'
      position:
        x: 720
        y: 280
      positionAbsolute:
        x: 720
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - nRDPi5tD6jR5RCRS8LePm6PMBJp49Z9ZbPIxjvDXZ0X5BEUiIsNAWchgwP41e8B0
        desc: Retrieves mandatory and optional document checklist rules from KB-2
          for this account type, jurisdiction, and product set. Score threshold 0.75.
          First attempt only.
        query_attachment_selector: []
        query_variable_selector:
        - '2000000002'
        - account_type_ctx
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              temperature: 0.1
            mode: chat
            name: claude-sonnet-4-6
            provider: anthropic
          score_threshold: 0.75
          score_threshold_enabled: true
        title: 'KB-2: Document Checklist Rules'
        type: knowledge-retrieval
      height: 182
      id: '2000000004'
      position:
        x: 1040
        y: 100
      positionAbsolute:
        x: 1040
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport urllib.request\nimport re\n\nHEADERS = {\"Content-Type\"\
          : \"application/json\", \"Accept\": \"application/json, text/event-stream\"\
          }\n\n\ndef mcp_call(mcp_url, method_name, arguments, req_id=1):\n    body\
          \ = json.dumps({\n        \"jsonrpc\": \"2.0\", \"id\": req_id,\n      \
          \  \"method\": \"initialize\",\n        \"params\": {\"protocolVersion\"\
          : \"2025-03-26\", \"capabilities\": {},\n                   \"clientInfo\"\
          : {\"name\": \"dify-sa2\", \"version\": \"1.0\"}}\n    }).encode()\n   \
          \ req = urllib.request.Request(mcp_url, data=body, headers=HEADERS, method=\"\
          POST\")\n    resp = urllib.request.urlopen(req, timeout=30)\n    resp.read()\n\
          \    session_id = resp.headers.get(\"Mcp-Session-Id\", \"\")\n    h = dict(HEADERS)\n\
          \    h[\"Mcp-Session-Id\"] = session_id\n    tool_body = json.dumps({\n\
          \        \"jsonrpc\": \"2.0\", \"id\": req_id + 1,\n        \"method\":\
          \ \"tools/call\",\n        \"params\": {\"name\": method_name, \"arguments\"\
          : arguments}\n    }).encode()\n    req2 = urllib.request.Request(mcp_url,\
          \ data=tool_body, headers=h, method=\"POST\")\n    resp2 = urllib.request.urlopen(req2,\
          \ timeout=60)\n    raw = resp2.read().decode()\n    match = re.search(r'\"\
          result\"\\s*:\\s*(\\{[\\s\\S]*?\\}|\\[[\\s\\S]*?\\])', raw)\n    if match:\n\
          \        return match.group(1)\n    for line in raw.split(\"\\n\"):\n  \
          \      if line.startswith(\"data:\"):\n            return line[5:].strip()\n\
          \    return raw\n\n\ndef main(case_id: str, account_type: str, jurisdiction:\
          \ str,\n         kb_chunks: str, submitted_documents_parsed: str,\n     \
          \    mcp_endpoint: str) -> dict:\n    MCP_URL = mcp_endpoint + \"/mcp\"\
          \ if mcp_endpoint else \"https://dcemcptools-production.up.railway.app/mcp\"\
          \n    try:\n        args = {\n            \"case_id\": case_id,\n       \
          \     \"account_type\": account_type,\n            \"jurisdiction\": jurisdiction,\n\
          \            \"kb_context\": (kb_chunks or \"\")[:2000]\n        }\n   \
          \     result = mcp_call(MCP_URL, \"sa2_get_document_checklist\", args, 1)\n        try:\n\
          \            checklist_data = json.loads(result)\n        except Exception:\n\
          \            checklist_data = {\"mandatory_docs\": [], \"optional_docs\"\
          : [], \"raw\": str(result)[:500]}\n        return {\n            \"checklist_json\"\
          : json.dumps(checklist_data),\n            \"checklist_source\": \"MCP_GENERATED\"\
          ,\n            \"checklist_error\": \"\"\n        }\n    except Exception\
          \ as e:\n        return {\n            \"checklist_json\": json.dumps({\"\
          mandatory_docs\": [], \"optional_docs\": []}),\n            \"checklist_source\"\
          : \"ERROR_FALLBACK\",\n            \"checklist_error\": str(e)[:200]\n \
          \       }\n"
        code_language: python3
        desc: Calls MCP get_document_checklist to create the definitive checklist
          header and line items. Writes to dce_ao_document_checklist. First attempt
          only.
        outputs:
          checklist_error:
            children: null
            type: string
          checklist_json:
            children: null
            type: string
          checklist_source:
            children: null
            type: string
        selected: false
        title: Checklist Generator
        type: code
        variables:
        - value_selector:
          - '2000000002'
          - case_id_ctx
          variable: case_id
        - value_selector:
          - '2000000002'
          - account_type_ctx
          variable: account_type
        - value_selector:
          - '2000000002'
          - jurisdiction_ctx
          variable: jurisdiction
        - value_selector:
          - '2000000004'
          - result
          variable: kb_chunks
        - value_selector:
          - '2000000002'
          - submitted_documents_parsed
          variable: submitted_documents_parsed
        - value_selector:
          - env
          - MCP_ENDPOINT
          variable: mcp_endpoint
      height: 144
      id: '2000000005'
      position:
        x: 1360
        y: 100
      positionAbsolute:
        x: 1360
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\ndef main(case_state_block: str, prior_failures_json:\
          \ str) -> dict:\n    checklist_from_state = {\n        \"mandatory_docs\"\
          : [],\n        \"optional_docs\": [],\n        \"source\": \"retry_reuse\"\
          \n    }\n    try:\n        if case_state_block:\n            state = json.loads(case_state_block)\
          \ if isinstance(case_state_block, str) else {}\n            existing_checklist\
          \ = state.get(\"n1_checklist\", {})\n            if existing_checklist:\n\
          \                checklist_from_state = existing_checklist\n    except Exception:\n\
          \        pass\n    return {\n        \"checklist_json\": json.dumps(checklist_from_state),\n\
          \        \"checklist_source\": \"RETRY_REUSE\",\n        \"checklist_error\"\
          : \"\"\n    }\n"
        code_language: python3
        desc: Reuses existing checklist from case state block on retry attempts. Skips
          KB-2 retrieval to avoid redundant queries. Reads n1_checklist from dce_ao_node_checkpoint.
        outputs:
          checklist_error:
            children: null
            type: string
          checklist_json:
            children: null
            type: string
          checklist_source:
            children: null
            type: string
        selected: false
        title: Retry Checklist Fetcher
        type: code
        variables:
        - value_selector:
          - '2000000001'
          - case_state_block
          variable: case_state_block
        - value_selector:
          - '2000000002'
          - prior_failures_json
          variable: prior_failures_json
      height: 144
      id: '2000000006'
      position:
        x: 1126.0904901474626
        y: 498.5141666449175
      positionAbsolute:
        x: 1126.0904901474626
        y: 498.5141666449175
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
        desc: Merges checklist output from first-attempt (MCP generated) or retry
          path (DB reuse) into a single context variable for downstream OCR and assessment
          nodes.
        output_type: string
        selected: false
        title: Checklist Context Merge
        type: variable-aggregator
        variables:
        - - '2000000005'
          - checklist_json
        - - '2000000006'
          - checklist_json
      height: 226
      id: '2000000007'
      position:
        x: 1680
        y: 280
      positionAbsolute:
        x: 1680
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport urllib.request\nimport re\n\nHEADERS = {\"Content-Type\"\
          : \"application/json\", \"Accept\": \"application/json, text/event-stream\"\
          }\n\n\ndef mcp_call(mcp_url, method_name, arguments, req_id=1):\n    body\
          \ = json.dumps({\n        \"jsonrpc\": \"2.0\", \"id\": req_id,\n      \
          \  \"method\": \"initialize\",\n        \"params\": {\"protocolVersion\"\
          : \"2025-03-26\", \"capabilities\": {},\n                   \"clientInfo\"\
          : {\"name\": \"dify-sa2\", \"version\": \"1.0\"}}\n    }).encode()\n   \
          \ req = urllib.request.Request(mcp_url, data=body, headers=HEADERS, method=\"\
          POST\")\n    resp = urllib.request.urlopen(req, timeout=30)\n    resp.read()\n\
          \    session_id = resp.headers.get(\"Mcp-Session-Id\", \"\")\n    h = dict(HEADERS)\n\
          \    h[\"Mcp-Session-Id\"] = session_id\n    tool_body = json.dumps({\n\
          \        \"jsonrpc\": \"2.0\", \"id\": req_id + 1,\n        \"method\":\
          \ \"tools/call\",\n        \"params\": {\"name\": method_name, \"arguments\"\
          : arguments}\n    }).encode()\n    req2 = urllib.request.Request(mcp_url,\
          \ data=tool_body, headers=h, method=\"POST\")\n    resp2 = urllib.request.urlopen(req2,\
          \ timeout=90)\n    raw = resp2.read().decode()\n    match = re.search(r'\"\
          result\"\\s*:\\s*(\\{[\\s\\S]*?\\}|\\[[\\s\\S]*?\\])', raw)\n    if match:\n\
          \        return match.group(1)\n    for line in raw.split(\"\\n\"):\n  \
          \      if line.startswith(\"data:\"):\n            return line[5:].strip()\n\
          \    return raw\n\n\ndef main(checklist_output: str, submitted_documents_parsed:\
          \ str,\n         mcp_endpoint: str) -> dict:\n    MCP_URL = mcp_endpoint\
          \ + \"/mcp\" if mcp_endpoint else \"https://dcemcptools-production.up.railway.app/mcp\"\
          \n    ocr_results = []\n    ocr_errors = []\n    try:\n \
          \       docs = json.loads(submitted_documents_parsed) if submitted_documents_parsed\
          \ else []\n    except Exception:\n        docs = []\n    for i, doc in enumerate(docs):\n\
          \        doc_id = doc.get(\"doc_id\", \"UNKNOWN_{}\".format(i))\n      \
          \  try:\n            args = {\n                \"doc_id\": doc_id,\n   \
          \             \"storage_url\": doc.get(\"storage_url\", \"\"),\n       \
          \         \"filename\": doc.get(\"filename\", \"\"),\n                \"\
          mime_type\": doc.get(\"mime_type\", \"application/pdf\"),\n            \
          \    \"expected_doc_type\": \"\"\n            }\n            result = mcp_call(MCP_URL, \"\
          sa2_extract_document_metadata\", args, (i * 10) + 1)\n            try:\n   \
          \             ocr_data = json.loads(result)\n            except Exception:\n\
          \                ocr_data = {\"detected_doc_type\": \"UNKNOWN\", \"confidence_score\"\
          : 0.5}\n            confidence = float(ocr_data.get(\"confidence_score\"\
          , 0.5))\n            ocr_results.append({\n                \"doc_id\": doc_id,\n\
          \                \"filename\": doc.get(\"filename\", \"\"),\n          \
          \      \"detected_doc_type\": ocr_data.get(\"detected_doc_type\", \"UNKNOWN\"\
          ),\n                \"confidence_score\": confidence,\n                \"\
          expiry_date\": ocr_data.get(\"expiry_date\"),\n                \"issue_date\"\
          : ocr_data.get(\"issue_date\"),\n                \"issuing_authority\":\
          \ ocr_data.get(\"issuing_authority\", \"\"),\n                \"signatory_names\"\
          : ocr_data.get(\"signatory_names\", []),\n                \"extracted_text_preview\"\
          : str(ocr_data.get(\"extracted_text\", \"\"))[:500],\n                \"\
          flagged_for_review\": confidence < 0.80\n            })\n        except\
          \ Exception as e:\n            ocr_errors.append(\"OCR failed for {}: {}\"\
          .format(doc_id, str(e)[:100]))\n            ocr_results.append({\n     \
          \           \"doc_id\": doc_id,\n                \"filename\": doc.get(\"\
          filename\", \"\"),\n                \"detected_doc_type\": \"OCR_FAILED\"\
          ,\n                \"confidence_score\": 0.0,\n                \"expiry_date\"\
          : None,\n                \"issue_date\": None,\n                \"issuing_authority\"\
          : \"\",\n                \"signatory_names\": [],\n                \"extracted_text_preview\"\
          : \"\",\n                \"flagged_for_review\": True\n            })\n\
          \    return {\n        \"ocr_results_json\": json.dumps(ocr_results),\n\
          \        \"ocr_errors_json\": json.dumps(ocr_errors),\n        \"doc_count_processed\"\
          : str(len(ocr_results))\n    }\n"
        code_language: python3
        desc: Calls MCP extract_document_metadata for each submitted document. Extracts
          detected doc type, expiry dates, issuing authority, signatories, and confidence
          score. Flags low-confidence docs. Writes to dce_ao_document_ocr_result.
        outputs:
          doc_count_processed:
            children: null
            type: string
          ocr_errors_json:
            children: null
            type: string
          ocr_results_json:
            children: null
            type: string
        selected: false
        title: OCR & Metadata Extractor
        type: code
        variables:
        - value_selector:
          - '2000000007'
          - output
          variable: checklist_output
        - value_selector:
          - '2000000002'
          - submitted_documents_parsed
          variable: submitted_documents_parsed
        - value_selector:
          - env
          - MCP_ENDPOINT
          variable: mcp_endpoint
      height: 160
      id: '2000000008'
      position:
        x: 2000
        y: 280
      positionAbsolute:
        x: 2000
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - s14ESev2GcpC8LPj64yGMV8On64vTxgeI40sTBw1HWc1nutXsTg/8RttCfqSNAVw
        desc: Retrieves GTA version requirements and product schedule applicability
          from KB-3 (GTA Reference) and KB-12 (GTA & Schedule Reference). Feeds Completeness
          Assessor for GTA validation. Parallel Branch A start.
        query_attachment_selector: []
        query_variable_selector:
        - '2000000008'
        - ocr_results_json
        retrieval_mode: single
        selected: true
        single_retrieval_config:
          model:
            completion_params:
              temperature: 0.1
            mode: chat
            name: claude-sonnet-4-6
            provider: anthropic
          score_threshold: 0.75
          score_threshold_enabled: true
        title: 'KB-3 + KB-12: GTA Reference'
        type: knowledge-retrieval
      height: 198
      id: '2000000009'
      position:
        x: 2320
        y: 100
      positionAbsolute:
        x: 2320
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - __REPLACE_WITH_KB1_DATASET_ID__
        desc: Retrieves document taxonomy and classification rules from KB-1.
          Used by Completeness Assessor to validate document types against account type requirements.
        query_attachment_selector: []
        query_variable_selector:
        - '2000000002'
        - account_type_ctx
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              temperature: 0.1
            mode: chat
            name: claude-sonnet-4-6
            provider: anthropic
          score_threshold: 0.75
          score_threshold_enabled: true
        title: 'KB-1: Document Taxonomy'
        type: knowledge-retrieval
      height: 182
      id: '2000000024'
      position:
        x: 2320
        y: 640
      positionAbsolute:
        x: 2320
        y: 640
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '2000000009'
          - result
        desc: 'LLM (Sonnet 4.6 — SKL-03): Matches OCR results against KB-2 checklist.
          Determines mandatory and optional completeness, identifies document gaps,
          validates GTA version using KB-3 + KB-12 context. Parallel Branch A end.'
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.1
          mode: chat
          name: claude-sonnet-4-6
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: sa2-sys-completeness
          role: system
          text: 'You are SA-2, the DCE Document Collection & Completeness Agent at
            DBS Bank. Assess whether submitted documents satisfy mandatory and optional
            requirements for this account opening case.

            ASSESSMENT RULES: - ACCEPTED: detected doc type matches checklist item,
            not expired, issuing authority valid, confidence >= 0.80 - REQUIRES_RESUBMISSION:
            partially valid — confidence 0.60 to 0.79, or minor deficiencies correctable
            by resubmission - REJECTED: wrong doc type, expired, unacceptable authority,
            or confidence < 0.60

            COMPLETENESS LOGIC: - mandatory_docs_complete = TRUE only when every mandatory
            checklist item is matched to an ACCEPTED document - Match submitted documents
            by detected_doc_type to checklist item doc_type codes - coverage_pct =
            (matched mandatory items / total mandatory items) * 100

            ENTITY TYPE DOCUMENT RULES: - CORP: Requires Certificate of Incorporation,
            Board Resolution, M&AA, Authorised Signatory List - FUND: Requires Fund
            Prospectus, Trust Deed or Fund Constitution, Authorised Signatory List
            - FI: Requires Licence or Registration Certificate, Board Resolution,
            Correspondent Banking Agreement - SPV: Requires SPV Constitution, Parent
            Company Resolution, Ownership Structure Chart - INDIVIDUAL: Requires NRIC
            or Passport, Address Proof (less than 90 days old), Risk Profile Assessment

            GTA VALIDATION (use KB-3 + KB-12 context): - Verify submitted GTA version
            matches current approved version for the jurisdiction - Flag if GTA is
            superseded, missing required product schedules, or has incomplete addenda

            Respond with ONLY valid JSON: {"completeness_flag":bool,"mandatory_docs_complete":bool,"optional_docs_complete":bool,"coverage_pct":float,"documents":[{"doc_id":"...","doc_type":"...","filename":"...","status":"ACCEPTED|REJECTED|REQUIRES_RESUBMISSION","rejection_reason":null,"expiry_date":null}],"missing_mandatory":["DOC_TYPE_CODE"],"missing_optional":["DOC_TYPE_CODE"],"gta_valid":bool,"gta_version_found":null,"gta_issues":[]}'
        - id: sa2-usr-completeness
          role: user
          text: 'Assess document completeness for this case.

            ACCOUNT TYPE: {{#2000000002.account_type_ctx#}} JURISDICTION: {{#2000000002.jurisdiction_ctx#}}
            RETRY ATTEMPT: {{#2000000002.retry_count_int#}}

            {{#2000000002.retry_context#}}

            DOCUMENT CHECKLIST (mandatory and optional requirements): {{#2000000007.output#}}

            OCR RESULTS (submitted documents with extracted metadata): {{#2000000008.ocr_results_json#}}

            DOCUMENT TAXONOMY (KB-1): {{#2000000024.result#}}

            GTA VALIDATION CONTEXT (KB-3 + KB-12): {{#context#}}

            Respond with JSON only.'
        selected: false
        title: Completeness Assessor
        type: llm
        variables: []
        vision:
          enabled: false
      height: 196
      id: '2000000010'
      position:
        x: 2640
        y: 100
      positionAbsolute:
        x: 2640
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport urllib.request\nimport re\n\nHEADERS = {\"Content-Type\"\
          : \"application/json\", \"Accept\": \"application/json, text/event-stream\"\
          }\n\n\ndef mcp_call(mcp_url, method_name, arguments, req_id=1):\n    body\
          \ = json.dumps({\n        \"jsonrpc\": \"2.0\", \"id\": req_id,\n      \
          \  \"method\": \"initialize\",\n        \"params\": {\"protocolVersion\"\
          : \"2025-03-26\", \"capabilities\": {},\n                   \"clientInfo\"\
          : {\"name\": \"dify-sa2\", \"version\": \"1.0\"}}\n    }).encode()\n   \
          \ req = urllib.request.Request(mcp_url, data=body, headers=HEADERS, method=\"\
          POST\")\n    resp = urllib.request.urlopen(req, timeout=30)\n    resp.read()\n\
          \    session_id = resp.headers.get(\"Mcp-Session-Id\", \"\")\n    h = dict(HEADERS)\n\
          \    h[\"Mcp-Session-Id\"] = session_id\n    tool_body = json.dumps({\n\
          \        \"jsonrpc\": \"2.0\", \"id\": req_id + 1,\n        \"method\":\
          \ \"tools/call\",\n        \"params\": {\"name\": method_name, \"arguments\"\
          : arguments}\n    }).encode()\n    req2 = urllib.request.Request(mcp_url,\
          \ data=tool_body, headers=h, method=\"POST\")\n    resp2 = urllib.request.urlopen(req2,\
          \ timeout=60)\n    raw = resp2.read().decode()\n    match = re.search(r'\"\
          result\"\\s*:\\s*(\\{[\\s\\S]*?\\}|\\[[\\s\\S]*?\\])', raw)\n    if match:\n\
          \        return match.group(1)\n    for line in raw.split(\"\\n\"):\n  \
          \      if line.startswith(\"data:\"):\n            return line[5:].strip()\n\
          \    return raw\n\n\ndef main(ocr_results_json: str, mcp_endpoint: str) -> dict:\n\
          \    MCP_URL = mcp_endpoint + \"/mcp\" if mcp_endpoint else \"https://dcemcptools-production.up.railway.app/mcp\"\
          \n    validity_results\
          \ = []\n    try:\n        ocr_results = json.loads(ocr_results_json) if\
          \ ocr_results_json else []\n    except Exception:\n        ocr_results =\
          \ []\n    for i, doc in enumerate(ocr_results):\n        doc_id = doc.get(\"\
          doc_id\", \"UNKNOWN\")\n        try:\n            args = {\n           \
          \     \"doc_id\": doc_id,\n                \"doc_type\": doc.get(\"detected_doc_type\"\
          , \"UNKNOWN\"),\n                \"expiry_date\": doc.get(\"expiry_date\"\
          ) or \"\",\n                \"issue_date\": doc.get(\"issue_date\") or \"\
          \",\n                \"issuing_authority\": doc.get(\"issuing_authority\"\
          , \"\")\n            }\n            result = mcp_call(MCP_URL, \"sa2_validate_document_expiry\"\
          , args, (i * 10) + 100)\n            try:\n                val_data = json.loads(result)\n\
          \            except Exception:\n                val_data = {\"validity_status\"\
          : \"VALID\"}\n            validity_results.append({\n                \"\
          doc_id\": doc_id,\n                \"validity_status\": val_data.get(\"\
          validity_status\", \"VALID\"),\n                \"days_to_expiry\": val_data.get(\"\
          days_to_expiry\"),\n                \"validity_notes\": val_data.get(\"\
          validity_notes\", \"\"),\n                \"flagged_for_review\": val_data.get(\"\
          validity_status\") in [\n                    \"EXPIRED\", \"UNACCEPTABLE_SOURCE\"\
          \n                ]\n            })\n        except Exception as e:\n  \
          \          validity_results.append({\n                \"doc_id\": doc_id,\n\
          \                \"validity_status\": \"VALIDATION_FAILED\",\n         \
          \       \"days_to_expiry\": None,\n                \"validity_notes\": \"\
          Error: {}\".format(str(e)[:100]),\n                \"flagged_for_review\"\
          : True\n            })\n    return {\n        \"validity_results_json\"\
          : json.dumps(validity_results)\n    }\n"
        code_language: python3
        desc: Calls MCP validate_document_expiry for each document. Checks expiry
          dates, issuing authority acceptability, and document age limits (e.g., utility
          bills must be under 90 days). Runs in parallel with Completeness Assessor
          (Branch B).
        outputs:
          validity_results_json:
            children: null
            type: string
        selected: false
        title: Validity Checker
        type: code
        variables:
        - value_selector:
          - '2000000008'
          - ocr_results_json
          variable: ocr_results_json
        - value_selector:
          - env
          - MCP_ENDPOINT
          variable: mcp_endpoint
      height: 160
      id: '2000000011'
      position:
        x: 2320
        y: 460
      positionAbsolute:
        x: 2320
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\n\ndef main(completeness_llm_text: str, validity_results_json:\
          \ str) -> dict:\n    try:\n        m = re.search(r'\\{[\\s\\S]*\\}', completeness_llm_text)\n\
          \        comp = json.loads(m.group()) if m else json.loads(completeness_llm_text)\n\
          \    except Exception:\n        comp = {}\n    try:\n        validity =\
          \ json.loads(validity_results_json) if validity_results_json else []\n \
          \   except Exception:\n        validity = []\n    validity_map = {v.get(\"\
          doc_id\", \"\"): v for v in validity}\n    enriched_docs = []\n    for doc\
          \ in comp.get(\"documents\", []):\n        doc_id = doc.get(\"doc_id\",\
          \ \"\")\n        vdoc = validity_map.get(doc_id, {})\n        merged = dict(doc)\n\
          \        merged[\"validity_status\"] = vdoc.get(\"validity_status\", \"\
          UNKNOWN\")\n        merged[\"days_to_expiry\"] = vdoc.get(\"days_to_expiry\"\
          )\n        merged[\"validity_notes\"] = vdoc.get(\"validity_notes\", \"\"\
          )\n        if vdoc.get(\"validity_status\") in [\"EXPIRED\", \"UNACCEPTABLE_SOURCE\"\
          ]:\n            merged[\"status\"] = \"REJECTED\"\n            if not merged.get(\"\
          rejection_reason\"):\n                merged[\"rejection_reason\"] = vdoc.get(\n\
          \                    \"validity_notes\",\n                    \"Document\
          \ expired or from unacceptable issuing authority\"\n                )\n\
          \        enriched_docs.append(merged)\n    comp[\"documents\"] = enriched_docs\n\
          \    return {\n        \"completeness_json\": json.dumps(comp),\n      \
          \  \"validity_results_json\": validity_results_json or \"[]\"\n    }\n"
        code_language: python3
        desc: Merges parallel Branch A (Completeness Assessor LLM) and Branch B (Validity
          Checker). Enriches each document record with validity outcomes. EXPIRED
          or UNACCEPTABLE_SOURCE documents are upgraded to REJECTED status.
        outputs:
          completeness_json:
            children: null
            type: string
          validity_results_json:
            children: null
            type: string
        selected: false
        title: Assessment Merger
        type: code
        variables:
        - value_selector:
          - '2000000010'
          - text
          variable: completeness_llm_text
        - value_selector:
          - '2000000011'
          - validity_results_json
          variable: validity_results_json
      height: 160
      id: '2000000012'
      position:
        x: 2960
        y: 280
      positionAbsolute:
        x: 2960
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
        desc: 'LLM (Haiku 4.5 — SKL-05): Generates actionable rejection reasons for
          each REJECTED or REQUIRES_RESUBMISSION document. Includes specific regulatory
          references (MAS Notice, ACRA) and resubmission instructions.'
        model:
          completion_params:
            max_tokens: 2048
            temperature: 0.1
          mode: chat
          name: claude-haiku-4-5
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: sa2-sys-rejection
          role: system
          text: 'You are the Document Rejection Reasoner for SA-2 at DBS Bank. For
            each rejected or requires-resubmission document, generate a concise, actionable
            message for the Relationship Manager.

            REQUIREMENTS per rejection entry: 1. State the specific rejection cause
            in plain language 2. Reference the applicable regulatory requirement (MAS
            Notice number or ACRA requirement) 3. Provide explicit resubmission instructions
            (what to replace, what format, what timeframe)

            Keep each entry to 2-3 sentences maximum. Use professional banking language.
            If no documents are rejected or flagged, return empty rejection_reasons
            object.

            Respond with ONLY valid JSON: {"rejection_reasons":{"DOC-XXXXXX":"rejection
            reason and resubmission instruction"},"resubmission_summary":"one-sentence
            summary for RM action or null if no rejections"}'
        - id: sa2-usr-rejection
          role: user
          text: 'Generate rejection reasons for the following case.

            ACCOUNT TYPE: {{#2000000002.account_type_ctx#}} JURISDICTION: {{#2000000002.jurisdiction_ctx#}}

            DOCUMENT ASSESSMENT RESULTS: {{#2000000012.completeness_json#}}

            Generate rejection reasons only for documents with status REJECTED or
            REQUIRES_RESUBMISSION. Respond with JSON only.'
        selected: false
        title: Rejection Reasoner
        type: llm
        variables: []
        vision:
          enabled: false
      height: 202
      id: '2000000013'
      position:
        x: 3280
        y: 280
      positionAbsolute:
        x: 3280
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport urllib.request\nimport re\n\nHEADERS = {\"Content-Type\"\
          : \"application/json\", \"Accept\": \"application/json, text/event-stream\"\
          }\n\n\ndef mcp_call(mcp_url, method_name, arguments, req_id=1):\n    body\
          \ = json.dumps({\n        \"jsonrpc\": \"2.0\", \"id\": req_id,\n      \
          \  \"method\": \"initialize\",\n        \"params\": {\"protocolVersion\"\
          : \"2025-03-26\", \"capabilities\": {},\n                   \"clientInfo\"\
          : {\"name\": \"dify-sa2\", \"version\": \"1.0\"}}\n    }).encode()\n   \
          \ req = urllib.request.Request(mcp_url, data=body, headers=HEADERS, method=\"\
          POST\")\n    resp = urllib.request.urlopen(req, timeout=30)\n    resp.read()\n\
          \    session_id = resp.headers.get(\"Mcp-Session-Id\", \"\")\n    h = dict(HEADERS)\n\
          \    h[\"Mcp-Session-Id\"] = session_id\n    tool_body = json.dumps({\n\
          \        \"jsonrpc\": \"2.0\", \"id\": req_id + 1,\n        \"method\":\
          \ \"tools/call\",\n        \"params\": {\"name\": method_name, \"arguments\"\
          : arguments}\n    }).encode()\n    req2 = urllib.request.Request(mcp_url,\
          \ data=tool_body, headers=h, method=\"POST\")\n    resp2 = urllib.request.urlopen(req2,\
          \ timeout=60)\n    raw = resp2.read().decode()\n    match = re.search(r'\"\
          result\"\\s*:\\s*(\\{[\\s\\S]*?\\}|\\[[\\s\\S]*?\\])', raw)\n    if match:\n\
          \        return match.group(1)\n    for line in raw.split(\"\\n\"):\n  \
          \      if line.startswith(\"data:\"):\n            return line[5:].strip()\n\
          \    return raw\n\n\ndef main(completeness_json: str, rejection_llm_text:\
          \ str, mcp_endpoint: str) -> dict:\n    MCP_URL = mcp_endpoint + \"/mcp\"\
          \ if mcp_endpoint else \"https://dcemcptools-production.up.railway.app/mcp\"\
          \n    flagged = []\n    errors = []\n    try:\n        comp\
          \ = json.loads(completeness_json) if completeness_json else {}\n    except\
          \ Exception:\n        comp = {}\n    try:\n        m = re.search(r'\\{[\\\
          s\\S]*\\}', rejection_llm_text)\n        rej = json.loads(m.group()) if\
          \ m else {}\n    except Exception:\n        rej = {}\n    rejection_reasons\
          \ = rej.get(\"rejection_reasons\", {})\n    documents = comp.get(\"documents\"\
          , [])\n    for i, doc in enumerate(documents):\n        if doc.get(\"status\"\
          ) in [\"REJECTED\", \"REQUIRES_RESUBMISSION\"]:\n            doc_id = doc.get(\"\
          doc_id\", \"UNKNOWN\")\n            try:\n                reason_text =\
          \ rejection_reasons.get(\n                    doc_id,\n                \
          \    doc.get(\"rejection_reason\", \"Document requires review\")\n     \
          \           )\n                args = {\n                    \"doc_id\"\
          : doc_id,\n                    \"decision\": doc.get(\"status\", \"REQUIRES_RESUBMISSION\"\
          ),\n                    \"rejection_reason_code\": \"INVALID_DOCUMENT\"\
          ,\n                    \"rejection_reason_text\": reason_text\n        \
          \        }\n                result = mcp_call(MCP_URL, \"sa2_flag_document_for_review\"\
          , args, (i * 10) + 200)\n                flagged.append({\"doc_id\": doc_id,\
          \ \"flag_result\": str(result)[:200]})\n            except Exception as\
          \ e:\n                errors.append(\"Flag failed for {}: {}\".format(doc_id,\
          \ str(e)[:100]))\n                flagged.append({\"doc_id\": doc_id, \"\
          flag_result\": \"BUFFERED_TO_DB\"})\n    return {\n        \"flagged_results_json\"\
          : json.dumps(flagged),\n        \"flag_errors_json\": json.dumps(errors)\n\
          \    }\n"
        code_language: python3
        desc: Calls MCP flag_document_for_review for each REJECTED or REQUIRES_RESUBMISSION
          document. Records per-document decision in Document Management System. Writes
          to dce_ao_document_review.
        outputs:
          flag_errors_json:
            children: null
            type: string
          flagged_results_json:
            children: null
            type: string
        selected: false
        title: Document Flagger
        type: code
        variables:
        - value_selector:
          - '2000000012'
          - completeness_json
          variable: completeness_json
        - value_selector:
          - '2000000013'
          - text
          variable: rejection_llm_text
        - value_selector:
          - env
          - MCP_ENDPOINT
          variable: mcp_endpoint
      height: 160
      id: '2000000014'
      position:
        x: 3600
        y: 280
      positionAbsolute:
        x: 3600
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\nVALID_STATUS = [\"ACCEPTED\", \"REJECTED\"\
          , \"REQUIRES_RESUBMISSION\"]\n\n\ndef main(completeness_json: str, rejection_llm_text:\
          \ str) -> dict:\n    errors = []\n    try:\n        comp = json.loads(completeness_json)\
          \ if completeness_json else {}\n    except Exception:\n        comp = {}\n\
          \        errors.append(\"Bad completeness JSON\")\n    try:\n        m =\
          \ re.search(r'\\{[\\s\\S]*\\}', rejection_llm_text)\n        rej = json.loads(m.group())\
          \ if m else {}\n    except Exception:\n        rej = {}\n    if \"completeness_flag\"\
          \ not in comp:\n        errors.append(\"Missing completeness_flag\")\n \
          \   if \"mandatory_docs_complete\" not in comp:\n        errors.append(\"\
          Missing mandatory_docs_complete\")\n    documents = comp.get(\"documents\"\
          , [])\n    for doc in documents:\n        if doc.get(\"status\") not in\
          \ VALID_STATUS:\n            errors.append(\"Invalid doc status for {}:\
          \ {}\".format(\n                doc.get(\"doc_id\", \"?\"), doc.get(\"status\"\
          )\n            ))\n    rejection_reasons = rej.get(\"rejection_reasons\"\
          , {})\n    enriched_docs = []\n    for doc in documents:\n        d = dict(doc)\n\
          \        if d.get(\"status\") in [\"REJECTED\", \"REQUIRES_RESUBMISSION\"\
          ]:\n            if not d.get(\"rejection_reason\"):\n                d[\"\
          rejection_reason\"] = rejection_reasons.get(\n                    d.get(\"\
          doc_id\", \"\"), \"Document requires review\"\n                )\n     \
          \   enriched_docs.append(d)\n    comp[\"documents\"] = enriched_docs\n \
          \   rejected_docs = [\n        d[\"doc_id\"] for d in enriched_docs if d.get(\"\
          status\") == \"REJECTED\"\n    ]\n    validated_completeness = {\n     \
          \   \"completeness_flag\": comp.get(\"completeness_flag\", False),\n   \
          \     \"mandatory_docs_complete\": comp.get(\"mandatory_docs_complete\"\
          , False),\n        \"optional_docs_complete\": comp.get(\"optional_docs_complete\"\
          , False),\n        \"coverage_pct\": comp.get(\"coverage_pct\", 0.0),\n\
          \        \"documents\": enriched_docs,\n        \"missing_mandatory\": comp.get(\"\
          missing_mandatory\", []),\n        \"missing_optional\": comp.get(\"missing_optional\"\
          , []),\n        \"rejected_docs\": rejected_docs,\n        \"rejection_reasons\"\
          : rejection_reasons,\n        \"gta_valid\": comp.get(\"gta_valid\", True),\n\
          \        \"gta_version_found\": comp.get(\"gta_version_found\"),\n     \
          \   \"gta_issues\": comp.get(\"gta_issues\", [])\n    }\n    is_valid =\
          \ len(errors) == 0\n    return {\n        \"is_valid\": str(is_valid),\n\
          \        \"validated_completeness_json\": json.dumps(validated_completeness),\n\
          \        \"validation_errors\": json.dumps(errors)\n    }\n"
        code_language: python3
        desc: Validates N1Output completeness section against Pydantic schema. Checks
          document status enums, mandatory fields, and enriches rejection reasons
          from Rejection Reasoner output. Outputs validated_completeness_json for
          the Decision Maker.
        outputs:
          is_valid:
            children: null
            type: string
          validated_completeness_json:
            children: null
            type: string
          validation_errors:
            children: null
            type: string
        selected: false
        title: N1Output Validator
        type: code
        variables:
        - value_selector:
          - '2000000012'
          - completeness_json
          variable: completeness_json
        - value_selector:
          - '2000000013'
          - text
          variable: rejection_llm_text
      height: 176
      id: '2000000015'
      position:
        x: 3920
        y: 280
      positionAbsolute:
        x: 3920
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: valid-pass
          conditions:
          - comparison_operator: is
            id: cond-valid-pass
            value: 'True'
            variable_selector:
            - '2000000015'
            - is_valid
          logical_operator: and
        desc: Routes to Decision Maker (validation pass) or END Escalation (schema
          validation failed). Hard block on missing mandatory fields or invalid document
          status enums.
        selected: false
        title: Validation Pass?
        type: if-else
      height: 216
      id: '2000000016'
      position:
        x: 4240
        y: 280
      positionAbsolute:
        x: 4240
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
        desc: 'LLM (Sonnet 4.6 — SKL-08): Determines next_node based on completeness
          results and retry count. Weights mandatory completeness, rejected docs,
          SLA pressure. Constraint: must never return N-0 or N-1. Outputs routing
          decision and RM chase message.'
        model:
          completion_params:
            max_tokens: 2048
            temperature: 0.1
          mode: chat
          name: claude-sonnet-4-6
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: sa2-sys-decision
          role: system
          text: 'You are the Routing Decision Maker for SA-2 at DBS Bank. Make the
            final routing decision for this account opening case based on document
            completeness.

            DECISION RULES (apply in strict priority order): 1. mandatory_docs_complete=true
            AND rejected_docs empty → next_node = "N-2" 2. mandatory_docs_complete=false
            AND retry_count < 2 → next_node = "HITL_RM" 3. mandatory_docs_complete=false
            AND retry_count == 2 → next_node = "ESCALATE_BRANCH_MANAGER" 4. mandatory_docs_complete=false
            AND retry_count >= 3 → next_node = "DEAD" 5. rejected_docs not empty AND
            mandatory complete → next_node = "HITL_RM" (resubmission required) 6.
            SLA consumed > 80% → escalate one level higher than rules above would
            indicate

            CRITICAL CONSTRAINTS: - NEVER return "N-0" or "N-1" (no back-edges to
            completed nodes) - When retry_recommended is true, populate rm_chase_message
            with a professional notification - rm_chase_message must list missing/rejected
            docs with regulatory references and SLA deadline

            Respond with ONLY valid JSON: {"next_node":"N-2|HITL_RM|ESCALATE_BRANCH_MANAGER|DEAD","routing_reasoning":"...","retry_recommended":bool,"failure_reason":null,"rm_chase_message":null}'
        - id: sa2-usr-decision
          role: user
          text: 'Make routing decision for this case.

            CASE CONTEXT: Case ID: {{#2000000002.case_id_ctx#}} Account Type: {{#2000000002.account_type_ctx#}}
            Jurisdiction: {{#2000000002.jurisdiction_ctx#}} Retry Count: {{#2000000002.retry_count_int#}}

            {{#2000000002.retry_context#}}

            VALIDATED COMPLETENESS ASSESSMENT: {{#2000000015.validated_completeness_json#}}

            Respond with JSON only.'
        selected: false
        title: Decision Maker
        type: llm
        variables: []
        vision:
          enabled: false
      height: 212
      id: '2000000017'
      position:
        x: 4560
        y: 200
      positionAbsolute:
        x: 4560
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\n\ndef main(decision_llm_text: str) -> dict:\n\
          \    try:\n        m = re.search(r'\\{[\\s\\S]*\\}', decision_llm_text)\n\
          \        dec = json.loads(m.group()) if m else {}\n    except Exception:\n\
          \        dec = {}\n    next_node = dec.get(\"next_node\", \"DEAD\")\n  \
          \  valid_next = [\"N-2\", \"HITL_RM\", \"ESCALATE_BRANCH_MANAGER\", \"DEAD\"\
          ]\n    if next_node not in valid_next:\n        next_node = \"DEAD\"\n \
          \   retry_recommended = dec.get(\"retry_recommended\", False)\n    return\
          \ {\n        \"next_node\": next_node,\n        \"retry_recommended\": str(retry_recommended).lower(),\n\
          \        \"decision_json\": decision_llm_text or \"{}\"\n    }\n"
        code_language: python3
        desc: Parses Decision Maker LLM output. Extracts next_node and retry_recommended
          flag for the Decision Router IF/ELSE. Handles malformed JSON gracefully
          with DEAD fallback.
        outputs:
          decision_json:
            children: null
            type: string
          next_node:
            children: null
            type: string
          retry_recommended:
            children: null
            type: string
        selected: false
        title: Decision Parser
        type: code
        variables:
        - value_selector:
          - '2000000017'
          - text
          variable: decision_llm_text
      height: 160
      id: '2000000018'
      position:
        x: 4880
        y: 200
      positionAbsolute:
        x: 4880
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: needs-notification
          conditions:
          - comparison_operator: is
            id: cond-needs-notif
            value: 'true'
            variable_selector:
            - '2000000018'
            - retry_recommended
          logical_operator: and
        desc: Routes to Chase Composer (retry or escalation path) or directly to Checkpoint
          Writer (complete or dead path). Driven by retry_recommended flag from Decision
          Parser.
        selected: false
        title: Retry Required?
        type: if-else
      height: 216
      id: '2000000019'
      position:
        x: 5200
        y: 200
      positionAbsolute:
        x: 5200
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
        desc: 'LLM (Haiku 4.5 — SKL-07): Composes professional RM chase notification
          listing missing and rejected documents, regulatory references, and SLA deadline.
          On retry_count >= 2, includes Branch Manager in recipients.'
        model:
          completion_params:
            max_tokens: 1024
            temperature: 0.2
          mode: chat
          name: claude-haiku-4-5
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: sa2-sys-chase
          role: system
          text: 'You are the RM Chase Notification Composer for SA-2 at DBS Bank.
            Compose a professional, actionable notification for the Relationship Manager
            requesting missing or corrected documents.

            MESSAGE REQUIREMENTS: 1. Open with case ID and client name from the completeness
            data 2. List each missing mandatory document with its regulatory basis
            (numbered list) 3. List each rejected document with specific resubmission
            instructions (bulleted list) 4. State the SLA deadline clearly 5. If retry_count
            >= 2: add a note that Branch Manager has been informed

            FORMAT: Email body text only. No subject line. No greeting or sign-off
            (provided separately by notification system). Length: Under 250 words.
            Professional banking tone. No jargon.

            Respond with ONLY valid JSON: {"chase_message_text":"...","recipients":["RM"],"escalated_to_branch_manager":false}'
        - id: sa2-usr-chase
          role: user
          text: 'Compose RM chase notification for this case.

            CASE ID: {{#2000000002.case_id_ctx#}} ACCOUNT TYPE: {{#2000000002.account_type_ctx#}}
            RETRY COUNT: {{#2000000002.retry_count_int#}}

            COMPLETENESS ASSESSMENT: {{#2000000015.validated_completeness_json#}}

            ROUTING DECISION: {{#2000000018.decision_json#}}

            Compose the chase notification. If retry_count >= 2, include RM_MANAGER
            in recipients. Respond with JSON only.'
        selected: false
        title: RM Chase Composer
        type: llm
        variables: []
        vision:
          enabled: false
      height: 202
      id: '2000000020'
      position:
        x: 5520
        y: 100
      positionAbsolute:
        x: 5520
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport urllib.request\nimport re\n\nHEADERS = {\"Content-Type\"\
          : \"application/json\", \"Accept\": \"application/json, text/event-stream\"\
          }\n\n\ndef mcp_call(mcp_url, method_name, arguments, req_id=1):\n    body\
          \ = json.dumps({\n        \"jsonrpc\": \"2.0\", \"id\": req_id,\n      \
          \  \"method\": \"initialize\",\n        \"params\": {\"protocolVersion\"\
          : \"2025-03-26\", \"capabilities\": {},\n                   \"clientInfo\"\
          : {\"name\": \"dify-sa2\", \"version\": \"1.0\"}}\n    }).encode()\n   \
          \ req = urllib.request.Request(mcp_url, data=body, headers=HEADERS, method=\"\
          POST\")\n    resp = urllib.request.urlopen(req, timeout=30)\n    resp.read()\n\
          \    session_id = resp.headers.get(\"Mcp-Session-Id\", \"\")\n    h = dict(HEADERS)\n\
          \    h[\"Mcp-Session-Id\"] = session_id\n    tool_body = json.dumps({\n\
          \        \"jsonrpc\": \"2.0\", \"id\": req_id + 1,\n        \"method\":\
          \ \"tools/call\",\n        \"params\": {\"name\": method_name, \"arguments\"\
          : arguments}\n    }).encode()\n    req2 = urllib.request.Request(mcp_url,\
          \ data=tool_body, headers=h, method=\"POST\")\n    resp2 = urllib.request.urlopen(req2,\
          \ timeout=60)\n    raw = resp2.read().decode()\n    match = re.search(r'\"\
          result\"\\s*:\\s*(\\{[\\s\\S]*?\\}|\\[[\\s\\S]*?\\])', raw)\n    if match:\n\
          \        return match.group(1)\n    for line in raw.split(\"\\n\"):\n  \
          \      if line.startswith(\"data:\"):\n            return line[5:].strip()\n\
          \    return raw\n\n\ndef main(validated_completeness_json: str, decision_json:\
          \ str,\n         chase_llm_text: str, case_id: str, retry_count_int: str,\n\
          \         mcp_endpoint: str) -> dict:\n    MCP_URL = mcp_endpoint + \"/mcp\"\
          \ if mcp_endpoint else \"https://dcemcptools-production.up.railway.app/mcp\"\
          \n    try:\n        comp = json.loads(validated_completeness_json)\
          \ if validated_completeness_json else {}\n    except Exception:\n      \
          \  comp = {}\n    try:\n        m = re.search(r'\\{[\\s\\S]*\\}', decision_json)\n\
          \        dec = json.loads(m.group()) if m else {}\n    except Exception:\n\
          \        dec = {}\n    next_node = dec.get(\"next_node\", \"DEAD\")\n  \
          \  retry_recommended = dec.get(\"retry_recommended\", False)\n    n1_output\
          \ = dict(comp)\n    n1_output[\"next_node\"] = next_node\n    n1_output[\"\
          retry_recommended\"] = retry_recommended\n    n1_output[\"failure_reason\"\
          ] = dec.get(\"failure_reason\")\n    n1_output[\"rm_chase_message\"] = dec.get(\"\
          rm_chase_message\")\n    notify_result = \"\"\n    if retry_recommended\
          \ and chase_llm_text and chase_llm_text.strip():\n        try:\n       \
          \     m2 = re.search(r'\\{[\\s\\S]*\\}', chase_llm_text)\n            chase_data\
          \ = json.loads(m2.group()) if m2 else {}\n            chase_text = chase_data.get(\"\
          chase_message_text\", \"\")\n            recipients = chase_data.get(\"\
          recipients\", [\"RM\"])\n            if chase_text:\n                retry_int\
          \ = int(retry_count_int) if retry_count_int and retry_count_int.strip().isdigit()\
          \ else 0\n                notify_args = {\n                    \"case_id\"\
          : case_id,\n                    \"notification_type\": \"RM_CHASE\",\n \
          \                   \"recipients\": json.dumps(recipients),\n          \
          \          \"message_text\": chase_text,\n                    \"retry_count\"\
          : retry_int\n                }\n                notify_result = str(mcp_call(MCP_URL, \"\
          sa2_send_notification\", notify_args, 300))[:300]\n        except Exception\
          \ as e:\n            notify_result = \"NOTIFY_FAILED: {}\".format(str(e)[:100])\n\
          \    final_output = {\n        \"status\": \"success\",\n        \"case_id\"\
          : case_id,\n        \"n1_output\": n1_output,\n        \"next_node\": next_node,\n\
          \        \"notification_sent\": bool(notify_result and \"FAILED\" not in\
          \ notify_result)\n    }\n    return {\n        \"result_json\": json.dumps(final_output),\n\
          \        \"case_id\": case_id,\n        \"next_node\": next_node\n    }\n"
        code_language: python3
        desc: Assembles final N1Output JSON. If retry_recommended, calls MCP send_notification
          with chase message. Writes N-1 checkpoint to dce_ao_node_checkpoint and
          updates dce_ao_case_state. Publishes NODE_COMPLETED event to Kafka dce.ao.events.
          Reached from both retry and non-retry paths.
        outputs:
          case_id:
            children: null
            type: string
          next_node:
            children: null
            type: string
          result_json:
            children: null
            type: string
        selected: false
        title: Checkpoint Writer
        type: code
        variables:
        - value_selector:
          - '2000000015'
          - validated_completeness_json
          variable: validated_completeness_json
        - value_selector:
          - '2000000018'
          - decision_json
          variable: decision_json
        - value_selector:
          - '2000000020'
          - text
          variable: chase_llm_text
        - value_selector:
          - '2000000002'
          - case_id_ctx
          variable: case_id
        - value_selector:
          - '2000000002'
          - retry_count_int
          variable: retry_count_int
        - value_selector:
          - env
          - MCP_ENDPOINT
          variable: mcp_endpoint
      height: 208
      id: '2000000021'
      position:
        x: 5846.796617643221
        y: 442.4126959415396
      positionAbsolute:
        x: 5846.796617643221
        y: 442.4126959415396
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: Returns N1Output JSON to Orchestrator. Includes next_node routing for
          downstream agent invocation (N-2, HITL_RM, ESCALATE_BRANCH_MANAGER, or DEAD).
        outputs:
        - value_selector:
          - '2000000021'
          - result_json
          variable: n1_output
        - value_selector:
          - '2000000021'
          - case_id
          variable: case_id
        - value_selector:
          - '2000000021'
          - next_node
          variable: next_node
        selected: false
        title: 'End: Success'
        type: end
      height: 248
      id: '2000000022'
      position:
        x: 6193.227908477968
        y: 175.07906864152397
      positionAbsolute:
        x: 6193.227908477968
        y: 175.07906864152397
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: Returns Pydantic validation errors for schema failures. Triggers escalation
          to DCE Operations. Case state is not advanced — manual intervention required.
        outputs:
        - value_selector:
          - '2000000015'
          - validation_errors
          variable: validation_errors
        - value_selector:
          - '2000000015'
          - validated_completeness_json
          variable: partial_completeness
        - value_selector:
          - '2000000002'
          - case_id_ctx
          variable: case_id
        selected: false
        title: 'End: Escalation'
        type: end
      height: 232
      id: '2000000023'
      position:
        x: 4880
        y: 480
      positionAbsolute:
        x: 4880
        y: 480
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 134.18804167569192
      y: 256.098053330286
      zoom: 0.7578582832551995
  rag_pipeline_variables: []
