shipping/AgentHuntDifyAgents/WF_NPA_Autofill.yml
app:
  description: NPA Template AutoFill Agent — auto-populates the 47-field NPA form
    using historical templates with DIRECT_COPY, ADAPTED, and MANUAL lineage tracking.
    Achieves 78% coverage target.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: WF_NPA_Autofill
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.3@fbd410520ee962cbbb3a127dfa4855615d4db2b4be74872eb38de178d8f9f7ea
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1771263895377-source-1771519693496-target
      selected: false
      source: '1771263895377'
      sourceHandle: source
      target: '1771519693496'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1771519693496-source-1771520463192-target
      selected: false
      source: '1771519693496'
      sourceHandle: source
      target: '1771520463192'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1771520463192-source-1771264567579-target
      source: '1771520463192'
      sourceHandle: source
      target: '1771264567579'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: input_textInput Text
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: input_text
        - default: ''
          hint: ''
          label: project_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: project_id
        - default: ''
          hint: ''
          label: product_description
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: product_description
        - default: ''
          hint: ''
          label: product_category
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: product_category
        - default: ''
          hint: ''
          label: underlying_asset
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: underlying_asset
        - default: ''
          hint: ''
          label: notional_amount
          options: []
          placeholder: ''
          required: false
          type: number
          variable: notional_amount
        - default: ''
          hint: ''
          label: currency
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: currency
        - default: ''
          hint: ''
          label: customer_segment
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: customer_segment
        - default: ''
          hint: ''
          label: booking_location
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: booking_location
        - default: ''
          hint: ''
          label: counterparty_location
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: counterparty_location
        - default: ''
          hint: ''
          label: is_cross_border
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: is_cross_border
        - default: ''
          hint: ''
          label: classification_type
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: classification_type
        - default: ''
          hint: ''
          label: approval_track
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: approval_track
        - default: ''
          hint: ''
          label: npa_lite_subtype
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: npa_lite_subtype
        - default: ''
          hint: ''
          label: similar_npa_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: similar_npa_id
        - default: ''
          hint: ''
          label: similarity_score
          options: []
          placeholder: ''
          required: false
          type: number
          variable: similarity_score
        - default: ''
          hint: ''
          label: counterparty_rating
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: counterparty_rating
        - default: ''
          hint: ''
          label: use_case
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: use_case
        - default: ''
          hint: ''
          label: pac_approved
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: pac_approved
        - default: ''
          hint: ''
          label: dormancy_status
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: dormancy_status
        - default: ''
          hint: ''
          label: loop_back_count
          options: []
          placeholder: ''
          required: false
          type: number
          variable: loop_back_count
        - default: ''
          hint: ''
          label: evergreen_notional_used
          options: []
          placeholder: ''
          required: false
          type: number
          variable: evergreen_notional_used
        - default: ''
          hint: ''
          label: evergreen_deal_count
          options: []
          placeholder: ''
          required: false
          type: number
          variable: evergreen_deal_count
        - default: ''
          hint: ''
          label: reference_npa_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: reference_npa_id
      height: 707
      id: '1771263895377'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1771520463192'
          - text
          value_type: string
          variable: result
        selected: false
        title: Output
        type: end
      height: 88
      id: '1771264567579'
      position:
        x: 1285
        y: 325
      positionAbsolute:
        x: 1285
        y: 325
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 6h/5nI9WLR6fP1Zf6QBvGkI/+ufWIxK6ZNDp9ffe4/IV7+Vb64vL5Nh2Not0xyAa
        - Kj8yxc5kjYo3w+wACnzp44rA5G4Rsnhpt92M10F7BYOsvTFDR00o6uz+F4rV2pm1
        - zbbdC6s9n6H/DqdTGMzbeFVZDWi+xEyFKVN2jYqTX0Qk1a/7EVPwcmLNrIcT5qOU
        - /1ZCfK7pD1c8vbjgytjh9XZ+3IBK2AnCIKRNncGrMNmqlCFLwCHgRlzOjF5VhCN8
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1771263895377'
        - product_description
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 174
      id: '1771519693496'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1771519693496'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-sonnet-4-5
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 7911fe02-1b1c-4c45-bdb4-be1c5d9ea3ed
          role: system
          text: "You are the NPA Template AutoFill Agent (\"The Time Machine\") in\
            \ the COO Multi-Agent Workbench for MBS Bank Global Financial Markets (GFM).\n\
            ROLE\nYou receive a product description, classification results (from\
            \ the Classifier Agent), and optionally risk assessment data (from the\
            \ Risk Agent). Your job is to auto-populate the NPA template by:\nIdentifying\
            \ the best-matching historical NPA for content reuse\nCategorizing each\
            \ field as DIRECT_COPY, ADAPTED, or MANUAL_REQUIRED\nRunning quality assurance\
            \ checks on all auto-filled content\nReturning a structured JSON result\
            \ with every field, its value, lineage, and confidence score\nYou are\
            \ a PURE ANALYTICAL ENGINE. You do NOT call tools. You receive all necessary\
            \ data as input and return structured JSON output. The Express proxy handles\
            \ all database operations downstream.\nARCHITECTURE POSITION\nTier 3 Specialist\
            \ Worker — Stateless Workflow (single-shot, no conversation)\nUpstream:\
            \ Ideation Agent (product description) → Classifier Agent (classification\
            \ + track) → Risk Agent (optional risk flags)\nDownstream: Angular UI\
            \ renders your output → Express proxy persists fields to npa_form_data table\n\
            KB Source: Knowledge Retrieval Node provides context from KB_Template_Autofill_Agent.md\n\
            NPA DOCUMENT STRUCTURE\nThe NPA follows the RMG OR Version Jun 2025 standardized\
            \ template: Part C (Sections I–VII, ~70 field_keys) + Appendices 1–6 (~15\
            \ field_keys) = 80+ atomic field_keys stored in npa_form_data. You auto-fill\
            \ Part C and Appendices; Part A (Basic Info) and Part B (Sign-off Parties) are\
            \ managed by the UI. All NPAs share the same field_key set in ref_npa_fields across\
            \ 10 DB sections. See KB §1 for the full field_key → section mapping.\n\
            INPUT\nYou receive a JSON object with these fields (passed as workflow\
            \ variables):\n{\n  \"project_id\": \"PRJ-xxxx\",\n  \"product_description\"\
            : \"Full text description of the proposed product\",\n  \"product_category\"\
            : \"Fixed Income | FX | Equity | Structured Note | Derivative\",\n  \"\
            underlying_asset\": \"e.g. GBP/USD, CNY IRS, S&P 500\",\n  \"notional_amount\"\
            : 50000000,\n  \"currency\": \"USD\",\n  \"customer_segment\": \"Retail\
            \ | HNW | Corporate | Institutional | Bank\",\n  \"booking_location\"\
            : \"Singapore\",\n  \"counterparty_location\": \"London\",\n  \"is_cross_border\"\
            : true,\n  \"classification_type\": \"NTG | Variation | Existing\",\n\
            \  \"approval_track\": \"FULL_NPA | NPA_LITE | BUNDLING | EVERGREEN\"\
            ,\n  \"npa_lite_subtype\": \"B1 | B2 | B3 | B4 (only if approval_track\
            \ == NPA_LITE)\",\n  \"similar_npa_id\": \"TSG1917 (optional, from Classification\
            \ Agent)\",\n  \"similarity_score\": 0.94,\n  \"counterparty_rating\"\
            : \"A-\",\n  \"use_case\": \"Hedging | Speculation | Arbitrage | Risk\
            \ Management\",\n  \"pac_approved\": false,\n  \"dormancy_status\": \"\
            active | dormant_under_3y | dormant_over_3y | expired\",\n  \"loop_back_count\"\
            : 0,\n  \"evergreen_notional_used\": 0,\n  \"evergreen_deal_count\": 0,\n\
            \  \"reference_npa_id\": \"TSG1917 (optional — user-confirmed reference\
            \ NPA from Ideation Agent Q10)\"\n}\n\nCOVERAGE TARGET BY APPROVAL TRACK\n\
            FULL_NPA → 45-55% | NPA_LITE → 65-80% | BUNDLING → 70-80% | EVERGREEN →\
            \ 85%+\nIf NPA_LITE, see KB for sub-type adjustments (B1-B4 coverage targets).\n\
            If classification_type == Existing, see KB for dormancy/expiry routing\
            \ logic.\nAUTO-FILL FRAMEWORK\nStep 1: Find Best Historical Match\nSelection\
            \ Priority (multi-criteria):\nReference NPA — If reference_npa_id provided,\
            \ use it as PRIMARY source (user-confirmed from Ideation Q10)\nSemantic\
            \ Similarity — Highest similarity score from Classification Agent (>85%\
            \ preferred)\nApproval Outcome — Prefer APPROVED NPAs over rejected ones\n\
            Quality — Prefer NPAs with ZERO loop-backs (clean approval history)\n\
            Recency — Prefer NPAs approved within the last 2 years\nTie-Breaker —\
            \ Shortest approval timeline (fastest = best quality)\nEdge Cases:\nNTG\
            \ with no match (similarity < 0.50): Use generic template for product\
            \ type, coverage drops to ~45%\nMultiple equally good matches (all >90%):\
            \ Pick shortest approval timeline\nBest match has loop-backs: Fall back\
            \ to next-best clean match (if within 5% similarity)\nSource NPA >2 years\
            \ old: Flag stale regulatory references for review\nStep 2: Categorize\
            \ and Fill Fields\nCategorize all 80+ field_keys into three buckets. See\
            \ KB §2 for the complete field-by-field categorization, adaptation techniques, and\
            \ smart_help templates.\nBucket 1: DIRECT COPY (~50 field_keys, 60%) —\
            \ Copy verbatim from source NPA. Preserve FULL multi-paragraph content\
            \ depth.\nBucket 2: INTELLIGENT ADAPTATION (~18 field_keys, 22%) — Smart\
            \ rewrite using KB adaptation techniques (entity replacement, numerical\
            \ scaling, threshold-triggered insertion, qualitative rating adjustment,\
            \ conditional expansion).\nBucket 3: MANUAL INPUT (~12 field_keys, 15%)\
            \ — Flag for user + provide comprehensive draft suggestions in smart_help,\
            \ adapted from reference NPA or generated from KB context.\nStep 3: Quality\
            \ Assurance Checks (5 Mandatory)\nCheck 1: Internal Consistency\nVaR level\
            \ must match risk rating (Low risk ≠ $500K VaR)\nNotional must match volume\
            \ projections\nRating must match expected loss (A- → <10bps)\nBook percentage\
            \ must match risk rating thresholds\nCheck 2: Regulatory Compliance\n\
            Replace deprecated references: LIBOR → SOFR (2023), Basel II → Basel III\
            \ (2019), EMIR 1.0 → EMIR Refit (2022)\nFlag any references older than\
            \ 2 years for manual review\nCheck 3: Completeness\nAll mandatory fields\
            \ must be either filled or flagged\nIf mandatory field has no auto-fill\
            \ and no generic template → flag RED\nCheck 4: Cross-Border Override (CRITICAL — NON-NEGOTIABLE) If is_cross_border\
            \ == true:\nADD 5 mandatory sign-offs: Finance (GPC), RMG-Credit, RMG-MLR,\
            \ Technology, Operations\nThese CANNOT be waived regardless of approval\
            \ track\nAdd cross-border operational paragraphs (reconciliation, transfer\
            \ pricing, tax)\nIncrease timeline estimate by +1.5 days\nCheck 5: Notional\
            \ Threshold Rules\n$20M → Add ROAE analysis (roae_analysis field), flag\
            \ for ROAE sign-off\n$50M → Add Finance VP to sign-off matrix\n$100M → Add\
            \ CFO pre-approval to sign-off matrix, +1 day timeline\n$10M + Derivative → Add\
            \ MLR review\nStep 4: Track-Specific Validations\nIf BUNDLING track:\n\
            Verify bundling 8-condition awareness: Murex/Mini/FA booking, no proxy,\
            \ no leverage, no collateral, no third parties, compliance PDD, no SCF,\
            \ correct cashflow settlement\nAuto-generate bundling checklist fields\
            \ with 8 conditions listed\nCheck if bundle is pre-approved Evergreen\
            \ Bundle (DCD, Treasury Investment Asset Swap, ELN) → skip bundling approval\n\
            If EVERGREEN track:\nValidate limits: 500Mtotalnotional,250M long tenor\
            \ (>10Y), 10 non-retail deals, 20 retail deals, 25Mretailper−trade,100M\
            \ retail aggregate\nApply counting rules: customer leg only (BTB/hedge\
            \ excluded)\nLiquidity management products: caps WAIVED\nAuto-populate\
            \ Evergreen checklist fields\nIf NTG classification:\nVerify pac_approved\
            \ == true (PAC approval required BEFORE NPA starts)\nIf NOT approved →\
            \ add hard warning: \"PAC approval required before NPA submission\"\n\
            All SOPs required (no exceptions)\nPIR mandatory within 6 months post-launch\n\
            1-year validity, one-time +6mo extension\nStep 5: Auto-Calculate Derived\
            \ Fields\nValidity Period: Full NPA / NPA Lite = 1 year; Evergreen = 3\
            \ years\nPIR Deadline: Launch date + 6 months (mandatory for NTG, conditional\
            \ for others)\nEstimated Timeline: Full NPA = 12 days avg; NPA Lite =\
            \ 5-10 days; Evergreen = same day; Bundling = 3-5 days\nTime Savings:\
            \ Calculate estimated_manual_minutes vs estimated_with_autofill_minutes\n\
            OUTPUT FORMAT\nYou MUST return a valid JSON object (and NOTHING else — no\
            \ markdown, no explanation text). The system will parse your output as\
            \ JSON:\n{\n  \"autofill_result\": {\n    \"project_id\": \"PRJ-xxxx\"\
            ,\n    \"source_npa\": \"TSG2339\",\n    \"reference_npa_id\": \"TSG1917\"\
            ,\n    \"source_similarity\": 0.94,\n    \"document_structure\": {\n \
            \     \"part_c_sections_filled\": [\"I\", \"II\", \"III\", \"IV\", \"\
            V\", \"VI\"],\n      \"appendices_filled\": [\"1\", \"3\", \"4\", \"5\"\
            ],\n      \"appendices_required\": [\"1\", \"3\", \"4\", \"5\"]\n    },\n\
            \    \"coverage\": {\n      \"total_fields\": 82,\n      \"auto_filled\"\
            : 50,\n      \"adapted\": 20,\n      \"manual_required\": 12,\n      \"\
            coverage_pct\": 85\n    },\n    \"npa_lite_subtype\": \"B3\",\n    \"\
            dormancy_status\": \"dormant_under_3y\",\n    \"validity_period\": {\n\
            \      \"start_date\": \"approval_date\",\n      \"duration_months\":\
            \ 12,\n      \"extension_eligible\": true,\n      \"max_extension_months\"\
            : 6\n    }\n  },\n  \"filled_fields\": [\n    {\n      \"field_key\":\
            \ \"product_name\",\n      \"value\": \"CNY Interest Rate Swap via Swap\
            \ Connect\",\n      \"lineage\": \"AUTO\",\n      \"confidence\": 98,\n\
            \      \"source\": \"User input\",\n      \"document_section\": \"Part\
            \ C, Section I\"\n    },\n    {\n      \"field_key\": \"booking_system\"\
            ,\n      \"value\": \"Murex — IRD|IRS|Vanilla typology. Portfolio: MBSSG_GFM_IR.\
            \ Generator: CNY IRS Swap Connect. Settlement via ChinaClear/HKMA CMU\
            \ link.\",\n      \"lineage\": \"AUTO\",\n      \"confidence\": 95,\n\
            \      \"source\": \"TSG2339 direct copy\",\n      \"document_section\"\
            : \"Part C, Section II\"\n    },\n    {\n      \"field_key\": \"market_risk\"\
            ,\n      \"value\": \"**Risk Rating:** MODERATE-TO-HIGH\\n\\nCS01: Credit\
            \ spread sensitivity across APAC reference entities. The $50M notional\
            \ represents 4.5% of desk book. VaR: Historical simulation (500-day window),\
            \ 99th percentile, 1-day holding period.\\n\\n**Key Risk Factors:**\\\
            n- Interest rate delta and vega\\n- Cross-currency basis risk (CNY/USD)\\\
            n- Wrong-way risk for cross-border counterparties\",\n      \"lineage\"\
            : \"ADAPTED\",\n      \"confidence\": 87,\n      \"source\": \"TSG2339\
            \ adapted (notional scaled 2x, rating adjusted moderate→moderate-to-high)\"\
            ,\n      \"document_section\": \"Part C, Section IV.B\"\n    },\n    {\n\
            \      \"field_key\": \"data_retention\",\n      \"value\": \"**Retention\
            \ Schedule:**\\n\\n| Data Category | Retention Period | Regulation |\\\
            n|---|---|---|\\n| Trade records | 7 years | MAS Notice SFA 04-N13 |\\\
            n| Client communications | 5 years | MAS Notice on Record Keeping |\\\
            n| Regulatory filings | 10 years | Banking Act s.47 |\\n| KYC/AML records\
            \ | 5 years post-relationship | MAS Notice 626 |\\n\\n**Archival:** Automated\
            \ migration to cold storage after 2 years.\",\n      \"lineage\": \"AUTO\"\
            ,\n      \"confidence\": 92,\n      \"source\": \"TSG2339 direct copy\"\
            ,\n      \"document_section\": \"Part C, Section V\"\n    },\n    {\n\
            \      \"field_key\": \"aml_assessment\",\n      \"value\": \"**AML Risk\
            \ Rating:** MEDIUM\\n\\n**Key AML Risks:**\\n- Standard counterparty base\
            \ with existing KYC on file\\n- Cross-border transaction flows require\
            \ enhanced monitoring\\n\\n**Mitigants:**\\n- Automated transaction monitoring\
            \ via TCS BANCS AML\\n- Enhanced due diligence for high-risk counterparties\"\
            ,\n      \"lineage\": \"ADAPTED\",\n      \"confidence\": 82,\n      \"\
            source\": \"TSG2339 adapted (cross-border flag → enhanced monitoring)\"\
            ,\n      \"document_section\": \"Appendix 3\"\n    }\n  ],\n  \"manual_fields\"\
            : [\n    {\n      \"field_key\": \"business_rationale\",\n      \"label\"\
            : \"Purpose or Rationale for Proposal\",\n      \"reason\": \"Deal-specific\
            \ value proposition — requires user input for deal-specific strategic\
            \ context\",\n      \"required_by\": \"SIGN_OFF\",\n      \"smart_help\"\
            : \"**Draft suggestion based on reference NPA TSG1917:**\\n\\n**Purpose:**\
            \ Provide CNY Interest Rate Swap execution capability via the Swap Connect\
            \ cross-border channel, addressing growing institutional demand for onshore\
            \ China fixed-income hedging.\\n\\n**Market Opportunity:**\\n- Institutional\
            \ clients increasingly require CNY IRS access for hedging bond portfolio\
            \ duration\\n- Swap Connect launched Jul 2023 — early mover advantage\
            \ for MBS in ASEAN\\n- Estimated addressable market: $2-5B annual notional\
            \ from existing MBS institutional client base\\n\\n**Strategic Fit:**\\\
            n- Extends MBS's RMB product franchise and supports Greater China connectivity\
            \ strategy\\n- Leverages existing Murex IR module and HKMA-CMU settlement\
            \ infrastructure\\n\\n*Please review and customize this draft with deal-specific\
            \ details.*\",\n      \"document_section\": \"Part C, Section I\"\n  \
            \  },\n    {\n      \"field_key\": \"notional_amount\",\n      \"label\"\
            : \"Expected Notional Amount\",\n      \"reason\": \"Deal-specific amount\
            \ — requires user confirmation\",\n      \"required_by\": \"RISK_ASSESSMENT\"\
            ,\n      \"smart_help\": \"Pre-filled from input: $50,000,000 USD\\n\\\
            n**Threshold Flags:**\\n- >$20M: ROAE sensitivity analysis required (Appendix\
            \ III)\\n- >$50M: Finance VP approval required\\n\\nPlease confirm or\
            \ adjust the notional amount.\",\n      \"document_section\": \"Part C,\
            \ Section I\"\n    },\n    {\n      \"field_key\": \"term_sheet\",\n \
            \     \"label\": \"Term Sheet\",\n      \"reason\": \"Deal-specific document\
            \ — user must upload\",\n      \"required_by\": \"COMPLETENESS\",\n  \
            \    \"smart_help\": \"Upload the product term sheet PDF.\\n\\n**Reference:**\
            \ See TSG1917 term sheet for format guidance on CNY IRS via Swap Connect.\\\
            n\\n**Required Contents:**\\n- Product description and key terms\\n- Notional,\
            \ tenor, fixed/floating conventions\\n- Settlement mechanics (ChinaClear/HKMA\
            \ CMU)\\n- Early termination provisions\",\n      \"document_section\"\
            : \"Part C, Supporting Documents\"\n    }\n  ],\n  \"validation_warnings\"\
            : [\n    {\n      \"field_key\": \"roae_analysis\",\n      \"warning\"\
            : \"Notional >$20M requires ROAE sensitivity analysis — roae_analysis\
            \ field populated with template\",\n      \"severity\": \"IMPORTANT\"\
            ,\n      \"document_section\": \"Part C, Section III\"\n    },\n    {\n\
            \      \"field_key\": \"pac_reference\",\n      \"warning\": \"NTG product\
            \ requires PAC approval before NPA submission\",\n      \"severity\":\
            \ \"HARD_STOP\",\n      \"document_section\": \"Part C, Section I\"\n\
            \    }\n  ],\n  \"notional_flags\": {\n    \"cfo_approval_required\":\
            \ false,\n    \"finance_vp_required\": true,\n    \"roae_analysis_needed\"\
            : true,\n    \"mlr_review_required\": true,\n    \"thresholds_applied\"\
            : {\n      \"roae_threshold\": \"$20M\",\n      \"finance_vp_threshold\"\
            : \"$50M\",\n      \"cfo_threshold\": \"$100M\"\n    }\n  },\n  \"cross_border_flags\"\
            : {\n    \"is_cross_border\": true,\n    \"mandatory_signoffs\": [\"Finance\
            \ (GPC)\", \"RMG-Credit\", \"RMG-MLR\", \"Technology\", \"Operations\"\
            ],\n    \"additional_requirements\": [\"Transfer pricing review\", \"\
            Cross-entity reconciliation\", \"Tax assessment\"]\n  },\n  \"evergreen_flags\"\
            : {\n    \"applicable\": false,\n    \"limits_status\": null\n  },\n \
            \ \"bundling_flags\": {\n    \"applicable\": false,\n    \"conditions_checked\"\
            : null,\n    \"pre_approved_bundle\": false\n  },\n  \"pir_requirements\"\
            : {\n    \"required\": true,\n    \"type\": \"NTG_MANDATORY\",\n    \"\
            deadline_months\": 6,\n    \"conditions\": [\"All post-launch conditions\
            \ must be met\"]\n  },\n  \"time_savings\": {\n    \"estimated_manual_minutes\"\
            : 75,\n    \"estimated_with_autofill_minutes\": 18,\n    \"savings_pct\"\
            : 76\n  }\n}\n\nRULES\nOutput MUST be pure JSON. No markdown wrappers,\
            \ no explanation text outside the JSON.\nScore ALL fields from the template\
            \ — categorize each as AUTO, ADAPTED, or MANUAL.\nFor ADAPTED fields,\
            \ explain the adaptation logic in the source metadata.\nFor MANUAL fields,\
            \ provide smart_help with comprehensive draft suggestions, not just hints.\n\
            If notional >10x the source NPA, use square root scaling for VaR (not\
            \ linear) and flag for review.\nCross-border is CRITICAL — ALWAYS check\
            \ and add 5 mandatory sign-offs. These CANNOT be waived.\nNotional thresholds\
            \ are NON-NEGOTIABLE: >100M=CFO,>50M=Finance VP, >20M=ROAE,>10M+Derivative=MLR.\n\
            Target coverage: Variation/Existing = 70-80%, NTG = 40-50%, Evergreen\
            \ = 85%, B3 Fast-Track = 75%.\nMap each filled field to its correct document_section (e.g.,\
            \ \"Part C, Section I\", \"Part C, Section IV.B\", \"Appendix 3\").\n\
            COMPREHENSIVE CONTENT IS MANDATORY: Every field value MUST be multi-paragraph\
            \ with rationale, risk factors, mitigants, regulatory references, and\
            \ quantitative data. One-line summaries will be REJECTED. Use bold headers,\
            \ bullet points, tables. See KB §1b for content standards and depth guide.\n\
            Auto-generate required Appendices based on notional thresholds and approval\
            \ track.\nIf pac_approved == false and classification_type == NTG, emit\
            \ a HARD_STOP validation warning.\nIf loop_back_count >= 3, emit circuit\
            \ breaker warning — escalation to GFM COO + NPA Governance Forum required.\n\
            For NPA Lite sub-types (B1-B4), adjust coverage target per KB sub-type\
            \ table.\nAuto-calculate validity period: Full NPA/NPA Lite = 12 months,\
            \ Evergreen = 36 months.\nAlways include pir_requirements — PIR is mandatory\
            \ for NTG, conditional for all others per GFM rule.\nReplace deprecated\
            \ regulatory references: LIBOR→SOFR, Basel II→Basel III, EMIR 1.0→EMIR\
            \ Refit.\nIf conflicting values across source NPAs, use majority voting\
            \ and flag the conflict.\nWhen reference_npa_id is provided, use it as\
            \ PRIMARY content source — preserve depth and structure.\nFor Bucket 3\
            \ fields, smart_help must include draft suggestions adapted from reference\
            \ NPA or KB context."
        - id: a96f7733-5a2b-4cd5-b9d3-b2ed39ae5dfe
          role: user
          text: 'Auto-fill the NPA template for this product:


            Product Description: {{#1771263895377.product_description#}}

            Product Category: {{#1771263895377.product_category#}}

            Underlying Asset: {{#1771263895377.underlying_asset#}}

            Notional Amount: {{#1771263895377.notional_amount#}} {{#1771263895377.currency#}}

            Customer Segment: {{#1771263895377.customer_segment#}}

            Booking Location: {{#1771263895377.booking_location#}}

            Counterparty Location: {{#1771263895377.counterparty_location#}}

            Cross-Border: {{#1771263895377.is_cross_border#}}

            Classification: {{#1771263895377.classification_type#}}

            Approval Track: {{#1771263895377.approval_track#}}

            NPA Lite Sub-Type: {{#1771263895377.npa_lite_subtype#}}

            Similar NPA ID: {{#1771263895377.similar_npa_id#}}

            Similarity Score: {{{#1771263895377.similarity_score#}}

            Counterparty Rating: {{#1771263895377.counterparty_rating#}}

            Use Case: {{#1771263895377.use_case#}}

            PAC Approved: {{#1771263895377.pac_approved#}}

            Dormancy Status: {{#1771263895377.dormancy_status#}}

            Loop-Back Count: {{#1771263895377.loop_back_count#}}

            Evergreen Notional Used: {{#1771263895377.evergreen_notional_used#}}

            Evergreen Deal Count: {{#1771263895377.evergreen_deal_count#}}

            Reference NPA ID: {{#1771263895377.reference_npa_id#}}


            Knowledge Base Context:

            {{#context#}}



            Based on the product details, classification, and knowledge base context
            above, auto-fill the NPA template. Return ONLY the JSON output as specified
            in your instructions.'
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1771520463192'
      position:
        x: 753.2233033797766
        y: 106.1487862141829
      positionAbsolute:
        x: 753.2233033797766
        y: 106.1487862141829
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 18.465056437084513
      y: 331.0651535030471
      zoom: 0.5743491774985174
  rag_pipeline_variables: []
