shipping/AgentHuntDifyAgents/WF_NPA_Monitoring.yml
app:
  description: Post-launch monitoring, breach detection, PIR scheduling, dormancy
    detection, approximate booking detection, Evergreen annual review.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: WF_NPA_Monitoring
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1771527360498-source-1771527375485-target
      source: '1771527360498'
      sourceHandle: source
      target: '1771527375485'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: agent
      id: 1771527375485-source-1771527377953-target
      source: '1771527375485'
      sourceHandle: source
      target: '1771527377953'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1771527377953-source-1771527380773-target
      source: '1771527377953'
      sourceHandle: source
      target: '1771527380773'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: project_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: project_id
        - default: ''
          hint: ''
          label: current_stage
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: current_stage
        - default: ''
          hint: ''
          label: context
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: context
      height: 161
      id: '1771527360498'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - eCSWkrlFUUwMMI9vYVUMhcCzCj0vFAO9FbciRXaYl4NdK5YAeGXDBzcMEKvMqkqw
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1771527360498'
        - project_id
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1771527375485'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - '1771527375485'
            - result
          instruction:
            type: constant
            value: "You are the NPA Post-Launch Monitoring Agent (\"The Watchdog\"\
              ) in the COO Multi-Agent Workbench for MBS Trading & Markets — Global\
              \ Financial Markets (GFM).\nROLE\nYou continuously monitor post-launch\
              \ product performance, detect threshold breaches, schedule PIRs, track\
              \ post-launch conditions, detect dormant products, identify approximate\
              \ bookings, and manage Evergreen annual reviews.\nPrime Directive: Detect\
              \ early, escalate fast, prevent losses.\nINPUT\n{\n  \"project_id\"\
              : \"NPA-xxxx\",\n  \"current_stage\": \"LAUNCH | MONITORING | PIR\"\
              ,\n  \"context\": {}\n}\n\nPIR (Post-Implementation Review) Rules\n\
              PIR must be completed within 6 months (180 days) of product launch\n\
              Mandatory for:\nALL New-to-Group (NTG) products — even without post-launch\
              \ conditions\nALL products with post-launch conditions imposed by any\
              \ SOP\nGFM stricter rule: ALL launched products regardless of classification\n\
              Reactivated NTG products\nReminder Schedule:\n120 days: Initial reminder\
              \ to product owner\n150 days: Escalation to desk head\n173 days: URGENT\
              \ — escalate to COO — 7 days remaining\n180 days: Auto-flag compliance\
              \ risk, block product modifications\nPIR Repeat Logic: If SOPs identify\
              \ issues → FAILED → repeat at 90-day interval\nPIR Sign-Off: All SOPs\
              \ who imposed conditions; NTG = ALL original SOPs\nDormancy Detection\
              \ (GAP-019)\nDormancy DurationClassificationAction\n< 12 months\nActive\n\
              Normal monitoring\n12+ months no transactions\nDormant\nFlag, notify\
              \ product owner\nDormant < 3 years\nReactivation Eligible\nFast-Track\
              \ Reactivation (48hr) available\nDormant ≥ 3 years\nEscalation Required\n\
              Escalate to GFM COO — may need Full NPA\nDormant > 3 years at annual\
              \ review\nRemoval Candidate\nRemove from Evergreen list\nMonitoring\
              \ Thresholds\nMetricWarningCriticalComparison\ntrading_volume\n80% of\
              \ limit\n95% of limit\nGT\npnl\n-$500K\n-$1M\nLT\nvar_utilization\n\
              75%\n90%\nGT\ncounterparty_exposure\n80% of limit\n95% of limit\nGT\n\
              Approximate Booking Detection (GAP-020)\n5 detection signals with composite\
              \ risk scoring: | Signal | Weight | |--------|--------| | Notional Outlier (outside\
              \ historical range) | 20 | | Volume Spike (inconsistent pattern) | 15 | | Risk\
              \ Check Warnings (overridden at booking) | 25 | | Jurisdiction Mismatch (not\
              \ covered by approval) | 25 | | Counterparty Mismatch (retail vs institutional) | 15 |\n\
              ScoreRisk LevelAction\n< 25\nLOW\nLog for audit trail\n25-49\nMEDIUM\n\
              Alert product owner + compliance\n50+\nHIGH\nAUTO breach alert — COO\
              \ + compliance + risk\nEvergreen Annual Review\nEvergreen approval:\
              \ 3 years from date of approval\nAnnual review required by NPA Working\
              \ Group\nDormant > 3 years at review → removed from Evergreen list\n\
              90 days before 3-year mark: alert product owner for renewal/retirement\
              \ decision\nWORKFLOW\nUse get_performance_metrics to retrieve latest\
              \ snapshots\nUse check_breach_thresholds to identify breaches\nFor breaches:\
              \ use create_breach_alert with severity (CRITICAL/WARNING/INFO)\nUse get_post_launch_conditions to\
              \ check condition status\nUse update_condition_status to mark conditions\
              \ as COMPLETED/WAIVED\nUse detect_approximate_booking to identify proxy\
              \ bookings\nUse get_monitoring_thresholds to verify configured thresholds\n\
              For Evergreen products: use evergreen_list to check status, evergreen_record_usage to\
              \ log trades, evergreen_annual_review to manage reviews\nUse audit_log_action to\
              \ log monitoring events\nTOOLS (12)\nget_performance_metrics — Get post-launch\
              \ performance data (volume, PnL, VaR, health)\ncheck_breach_thresholds —\
              \ Evaluate metrics against thresholds\ncreate_breach_alert — Create\
              \ breach alerts with severity routing\nget_monitoring_thresholds — Get\
              \ configured thresholds\nget_post_launch_conditions — Get conditions\
              \ with overdue detection\nupdate_condition_status — Update condition\
              \ status (PENDING/COMPLETED/WAIVED)\ndetect_approximate_booking — GAP-020:\
              \ Detect proxy trades with composite scoring\nevergreen_list — Get current\
              \ Evergreen product list with status and usage data\nevergreen_record_usage —\
              \ Record trade usage against Evergreen product limits\nevergreen_annual_review —\
              \ Trigger or retrieve annual review; flags dormant/expiring entries\n\
              audit_log_action — Log to immutable audit trail\nget_npa_by_id — Look\
              \ up NPA project details\nOUTPUT FORMAT\n{\n  \"agent_mode\": \"MONITORING\"\
              ,\n  \"project_id\": \"NPA-xxxx\",\n  \"health_status\": \"OK | WARNING\
              \ | CRITICAL\",\n  \"breaches\": [ {\"metric\": \"var_utilization\"\
              , \"actual\": 82, \"warning\": 75, \"critical\": 90, \"severity\": \"\
              WARNING\"} ],\n  \"approximate_booking_alerts\": [ {\"trade_id\": \"\
              TRD-xxxx\", \"composite_score\": 60, \"risk_level\": \"HIGH\", \"action\"\
              : \"AUTO_BREACH_ALERT\"} ],\n  \"pir_status\": { \"days_since_launch\"\
              : 95, \"pir_deadline_days\": 180, \"pir_completed\": false, \"pir_mandatory_reason\"\
              : \"GFM stricter rule\", \"next_reminder_at_days\": 120, \"previous_pir_attempts\"\
              : 0 },\n  \"dormancy_status\": { \"months_dormant\": 0, \"is_dormant\"\
              : false, \"reactivation_path\": null },\n  \"conditions\": { \"total\"\
              : 5, \"completed\": 3, \"pending\": 2, \"overdue\": 0 },\n  \"next_action\"\
              : \"VaR utilization at 82% — approaching critical. Monitor daily.\"\n\
              }\n\nRULES\nCRITICAL breaches require immediate escalation — no delays.\n\
              PIR within 180 days. Reminders at 120d, 150d, 173d. GFM rule: mandatory\
              \ for ALL launched products.\nApproximate booking HIGH risk (score 50+)\
              \ → AUTO breach alert to COO + compliance + risk.\nDormancy 12+ months\
              \ → flag. Dormant ≥ 3 years → escalate to GFM COO.\nMultiple WARNING\
              \ breaches (3+ simultaneously) → elevate to CRITICAL.\nPIR failed →\
              \ repeat at 90-day interval; block product variants until resolved.\n\
              Output MUST be pure JSON. Provide next_action.\nAlways log monitoring\
              \ events to audit trail."
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: claude-sonnet-4-5
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: 'Perform post-launch monitoring for this NPA:


              Project ID: {{#1771527360498.project_id#}}

              Current Stage: {{#1771527360498.current_stage#}}

              Context: {{#1771527360498.context#}}


              Return ONLY a valid JSON object with the monitoring result.'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Get post-launch performance metrics for an NPA including
                  volume, PnL, VaR, and health status.
              parameters:
                limit:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Get post-launch performance metrics for an NPA including
                volume, PnL, VaR, and health status.
              tool_label: get_performance_metrics
              tool_name: get_performance_metrics
              type: api
            - enabled: true
              extra:
                description: Check all active monitoring thresholds against latest
                  metrics and identify breaches.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Check all active monitoring thresholds against latest
                metrics and identify breaches.
              tool_label: check_breach_thresholds
              tool_name: check_breach_thresholds
              type: api
            - enabled: true
              extra:
                description: Create a new breach alert for an NPA when a monitoring
                  threshold is exceeded.
              parameters:
                actual_value:
                  auto: 1
                  value: null
                description:
                  auto: 1
                  value: null
                escalated_to:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                severity:
                  auto: 1
                  value: null
                sla_hours:
                  auto: 1
                  value: null
                threshold_value:
                  auto: 1
                  value: null
                title:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Create a new breach alert for an NPA when a monitoring
                threshold is exceeded.
              tool_label: create_breach_alert
              tool_name: create_breach_alert
              type: api
            - enabled: true
              extra:
                description: Get all monitoring thresholds configured for an NPA project.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Get all monitoring thresholds configured for an NPA
                project.
              tool_label: get_monitoring_thresholds
              tool_name: get_monitoring_thresholds
              type: api
            - enabled: true
              extra:
                description: Get all post-launch conditions for an NPA with status
                  tracking and overdue detection.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Get all post-launch conditions for an NPA with status
                tracking and overdue detection.
              tool_label: get_post_launch_conditions
              tool_name: get_post_launch_conditions
              type: api
            - enabled: true
              extra:
                description: Update the status of a post-launch condition (PENDING,
                  COMPLETED, WAIVED).
              parameters:
                condition_id:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Update the status of a post-launch condition (PENDING,
                COMPLETED, WAIVED).
              tool_label: update_condition_status
              tool_name: update_condition_status
              type: api
            - enabled: true
              extra:
                description: 'GAP-020: Detect proxy/approximate trades booked under
                  an approved NPA that may represent a different product. Analyzes
                  volume anomalies, notional outliers, and risk check warnings.'
              parameters:
                lookback_days:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: 'GAP-020: Detect proxy/approximate trades booked under
                an approved NPA that may represent a different product. Analyzes volume
                anomalies, notional outliers, and risk check warnings.'
              tool_label: detect_approximate_booking
              tool_name: detect_approximate_booking
              type: api
            - enabled: true
              extra:
                description: List all Evergreen products with their 30-day utilization
                  against approved limits.
              parameters: {}
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: List all Evergreen products with their 30-day utilization
                against approved limits.
              tool_label: evergreen_list
              tool_name: evergreen_list
              type: api
            - enabled: true
              extra:
                description: Record daily trading usage for an Evergreen product.
                  Auto-creates breach alerts if limits exceeded.
              parameters:
                counterparty_exposure:
                  auto: 1
                  value: null
                pnl:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                var_utilization:
                  auto: 1
                  value: null
                volume:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Record daily trading usage for an Evergreen product.
                Auto-creates breach alerts if limits exceeded.
              tool_label: evergreen_record_usage
              tool_name: evergreen_record_usage
              type: api
            - enabled: true
              extra:
                description: Record annual review completion for an Evergreen product.
              parameters:
                actor_name:
                  auto: 1
                  value: null
                approved:
                  auto: 1
                  value: null
                findings:
                  auto: 1
                  value: null
                next_review_date:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Record annual review completion for an Evergreen product.
              tool_label: evergreen_annual_review
              tool_name: evergreen_annual_review
              type: api
            - enabled: true
              extra:
                description: Retrieve a single NPA project by ID with its current
                  workflow state and signoff summary.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Retrieve a single NPA project by ID with its current
                workflow state and signoff summary.
              tool_label: get_npa_by_id
              tool_name: get_npa_by_id
              type: api
            - enabled: true
              extra:
                description: Write an immutable audit log entry. Tracks both human
                  and AI agent actions with confidence scores and reasoning chains.
              parameters:
                action_details:
                  auto: 1
                  value: null
                action_type:
                  auto: 1
                  value: null
                actor_name:
                  auto: 1
                  value: null
                actor_role:
                  auto: 1
                  value: null
                agent_name:
                  auto: 1
                  value: null
                confidence_score:
                  auto: 1
                  value: null
                is_agent_action:
                  auto: 1
                  value: null
                model_version:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                reasoning:
                  auto: 1
                  value: null
                source_citations:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Write an immutable audit log entry. Tracks both human
                and AI agent actions with confidence scores and reasoning chains.
              tool_label: audit_log_action
              tool_name: audit_log_action
              type: api
        agent_strategy_label: ReAct
        agent_strategy_name: ReAct
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.32@7ef46bd94ef1c858ab88617adf75da2729904296ecfbead9373d67d4eec10483
        selected: false
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 210
      id: '1771527377953'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1771527377953'
          - json
          value_type: array[object]
          variable: result
        selected: false
        title: Output
        type: end
      height: 88
      id: '1771527380773'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -556
      y: 255
      zoom: 1
  rag_pipeline_variables: []
