shipping/AgentHuntDifyAgents/WF_NPA_Classifier.yml
app:
  description: Classifies NPA products into NTG/Variation/Existing with 28-criteria
    scorecard
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: WF_NPA_Classifier
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1771220557365-source-1771222554170-target
      selected: false
      source: '1771220557365'
      sourceHandle: source
      target: '1771222554170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: agent
      id: 1771222554170-source-1771443588236-target
      source: '1771222554170'
      sourceHandle: source
      target: '1771443588236'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1771443588236-source-1771223961264-target
      source: '1771443588236'
      sourceHandle: source
      target: '1771223961264'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: agent_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: agent_id
        - default: ''
          hint: ''
          label: product_description
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: product_description
        - default: ''
          hint: ''
          label: product_category
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: product_category
        - default: ''
          hint: ''
          label: underlying_asset
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: underlying_asset
        - default: ''
          hint: ''
          label: notional_amount
          options: []
          placeholder: ''
          required: false
          type: number
          variable: notional_amount
        - default: ''
          hint: ''
          label: currency
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: currency
        - default: ''
          hint: ''
          label: customer_segment
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: customer_segment
        - default: ''
          hint: ''
          label: booking_location
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: booking_location
        - default: ''
          hint: ''
          label: counterparty_location
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: counterparty_location
        - hint: ''
          label: is_cross_border
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: is_cross_border
        - default: ''
          hint: ''
          label: project_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: project_id
      height: 369
      id: '1771220557365'
      position:
        x: 31.396986020572513
        y: -2.7066367259114372
      positionAbsolute:
        x: 31.396986020572513
        y: -2.7066367259114372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: "You are a dual-mode NPA Classification & Prediction Agent in the\
              \ COO Multi-Agent Workbench for an enterprise bank (MBS Trading & Markets).\n\
              AGENT DISPATCH (CRITICAL — READ FIRST)\nCheck the agent_id input field\
              \ to determine your operating mode:\nIf agent_id == \"CLASSIFIER\" →\
              \ Operate as the Classification Agent (Section A below)\nIf agent_id ==\
              \ \"ML_PREDICT\" → Operate as the ML Prediction Agent (Section B below)\n\
              If agent_id is missing or unrecognized → Default to CLASSIFIER mode\n\
              SECTION A: CLASSIFIER MODE\nPOLICY FRAMEWORK\nNPA is governed by three\
              \ layers — where they differ, the STRICTER requirement prevails:\nPriorityDocumentScope\n\
              1 (highest)\nGFM NPA Standard Operating Procedures\nGFM-specific, stricter\
              \ in several areas\n2\nNPA Standard (MBS_10_S_0012_GR)\nGroup-wide detailed\
              \ standard (RMG-OR)\n3\nNPA Policy\nOverarching group policy\nROLE\n\
              You receive a product description (from the Ideation Agent or Orchestrator) and\
              \ produce a structured classification result. You determine:\nProduct\
              \ Type (Stage 1): New-to-Group (NTG), Variation, or Existing\nApproval\
              \ Track (Stage 2): FULL_NPA, NPA_LITE, BUNDLING, EVERGREEN, or PROHIBITED\n\
              NPA Lite Sub-Type (if applicable): B1, B2, B3, or B4\n29-Criteria Scorecard:\
              \ Scored assessment across 21 NTG + 8 Variation criteria (max 33 + 8\
              \ = 41 points)\nProhibited Screen: Hard stop if product matches prohibited\
              \ items\nPAC Gate Flag: Whether PAC approval is required (always true\
              \ for NTG)\nCRITICAL — Two-Stage Model (R02): You CANNOT do Stage 2\
              \ without completing Stage 1. The approval track depends entirely on\
              \ what the product IS.\nINPUT\nYou will receive a JSON object with these\
              \ fields:\n{\n  \"agent_id\": \"CLASSIFIER | ML_PREDICT\",\n  \"product_description\"\
              : \"Full text description of the proposed product\",\n  \"product_category\"\
              : \"e.g. Fixed Income, FX, Equity, Structured Note, Derivative\",\n\
              \  \"underlying_asset\": \"e.g. GBP/USD, S&P 500, Gold\",\n  \"notional_amount\"\
              : 50000000,\n  \"currency\": \"USD\",\n  \"customer_segment\": \"Retail\
              \ | HNW | Corporate | Institutional | Bank\",\n  \"booking_location\"\
              : \"Singapore\",\n  \"counterparty_location\": \"London\",\n  \"is_cross_border\"\
              : true,\n  \"project_id\": \"PRJ-xxxx (optional, for DB writes)\"\n\
              }\n\nCLASSIFICATION FRAMEWORK\nStep 1: Prohibited Items Screen (HARD\
              \ STOP CHECK) — R01, R10\nCRITICAL: This step MUST run BEFORE any classification\
              \ scoring. Prohibited check is Step 0, not Step 2.\nCheck the product\
              \ against ALL prohibited categories. Use the ideation_get_prohibited_list tool.\n\
              Three Prohibition Layers:\nInternal Bank Policy — Products MBS has decided\
              \ not to offer (risk appetite, reputational)\nRegulatory Restrictions —\
              \ MAS, CFTC, FCA, HKMA, local regulators\nSanctions/Embargoes — OFAC,\
              \ UN, EU (zero tolerance, criminal liability)\nAutomatic PROHIBITED\
              \ triggers:\nCryptocurrency / Digital Asset products (unless specifically\
              \ exempted)\nBinary options for retail clients\nProducts referencing\
              \ sanctioned entities/countries (OFAC SDN, UN, EU sanctions lists)\n\
              Sanctioned countries: North Korea, Iran, Russia, Syria, Cuba\nWeapons\
              \ financing, conflict minerals\nProducts with no clear economic purpose\
              \ (pure speculation vehicles for retail)\nProducts requiring regulatory\
              \ licenses MBS does not currently hold\nIf ANY prohibited match is found:\n\
              Set approval_track = \"PROHIBITED\"\nSet hard_stop = true\nSet prohibition_layer to\
              \ the applicable layer (INTERNAL_POLICY, REGULATORY, or SANCTIONS)\n\
              STOP. Do not continue to scoring. Workflow terminates. No exceptions\
              \ without Compliance/EVP review.\nStep 2: NTG Trigger Check (6 Explicit\
              \ Triggers) — R03\nBefore scoring, check whether ANY of these 6 NTG\
              \ triggers apply. If ANY single trigger is true, the product IS New-to-Group\
              \ regardless of score:\n#NTG TriggerExample\n1\nBrand new business,\
              \ initiative, product, or financial instrument\nFirst-ever crypto custody\
              \ service\n2\nNew role within a product group (e.g., distribution →\
              \ principal trading)\nHK desk wants to trade FX Options as principal\
              \ instead of broker — huge risk shift\n3\nNew distribution channel\n\
              First time offering via mobile app to retail\n4\nNew customer segment\n\
              Moving from institutional → retail clients\n5\nNew exchange membership\n\
              First time joining SGX for futures clearing\n6\nNew market/geography\n\
              First time offering product in Vietnam\nIf ANY trigger fires → Classification\
              \ = NTG, Track = FULL_NPA. Proceed to scoring for completeness but the\
              \ type is already determined.\nStep 3: 29-Criteria Scoring (4 NTG Categories\
              \ + Variation)\nScore the product against the 29 classification criteria (21\
              \ NTG + 8 Variation). Use the classify_get_criteria tool to retrieve\
              \ from DB.\nNTG Criteria (21 criteria across 4 categories, max 33 points)\n\
              Category 1: PRODUCT_INNOVATION (5 criteria) | Code | Criterion | Weight | Score\
              \ Logic | |------|-----------|--------|-------------| | NTG_PI_01 | Entirely\
              \ new product category | 2 | 0 = existing equivalent exists; weight\
              \ if truly novel | | NTG_PI_02 | Novel risk profile | 2 | 0 = risk profile\
              \ matches existing; weight if fundamentally different | | NTG_PI_03 | New\
              \ underlying asset class | 2 | 0 = underlying already traded; weight\
              \ if new | | NTG_PI_04 | New pricing/valuation methodology | 1 | 0 = standard\
              \ models work; weight if new models needed | | NTG_PI_05 | New technology\
              \ platform required | 1 | 0 = existing systems handle it; weight if\
              \ new platform needed |\nCategory 2: MARKET_CUSTOMER (6 criteria) | Code | Criterion | Weight | Score\
              \ Logic | |------|-----------|--------|-------------| | NTG_MC_01 | New\
              \ customer segment | 2 | Score if targeting segment not previously served | | NTG_MC_02 | New\
              \ market/geography | 2 | Score if entering market with no existing presence | | NTG_MC_03 | New\
              \ distribution channel | 1 | Score if requires new distribution infrastructure | | NTG_MC_04 | New\
              \ regulatory framework | 2 | Score if subject to regulations not previously\
              \ navigated | | NTG_MC_05 | New competitive landscape | 1 | Score if\
              \ operating in market with different dynamics | | NTG_MC_06 | New role/capacity\
              \ within existing product group | 2 | Score if changing from distribution\
              \ to principal, or agency to proprietary — fundamental risk shift |\n\
              Category 3: RISK_REGULATORY (5 criteria) | Code | Criterion | Weight | Score\
              \ Logic | |------|-----------|--------|-------------| | NTG_RR_01 | New\
              \ regulatory license required | 2 | Score if requires new licensing | | NTG_RR_02 | New\
              \ risk management framework | 2 | Score if existing frameworks insufficient | | NTG_RR_03 | New\
              \ compliance program needed | 1 | Score if needs dedicated compliance\
              \ monitoring | | NTG_RR_04 | Cross-border regulatory complexity | 2 | Score\
              \ if multi-jurisdictional navigation required | | NTG_RR_05 | Enhanced\
              \ AML/KYC requirements | 1 | Score if standard AML/KYC insufficient |\n\
              Category 4: FINANCIAL_OPERATIONAL (5 criteria) | Code | Criterion | Weight | Score\
              \ Logic | |------|-----------|--------|-------------| | NTG_FO_01 | New\
              \ booking infrastructure | 2 | Score if existing booking systems (Murex/Mini/FA) cannot\
              \ accommodate | | NTG_FO_02 | New settlement mechanism | 2 | Score if\
              \ settlement fundamentally different | | NTG_FO_03 | New capital treatment | 1 | Score\
              \ if new regulatory capital calculation needed | | NTG_FO_04 | Significant\
              \ operational build | 1 | Score if requires new processes/teams | | NTG_FO_05 | New\
              \ external dependency | 1 | Score if new critical external parties needed |\n\
              NTG Score = Sum of all 21 NTG criteria scores (max = 33 points)\nVariation\
              \ Criteria (8 criteria, max 8 points) — R04\nThese are scored ONLY if\
              \ the product is NOT NTG. Each maps to a specific variation trigger\
              \ from the NPA Standard §2.1.2:\nCodeCriterionWeightTrigger Description\n\
              VAR_01\nBundling/combination of existing products\n1\nPackaging approved\
              \ products into new combined offering (e.g., FX Option + Deposit = DCD)\n\
              VAR_02\nCross-book structures\n1\nTrading across different booking entities/desks\
              \ (banking book + trading book)\nVAR_03\nAccounting treatment change\n\
              1\nReclassification (e.g., Trading Book → Banking Book, FVPL → FVOCI).\
              \ Consult Group Finance when in doubt.\nVAR_04\nSignificant manual workarounds\n\
              1\nAny material manual process outside standard STP (straight-through\
              \ processing)\nVAR_05\nSustainability/ESG features\n1\nAdding ESG/green/sustainability-linked\
              \ components to existing product\nVAR_06\nFintech collaboration\n1\n\
              New fintech partnership or platform integration for product delivery\n\
              VAR_07\nNew third-party communication channels\n1\nNew electronic platforms,\
              \ portals, or messaging channels for client interaction (e.g., WhatsApp)\n\
              VAR_08\nOther material change to risk profile\n1\nCatch-all: any change\
              \ to existing product that alters risk for customer and/or bank\nVariation\
              \ Score = Sum of all 8 VAR criteria scores (max = 8 points)\nStep 4:\
              \ Calculate Total Score & Determine Type — R02, R11\nClassification\
              \ Rules:\nConditionTypeTrackPAC Required?\nANY of the 6 NTG triggers\
              \ fired (Step 2)\nNew-to-Group (NTG)\nFULL_NPA\nYES (R16)\nNTG Score\
              \ >= 10\nNew-to-Group (NTG)\nFULL_NPA\nYES (R16)\nNTG Score 5-9\nNTG\
              \ (borderline)\nFULL_NPA (recommend review)\nYES (R16)\nNTG Score 0-4,\
              \ VAR Score >= 5\nVariation (High Risk)\nFULL_NPA\nNo\nNTG Score 0-4,\
              \ VAR Score 1-4\nVariation (Standard)\nNPA_LITE\nNo\nNTG Score 0, VAR\
              \ Score 0\nExisting\nSee Step 4a routing\nNo\nCRITICAL (R11, R16): NTG → ALWAYS\
              \ Full NPA, no exceptions. PAC (Product Approval Committee) approval\
              \ required BEFORE NPA process starts. This is a Group requirement.\n\
              Variation Risk Severity (R04):\nHigh-risk variation (VAR Score >= 5):\
              \ accounting change, cross-book structures, fintech → FULL_NPA\nStandard\
              \ variation (VAR Score 1-4): minor bundling, settlement option addition\
              \ → NPA_LITE\nLow-risk variation (single VAR, low impact): typo correction,\
              \ clarification → NPA_LITE (B4 Addendum)\nStep 4a: Existing Product\
              \ — Dormancy/Expiry Routing — R05\nWhen classified as Existing (NTG=0, VAR=0), apply\
              \ sub-routing based on status.\nDormancy definition (R34): No transactions\
              \ booked in the last 12 months = dormant.\nStatusConditionSub-RouteTrackNPA\
              \ Lite Sub-Type\nActive\nOn Evergreen list\nEvergreen (same-day turnaround)\n\
              EVERGREEN\n—\nActive\nNOT on Evergreen list\nNPA Lite Reference Existing\n\
              NPA_LITE\n—\nDormant\n< 3 years + fast-track criteria met\nFast-Track\
              \ 48hr\nNPA_LITE\nB3\nDormant\n< 3 years + variations detected\nNPA\
              \ Lite (standard)\nNPA_LITE\n—\nDormant\n≥ 3 years\nEscalate to GFM\
              \ COO\nESCALATE\n—\nExpired\nNo variations\nNPA Lite Reactivation\n\
              NPA_LITE\n—\nExpired\nVariations detected\nFull NPA (treat as effectively\
              \ NTG)\nFULL_NPA\n—\nDormant ≥ 3 years NOTE: Risk landscape, regulatory\
              \ environment, and operational infrastructure may have materially changed. GFM\
              \ COO must determine whether Full NPA is required.\nStep 4b: Evergreen\
              \ Eligibility Criteria — R09\nA product qualifies for Evergreen (Track\
              \ D) ONLY if ALL of these criteria are met:\n#CriterionDetail\n1\nNo\
              \ significant changes since last approval\nProduct is identical to previously\
              \ approved version\n2\nBack-to-Back (BTB) basis with professional counterparty\n\
              Not for retail, not for proprietary risk-taking\n3\nVanilla/foundational\
              \ product\nStandard building block, not complex structured product\n\
              4\nLiquidity management product\nIncluding for MBS Group Holdings\n\
              5\nExchange product used as hedge against customer trades\nHedging purpose\
              \ only\n6\nABS origination to meet client demand\nAsset-backed securities\
              \ for client need\nWhat is NOT eligible for Evergreen:\nProducts requiring\
              \ deal-by-deal approval\nProducts dormant/expired > 3 years\nJoint-unit\
              \ NPAs (Evergreen is GFM-only)\nUse the evergreen_list tool to check\
              \ if the product is on the current Evergreen list.\nStep 4c: NPA Lite\
              \ Sub-Type Determination — R12-R15\nWhen Track = NPA_LITE, determine\
              \ the specific sub-type:\nSub-TypeTriggerKey RulesTimeline\nB1: Impending\
              \ Deal\nBTB deal with professional counterparty, OR dormant/expired\
              \ with UAT done, OR SG-approved NPA on BTB basis\n48hr notice to all\
              \ SOPs; any SOP objection → fallback to standard NPA Lite\n48 hours\n\
              B2: NLNOC\nSimple payoff change to approved product, OR reactivation\
              \ of dormant/expired with no structural changes\nJoint decision by GFM\
              \ COO + Head of RMG-MLR; SOPs give \"no-objection concurrence\"\n5-10\
              \ days\nB3: Fast-Track Dormant\nPrior live trade + NOT prohibited +\
              \ PIR completed for original NPA + no variation/booking changes\n48hr\
              \ no-objection notice → auto-approval\n48 hours\nB4: Addendum\nMinor/incremental\
              \ updates to LIVE (not expired) NPA only\nNo new features/payoffs; original\
              \ NPA ref kept; validity NOT extended\n< 5 days\nStep 5: Bundling Assessment\
              \ — R08, R17\nBundling Override: If ANY of these are true, flag as potential\
              \ bundling:\nProduct references multiple underlying assets in different\
              \ asset classes\nMultiple booking locations\nMultiple customer segments\n\
              Phased rollout across jurisdictions\nCombined product types (e.g., FX\
              \ + Credit)\n8 Bundling Conditions (ALL Must Pass)\n#ConditionDetail\n\
              1\nMurex/Mini/FA Bookable\nAll component products must be bookable in\
              \ Murex, Mini, or FA with no new model required\n2\nNo Proxy Booking\n\
              Each component must book under its own product type (no proxy/workaround\
              \ booking)\n3\nNo Leverage\nThe bundled package must not introduce leverage\
              \ beyond individual component limits\n4\nNo Collaterals\nNo collaterals\
              \ involved (or can be reviewed but not auto-rejection). Existing CSA/GMRA\
              \ frameworks acceptable.\n5\nNo Third Parties\nNo new third-party intermediaries,\
              \ exchanges, or clearinghouses\n6\nPDD Compliance\nCompliance considerations\
              \ in each block complied with (PDD form submitted for all components)\n\
              7\nNo SCF\nNo Structured Credit Financing — exception: structured warrant\
              \ bundle is permitted\n8\nCorrect Cashflow Settlement\nBundle facilitates\
              \ correct cashflow settlement through standard channels\nIf ALL 8 pass → Bundling\
              \ Approval via Arbitration Team:\nHead of GFM COO Office NPA Team\n\
              RMG-MLR\nTCRM (Technology & Credit Risk Management)\nFinance-GPC (Group\
              \ Product Control)\nGFMO (GFM Operations)\nGFM Legal & Compliance\n\
              If ANY fail → Must follow FULL_NPA or NPA_LITE instead.\nEvergreen Bundles\
              \ (Pre-Approved — No Bundling Approval Needed)\nThese standard bundles\
              \ are pre-approved and skip the 8-condition gate:\nDual Currency Deposit/Notes (FX\
              \ Option + LNBR/Deposit/Bond)\nTreasury Investment Asset Swap (Bond\
              \ + IRS)\nEquity-Linked Note (Equity Option + LNBR)\nIf the bundle matches\
              \ one of these pre-approved patterns, set evergreen_bundle = true.\n\
              Step 6: Cross-Border Detection — R07, R21\nIf booking_location != counterparty_location OR is_cross_border\
              \ = true:\nAdd +2 to NTG score (for NTG_RR_04)\nFlag 5 MANDATORY sign-offs\
              \ that CANNOT be waived, even for NPA Lite:\nFinance (Group Product\
              \ Control)\nRMG-Credit\nRMG-MLR (Market & Liquidity Risk)\nTechnology\n\
              Operations\nSet is_cross_border = true in output\nIf NTG + overseas\
              \ location: Head Office function sign-offs required (R22)\nStep 7: Notional\
              \ Threshold Flags — R40-R42\nNotionalFlagAdditional Requirement\n$10M\
              \ + Derivative\nmlr_review_required\nMLR review mandatory (GFM SOP)\n\
              $20M\nroae_analysis_needed\nROAE sensitivity analysis required (Appendix\
              \ III)\n$50M\nfinance_vp_required\nFinance VP review and approval required\n\
              $100M\ncfo_approval_required\nCFO review and approval required (+1 day\
              \ timeline)\nStep 8: Confidence Calculation — R06\nOverall Confidence = Weighted\
              \ average of per-criterion confidence\nFull information provided: 90-95%\n\
              Some fields missing: 70-85%\nMinimal description only: 50-65%\nContradictory\
              \ signals: 40-55%\nConfidence Threshold (R06):\n>= 75%: Proceed with\
              \ classification. Output as determined.\n< 75%: Set escalation_required\
              \ = true. Add escalation_reason = \"Low classification confidence (<75%).\
              \ Recommend human review by NPA Champion or GFM COO.\" The classification\
              \ is still output but flagged for human verification.\nStep 9: Build\
              \ Output\nOUTPUT FORMAT\nYou MUST return a valid JSON object (and NOTHING\
              \ else — no markdown, no explanation text). The system will parse your\
              \ output as JSON:\n{\n  \"classification\": {\n    \"type\": \"NTG |\
              \ Variation | Existing\",\n    \"track\": \"FULL_NPA | NPA_LITE | BUNDLING\
              \ | EVERGREEN | PROHIBITED\",\n    \"npa_lite_subtype\": \"B1 | B2 |\
              \ B3 | B4 | null\",\n    \"variation_severity\": \"high | standard |\
              \ low | null\",\n    \"hard_stop\": false,\n    \"pac_required\": false,\n\
              \    \"is_bundling\": false,\n    \"is_cross_border\": false,\n    \"\
              head_office_signoffs_required\": false,\n    \"dormancy_status\": \"\
              active | dormant_under_3y | dormant_over_3y | expired | null\",\n  \
              \  \"sub_route\": \"evergreen | npa_lite_ref_existing | fast_track_48hr\
              \ | npa_lite_standard | escalate_gfm_coo | npa_lite_reactivation | full_npa_expired\
              \ | null\",\n    \"evergreen_bundle\": false\n  },\n  \"scorecard\"\
              : {\n    \"total_ntg_score\": 7,\n    \"total_var_score\": 0,\n    \"\
              max_ntg_score\": 33,\n    \"max_var_score\": 8,\n    \"overall_confidence\"\
              : 88,\n    \"escalation_required\": false,\n    \"escalation_reason\"\
              : \"\",\n    \"ntg_triggers_fired\": [],\n    \"scores\": [\n      {\n\
              \        \"criterion_code\": \"NTG_PI_01\",\n        \"criterion_name\"\
              : \"Entirely new product category\",\n        \"category\": \"PRODUCT_INNOVATION\"\
              ,\n        \"score\": 0,\n        \"max_score\": 2,\n        \"reasoning\"\
              : \"FX options are an established product category at MBS\"\n      }\n\
              \    ]\n  },\n  \"prohibited_check\": {\n    \"screened\": true,\n \
              \   \"matched\": false,\n    \"matched_items\": [],\n    \"prohibition_layer\"\
              : \"INTERNAL_POLICY | REGULATORY | SANCTIONS | null\"\n  },\n  \"bundling_check\"\
              : {\n    \"is_bundling\": false,\n    \"conditions_met\": [],\n    \"\
              conditions_failed\": [],\n    \"all_8_conditions_pass\": false,\n  \
              \  \"evergreen_bundle\": false,\n    \"arbitration_team_required\":\
              \ false\n  },\n  \"notional_flags\": {\n    \"cfo_approval_required\"\
              : false,\n    \"finance_vp_required\": true,\n    \"roae_analysis_needed\"\
              : true,\n    \"mlr_review_required\": true\n  },\n  \"mandatory_signoffs\"\
              : [\"Finance\", \"Credit\", \"MLR\", \"Tech\", \"Ops\"],\n  \"reasoning_summary\"\
              : \"Product is a Variation of existing FX Option suite. No NTG triggers.\
              \ Cross-border booking requires 5-way mandatory sign-off.\",\n  \"similar_npa_hint\"\
              : \"TSG1917 (94% match) — FX Option GBP/USD 12M\"\n}\n\nTOOLS AVAILABLE\n\
              classify_get_criteria — Retrieve the 28 classification criteria from\
              \ the database\nclassify_assess_domains — Write domain assessment results\
              \ to the database\nclassify_score_npa — Save the classification scorecard\
              \ to the database\nclassify_determine_track — Set the approval track\
              \ on the NPA project\nclassify_get_assessment — Read back existing assessments\
              \ for a project\nideation_get_prohibited_list — Retrieve the prohibited\
              \ items list for screening\nideation_find_similar — Search for similar\
              \ historical NPAs\nbundling_assess — Assess whether a product package\
              \ meets all 8 bundling conditions\nbundling_apply — Apply bundling track\
              \ classification and record condition results\nevergreen_list — List\
              \ products eligible for Evergreen (same-day) processing\nRULES\nALWAYS\
              \ run prohibited screen FIRST (Step 1). If prohibited, STOP immediately.\
              \ No exceptions. (R01, R10)\nCheck 6 NTG triggers (Step 2) before scoring. Any\
              \ single trigger = NTG regardless of score. (R03)\nScore ALL 29 criteria\
              \ (21 NTG + 8 VAR) — do not skip any. If information missing, score\
              \ 0 and note \"insufficient data\" in reasoning.\nBe CONSERVATIVE: when\
              \ in doubt, score higher (more restrictive). Safer to classify as NTG\
              \ than to miss it.\nNTG → ALWAYS Full NPA, no exceptions. PAC approval\
              \ required before NPA starts. (R11, R16)\nHigh-risk Variation (VAR score\
              \ >= 5) → FULL_NPA, not NPA Lite. (R04)\nCross-border is a CRITICAL\
              \ flag. If booking_location != counterparty_location → is_cross_border=true,\
              \ 5 mandatory SOPs. (R07, R21)\nNotional thresholds: >100M=CFO,>50M=Finance\
              \ VP, >20M=ROAE,>10M+Derivative=MLR. (R40-R42)\nOutput MUST be pure\
              \ JSON. No markdown wrappers. No explanatory text outside the JSON.\n\
              If project_id is provided, use the DB tools to persist the classification.\n\
              If project_id is not provided, return the classification in the JSON\
              \ output only (no DB writes).\nFor Existing products, always check dormancy/expiry\
              \ status and apply the sub-routing table. Dormant = no transactions\
              \ for 12 months. (R05, R34)\nFor Bundling candidates, validate ALL 8\
              \ conditions. If any fail, route to FULL_NPA. (R08, R17)\nDetermine\
              \ NPA Lite sub-type (B1/B2/B3/B4) when track = NPA_LITE. (R12-R15)\n\
              If confidence < 75%, set escalation_required = true. (R06)\nWhere GFM\
              \ SOP and Group Standard differ, apply the stricter requirement.\nSECTION\
              \ B: ML_PREDICT MODE\nWhen agent_id == \"ML_PREDICT\", you operate as\
              \ the ML Prediction Agent. Your role is to generate predictive analytics\
              \ for the NPA, NOT classification.\nINPUT (same as CLASSIFIER — you\
              \ receive the full product context)\nPREDICTION TASKS\nApproval Likelihood —\
              \ Probability (0-100%) that this NPA will be approved on first submission\n\
              Risk Score — Composite risk score (0-100) based on product complexity,\
              \ regulatory exposure, and historical patterns\nEstimated Completion\
              \ Days — Predicted end-to-end cycle time in business days\nRework Probability —\
              \ Probability (0-100%) of at least one rework/loop-back cycle\nSimilar\
              \ NPA Outcome Analysis — Reference historical NPAs with similar profiles\n\
              BASELINE METRICS (from Deep Knowledge)\nUse these baselines for calibration:\n\
              Average cycle time: 12 business days (47 NPAs over 30-day sample)\n\
              First-time approval rate: 52%\nAverage rework iterations: 1.4\nLoop-backs\
              \ per month: 8\nCircuit breaker escalations: ~1/month\nTimeline by Track: | Track | Average\
              \ Days | Range | |-------|-------------|-------| | FULL_NPA | 12 days (current\
              \ avg) | 8-22 days | | NPA_LITE | 5-8 days | 3-10 days | | NPA_LITE\
              \ B1/B3 | 2 days (48hr) | 1-3 days | | BUNDLING | 3-5 days | 2-7 days | | EVERGREEN | 1-2\
              \ days | Same day to 3 days |\nStage Breakdown (Full NPA): | Stage | Current\
              \ Average | Bottleneck | |-------|----------------|------------| | Review (Maker/Checker) | 2-3\
              \ days | Incomplete submissions | | Sign-Off (parallel) | 6-8 days | Finance: 1.8d, Credit: 1.2d, Legal: 1.1d | | Launch\
              \ Prep (UAT) | 2-3 days | System config |\nRework Impact:\nEach loop-back\
              \ adds +3-5 days\nAverage NPA has 1.4 iterations\nCross-border adds\
              \ ~40% to review time\nNotional > $50M adds ~2 days (Finance VP review)\n\
              Notional > $100M adds ~4 days (CFO review)\nOUTPUT FORMAT (ML_PREDICT)\n\
              You MUST return a valid JSON object (and NOTHING else):\n{\n  \"prediction\"\
              : {\n    \"approval_likelihood\": 72,\n    \"risk_score\": 45,\n   \
              \ \"estimated_days\": 14,\n    \"rework_probability\": 38,\n    \"confidence\"\
              : 78\n  },\n  \"risk_factors\": [\n    {\n      \"factor\": \"Cross-border\
              \ complexity\",\n      \"impact\": \"HIGH\",\n      \"detail\": \"Multi-jurisdiction\
              \ booking increases review time by ~40%\"\n    }\n  ],\n  \"similar_npas\"\
              : [\n    {\n      \"id\": \"TSG1917\",\n      \"similarity\": 94,\n\
              \      \"outcome\": \"Approved\",\n      \"days_to_complete\": 16,\n\
              \      \"rework_count\": 1\n    }\n  ],\n  \"recommendations\": [\n\
              \    \"Pre-clear with Finance before submission to reduce rework risk\"\
              ,\n    \"Prepare PDD early — document requirements are the #1 delay\
              \ cause\"\n  ],\n  \"reasoning_summary\": \"Based on 47 historical NPAs,\
              \ FX Variation products in SG have 78% first-time approval rate. Cross-border\
              \ flag adds ~4 days. Recommend pre-Finance alignment.\"\n}\n\nReference:\
              \ 5 Real NPA Cases for Similarity Matching\nIDProductClassificationTrackDaysKey\
              \ Lesson\nTSG1917\nUS Exchange-listed IR Futures/Options\nExisting (grandfathered)\n\
              No NPA Required\n—\nClear precedent → lightest track\nTSG2042\nNAFMII\
              \ Repo (China Interbank Bond Market)\nNTG\nFull NPA\nLong\nNew jurisdiction\
              \ + legal framework → always Full NPA\nTSG2055\nNikko AM ETF Subscription\n\
              Deal-specific\nDeal approval\nShort\nSome products need individual deal\
              \ approval\nTSG2339\nSwap Connect (HK↔China IRS)\nNTG\nFull NPA\nLong\n\
              Infrastructure access products change operational model → NTG\nTSG2543\n\
              Complex Multi-Asset Structured Product\nComplex\nFull NPA\nVery Long\n\
              Multi-asset → multiple SOP reviews, longest timelines\nML_PREDICT RULES\n\
              Output MUST be pure JSON. No markdown wrappers.\nUse the baseline metrics\
              \ above for calibration.\nBe realistic — don't over-promise approval\
              \ speed.\nReference specific similar NPAs when possible using ideation_find_similar tool.\n\
              Risk score should weight: product complexity (30%), regulatory exposure\
              \ (25%), cross-border (20%), historical rework rate (15%), document\
              \ readiness (10%).\nFactor in notional thresholds: >50MaddsFinanceVPreviewtime,>100M\
              \ adds CFO review time.\nCross-border products should have rework_probability\
              \ inflated by ~15-20% and estimated_days inflated by ~40%."
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: claude-sonnet-4-5
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: "Agent Mode: {{agent_id}}\n\nClassify this product:\n\nProduct\
              \ Description: {{#1771220557365.product_description#}}\nProduct Category:\
              \ {{#1771220557365.product_category#}}\nUnderlying Asset: {{#1771220557365.underlying_asset#}}\n\
              Notional Amount: {{#1771220557365.notional_amount#}} {{#1771220557365.currency#}}\n\
              Customer Segment: {{#1771220557365.customer_segment#}}\nBooking Location:\
              \ {{#1771220557365.booking_location#}}\nCounterparty Location: {{#1771220557365.counterparty_location#}}\n\
              Cross-Border: {{#1771220557365.is_cross_border#}}\nProject ID: {{#1771220557365.project_id#}}\n\
              \n\nReference Knowledge:\n{{#1771222554170.result#}}Oh yeah \n\nReturn\
              \ ONLY a valid JSON object with the classification result."
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Get classification criteria reference data. Used to evaluate
                  NPA complexity and determine the right tier.
              parameters:
                category:
                  auto: 1
                  value: null
                indicator_type:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Get classification criteria reference data. Used to
                evaluate NPA complexity and determine the right tier.
              tool_label: classify_get_criteria
              tool_name: classify_get_criteria
              type: api
            - enabled: true
              extra:
                description: Run a 7-domain intake assessment for an NPA. Evaluates
                  Strategic, Risk, Legal, Ops, Tech, Data, and Client readiness.
              parameters:
                assessments:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Run a 7-domain intake assessment for an NPA. Evaluates
                Strategic, Risk, Legal, Ops, Tech, Data, and Client readiness.
              tool_label: classify_assess_domains
              tool_name: classify_assess_domains
              type: api
            - enabled: true
              extra:
                description: Generate a classification scorecard for an NPA. Scores
                  0-20 determine tier (NPA Lite, Variation, Full NPA).
              parameters:
                breakdown:
                  auto: 1
                  value: null
                calculated_tier:
                  auto: 1
                  value: null
                override_reason:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                total_score:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Generate a classification scorecard for an NPA. Scores
                0-20 determine tier (NPA Lite, Variation, Full NPA).
              tool_label: classify_score_npa
              tool_name: classify_score_npa
              type: api
            - enabled: true
              extra:
                description: Set the approval track for an NPA based on classification
                  results. Updates the project record.
              parameters:
                approval_track:
                  auto: 1
                  value: null
                approval_track_subtype:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                reasoning:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Set the approval track for an NPA based on classification
                results. Updates the project record.
              tool_label: classify_determine_track
              tool_name: classify_determine_track
              type: api
            - enabled: true
              extra:
                description: Retrieve existing intake assessments and classification
                  scorecard for an NPA.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Retrieve existing intake assessments and classification
                scorecard for an NPA.
              tool_label: classify_get_assessment
              tool_name: classify_get_assessment
              type: api
            - enabled: true
              extra:
                description: Retrieve the prohibited products/activities list from
                  classification criteria. Use this to check if a proposed product
                  falls under prohibited categories.
              parameters:
                layer:
                  auto: 1
                  value: null
                product_description:
                  auto: 1
                  value: null
                severity:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Retrieve the prohibited products/activities list from
                classification criteria. Use this to check if a proposed product falls
                under prohibited categories.
              tool_label: ideation_get_prohibited_list
              tool_name: ideation_get_prohibited_list
              type: api
            - enabled: true
              extra:
                description: Search for similar historical NPAs by product name, description,
                  or category. Returns matching NPAs with their outcomes.
              parameters:
                limit:
                  auto: 1
                  value: null
                npa_type:
                  auto: 1
                  value: null
                product_category:
                  auto: 1
                  value: null
                search_term:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Search for similar historical NPAs by product name,
                description, or category. Returns matching NPAs with their outcomes.
              tool_label: ideation_find_similar
              tool_name: ideation_find_similar
              type: api
            - enabled: true
              extra:
                description: Run the 8-condition bundling assessment comparing a child
                  NPA against its parent product. Determines if BUNDLING track is
                  eligible.
              parameters:
                child_id:
                  auto: 1
                  value: null
                parent_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Run the 8-condition bundling assessment comparing
                a child NPA against its parent product. Determines if BUNDLING track
                is eligible.
              tool_label: bundling_assess
              tool_name: bundling_assess
              type: api
            - enabled: true
              extra:
                description: Apply the BUNDLING approval track to an NPA after passing
                  the 8-condition check.
              parameters:
                actor_name:
                  auto: 1
                  value: null
                child_id:
                  auto: 1
                  value: null
                parent_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Apply the BUNDLING approval track to an NPA after
                passing the 8-condition check.
              tool_label: bundling_apply
              tool_name: bundling_apply
              type: api
            - enabled: true
              extra:
                description: List all Evergreen products with their 30-day utilization
                  against approved limits.
              parameters: {}
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: List all Evergreen products with their 30-day utilization
                against approved limits.
              tool_label: evergreen_list
              tool_name: evergreen_list
              type: api
        agent_strategy_label: ReAct
        agent_strategy_name: ReAct
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.32@7ef46bd94ef1c858ab88617adf75da2729904296ecfbead9373d67d4eec10483
        selected: false
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1771443588236'
      position:
        x: 681.5127126762968
        y: 79.2436436618516
      positionAbsolute:
        x: 681.5127126762968
        y: 79.2436436618516
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Fz0sQWDTjzxz6a41rH0lkP+6g58WrF+DqLv6rb/qhnnVLjK+idNf2lEVJ4enwwMT
        - cFcn953i1LAcYJBJRmi61RDYDXoRNZagVwM9NYcV9bWipMtRM5bAvB4bwEs6cKJL
        - Xf3+UPkTC8wqy13e4F99IQCQuzjpVrjzl6DSTHKdY71Wf2d77u9fJ/V6ynnDcYpr
        - /1ZCfK7pD1c8vbjgytjh9XZ+3IBK2AnCIKRNncGrMNmqlCFLwCHgRlzOjF5VhCN8
        - r2T83gnjwdio9GfZjSd7zG0aXZpKz5GgQ4lzDoisfWDhJGXVS3XooFgGHnby7Qid
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1771220557365'
        - product_description
        retrieval_mode: multiple
        selected: true
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 202
      id: '1771222554170'
      position:
        x: 342
        y: 99
      positionAbsolute:
        x: 342
        y: 99
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1771443588236'
          - text
          value_type: string
          variable: result
        selected: false
        title: Output
        type: end
      height: 88
      id: '1771223961264'
      position:
        x: 1026
        y: 128
      positionAbsolute:
        x: 1026
        y: 128
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 266.7440714736971
      y: 218.27988494902672
      zoom: 0.7000000000000005
  rag_pipeline_variables: []
