shipping/AgentHuntDifyAgents/WF_NPA_Doc_Lifecycle.yml
app:
  description: Document completeness checking, upload tracking, validation, expiry
    enforcement, version control.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: WF_NPA_Doc_Lifecycle
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1771561833732-source-1771561836793-target
      source: '1771561833732'
      sourceHandle: source
      target: '1771561836793'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: agent
      id: 1771561836793-source-1771561841638-target
      source: '1771561836793'
      sourceHandle: source
      target: '1771561841638'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1771561841638-source-1771561843453-target
      source: '1771561841638'
      sourceHandle: source
      target: '1771561843453'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: project_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: project_id
        - default: ''
          hint: ''
          label: approval_track
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: approval_track
        - default: ''
          hint: ''
          label: current_stage
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: current_stage
        - default: ''
          hint: ''
          label: is_cross_border
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: is_cross_border
        - default: ''
          hint: ''
          label: notional_amount
          options: []
          placeholder: ''
          required: false
          type: number
          variable: notional_amount
        - default: ''
          hint: ''
          label: context
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: context
      height: 239
      id: '1771561833732'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - HG1nAOwN7obhqwaIv+osEvZ2Fj0Gpvbpj/0tc9uXMgDPeGUkivjqLh2GbU6suU9J
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1771561833732'
        - project_id
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1771561836793'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - '1771561836793'
            - result
          instruction:
            type: constant
            value: "You are the NPA Document Lifecycle Agent (\"The Gatekeeper\") in\
              \ the COO Multi-Agent Workbench for MBS Trading & Markets — Global Financial\
              \ Markets (GFM).\nROLE\nYou manage end-to-end document governance for\
              \ NPAs: requirement checking, upload validation, completeness verification, expiry\
              \ enforcement, and version control. You ensure no NPA advances without\
              \ complete, valid documentation.\nPrime Directive: No NPA proceeds without\
              \ complete, valid documentation. Expired docs = INVALID — block advancement. No\
              \ exceptions.\nINPUT\n{\n  \"project_id\": \"NPA-xxxx\",\n  \"approval_track\"\
              : \"FULL_NPA | NPA_LITE | BUNDLING | EVERGREEN\",\n  \"current_stage\"\
              : \"INITIATION | CLASSIFICATION | REVIEW | SIGN_OFF | LAUNCH | MONITORING\
              \ | PIR\",\n  \"is_cross_border\": false,\n  \"notional_amount\": 0,\n\
              \  \"context\": {}\n}\n\nDocument Categories\nCategoryExamplesCriticality\n\
              CORE\nNPA Form, Term Sheet, Business Case\nCRITICAL — blocks advancement\n\
              CONDITIONAL\nRisk Memo, Legal Opinion, Credit Committee Memo\nIMPORTANT\
              \ — varies by track and notional\nSUPPLEMENTARY\nTraining Materials,\
              \ Implementation Plan, Market Research\nOPTIONAL\nConditional Document\
              \ Rules\nConditionRequired Document\nNotional > $50M\nCredit Committee\
              \ Memo\nCross-border\nMulti-Jurisdiction Compliance Matrix, Legal Entity\
              \ Structure, Tax Memo\nNTG classification\nEnhanced Due Diligence Report,\
              \ PAC Presentation\nDerivatives or structured products\nISDA Master\
              \ Agreement, Pricing Validation Report\nRetail distribution\nClient\
              \ Suitability Assessment, KYD Documentation\nThird-party involvement\n\
              Vendor Due Diligence Report, Outsourcing Agreement\nStage Gates\nStageRequired\
              \ Documents\nCHECKER\nNPA Form (complete), Term Sheet\nSIGN_OFF\nAll\
              \ CRITICAL docs + Risk Memo + Legal Opinion\nLAUNCH\nAll documents validated\
              \ + UAT sign-off + Ops Readiness Cert\nMONITORING\nPIR Report (post-launch),\
              \ Quarterly Performance Report\nDocument Completeness by NPA Type\n\
              NPA TypeCore DocsConditionalTotalCritical Path\nFull NPA (NTG)\n25\n\
              15-20\n40-45\n12-15\nFull NPA (Variation)\n22\n10-15\n32-37\n8-10\n\
              NPA Lite\n18\n5-10\n23-28\n5-7\nBundling\n20\n8-12\n28-32\n6-8\nEvergreen\n\
              12\n3-5\n15-17\n3-4\nValidation Stages\nDocuments progress through: AUTOMATED → BUSINESS → RISK → COMPLIANCE → LEGAL → FINAL\n\
              WORKFLOW\nUse get_document_requirements to get the master checklist\
              \ for the approval track\nUse check_document_completeness to identify\
              \ missing/invalid/expiring documents\nUse upload_document_metadata to\
              \ record new uploads\nUse validate_document to update validation status\
              \ (PENDING → VALID/INVALID/WARNING)\nUse doc_lifecycle_validate for\
              \ batch end-to-end validation before stage advancement\nUse audit_log_action to\
              \ log document validation events\nTOOLS (7)\nupload_document_metadata —\
              \ Record document upload metadata (type, version, expiry)\ncheck_document_completeness —\
              \ Check completeness against stage-specific requirements\nget_document_requirements —\
              \ Get document requirements by track, category, and stage\nvalidate_document —\
              \ Update document validation status\ndoc_lifecycle_validate — End-to-end\
              \ batch validation for stage gates\naudit_log_action — Log to immutable\
              \ audit trail\nget_npa_by_id — Look up NPA project details\nOUTPUT FORMAT\n\
              {\n  \"agent_mode\": \"DOC_LIFECYCLE\",\n  \"project_id\": \"NPA-xxxx\"\
              ,\n  \"completeness\": { \"is_complete\": false, \"total_required\"\
              : 8, \"present\": 5, \"valid\": 4, \"missing\": 3, \"critical_missing\"\
              : 1, \"expired\": 1, \"completion_pct\": 63 },\n  \"missing_documents\"\
              : [ {\"doc_name\": \"Final Term Sheet\", \"criticality\": \"CRITICAL\"\
              , \"required_by\": \"CHECKER\"} ],\n  \"expired_documents\": [ {\"doc_name\"\
              : \"Legal Opinion\", \"expiry_date\": \"2026-01-15\", \"action\": \"\
              Request renewal\"} ],\n  \"conditional_rules_triggered\": [ {\"condition\"\
              : \"notional > $50M\", \"required_doc\": \"Credit Committee Memo\",\
              \ \"status\": \"MISSING\"} ],\n  \"stage_gate_status\": \"BLOCKED |\
              \ CLEAR | WARNING\",\n  \"blocking_reason\": \"1 missing CRITICAL document,\
              \ 1 expired document\",\n  \"next_action\": \"Upload Final Term Sheet\
              \ before checker review can proceed\"\n}\n\nRULES\nCRITICAL documents\
              \ block stage advancement — no exceptions.\nExpired docs = INVALID.\
              \ Treat as missing. Block advancement. No grace period.\nCheck conditional\
              \ rules (notional, cross-border, NTG, retail) BEFORE reporting completeness.\n\
              Superseded documents cannot be used in active reviews — only latest\
              \ version is valid.\nCross-border override: add Multi-Jurisdiction Compliance\
              \ Matrix, Legal Entity Structure, Tax Memo.\nVersion conflicts → use\
              \ latest, flag superseded.\nOutput MUST be pure JSON. Provide next_action.\n\
              Always log validation events to audit trail."
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: claude-sonnet-4-5
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: 'Check document lifecycle for this NPA:


              Project ID: {{#1771561833732.project_id#}}

              Approval Track: {{#1771561833732.approval_track#}}

              Current Stage: {{#1771561833732.current_stage#}}

              Cross-Border: {{#1771561833732.is_cross_border#}}

              Notional Amount: {{#1771561833732.notional_amount#}}

              Context: {{#1771561833732.context#}}


              Return ONLY a valid JSON object with the document lifecycle result.'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Record document metadata for an NPA (name, type, size,
                  validation status). Does not handle file storage.
              parameters:
                category:
                  auto: 1
                  value: null
                criticality:
                  auto: 1
                  value: null
                doc_requirement_id:
                  auto: 1
                  value: null
                document_name:
                  auto: 1
                  value: null
                document_type:
                  auto: 1
                  value: null
                file_extension:
                  auto: 1
                  value: null
                file_size:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                required_by_stage:
                  auto: 1
                  value: null
                uploaded_by:
                  auto: 1
                  value: null
                validation_stage:
                  auto: 1
                  value: null
                validation_status:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Record document metadata for an NPA (name, type, size,
                validation status). Does not handle file storage.
              tool_label: upload_document_metadata
              tool_name: upload_document_metadata
              type: api
            - enabled: true
              extra:
                description: Check whether all required documents have been uploaded
                  for an NPA, optionally filtered by stage.
              parameters:
                project_id:
                  auto: 1
                  value: null
                stage:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Check whether all required documents have been uploaded
                for an NPA, optionally filtered by stage.
              tool_label: check_document_completeness
              tool_name: check_document_completeness
              type: api
            - enabled: true
              extra:
                description: Get the master list of document requirements, optionally
                  filtered by approval track and category.
              parameters:
                approval_track:
                  auto: 1
                  value: null
                category:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Get the master list of document requirements, optionally
                filtered by approval track and category.
              tool_label: get_document_requirements
              tool_name: get_document_requirements
              type: api
            - enabled: true
              extra:
                description: Validate a specific document and update its validation
                  status and stage.
              parameters:
                document_id:
                  auto: 1
                  value: null
                validated_by:
                  auto: 1
                  value: null
                validation_notes:
                  auto: 1
                  value: null
                validation_stage:
                  auto: 1
                  value: null
                validation_status:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Validate a specific document and update its validation
                status and stage.
              tool_label: validate_document
              tool_name: validate_document
              type: api
            - enabled: true
              extra:
                description: Batch-validate all documents for an NPA. Used by DOC_LIFECYCLE
                  agent to run automated validation and check completeness.
              parameters:
                project_id:
                  auto: 1
                  value: null
                validations:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Batch-validate all documents for an NPA. Used by DOC_LIFECYCLE
                agent to run automated validation and check completeness.
              tool_label: doc_lifecycle_validate
              tool_name: doc_lifecycle_validate
              type: api
            - enabled: true
              extra:
                description: Write an immutable audit log entry. Tracks both human
                  and AI agent actions with confidence scores and reasoning chains.
              parameters:
                action_details:
                  auto: 1
                  value: null
                action_type:
                  auto: 1
                  value: null
                actor_name:
                  auto: 1
                  value: null
                actor_role:
                  auto: 1
                  value: null
                agent_name:
                  auto: 1
                  value: null
                confidence_score:
                  auto: 1
                  value: null
                is_agent_action:
                  auto: 1
                  value: null
                model_version:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                reasoning:
                  auto: 1
                  value: null
                source_citations:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Write an immutable audit log entry. Tracks both human
                and AI agent actions with confidence scores and reasoning chains.
              tool_label: audit_log_action
              tool_name: audit_log_action
              type: api
        agent_strategy_label: ReAct
        agent_strategy_name: ReAct
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.32@7ef46bd94ef1c858ab88617adf75da2729904296ecfbead9373d67d4eec10483
        selected: false
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1771561841638'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1771561841638'
          - json
          value_type: array[object]
          variable: results
        selected: false
        title: Output
        type: end
      height: 88
      id: '1771561843453'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 69.15026321559537
      y: 439.1002581827318
      zoom: 0.435275281648062
  rag_pipeline_variables: []
