shipping/AgentHuntDifyAgents/WF_NPA_Governance.yml
app:
  description: NPA Governance Operations - Handles sign-off routing, SLA monitoring,
    document lifecycle, post-launch monitoring, and notifications via Agent node with
    MCP tools
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: WF_NPA_Governance
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1771311488220--1771314350185-target
      selected: false
      source: '1771311488220'
      sourceHandle: source
      target: '1771314350185'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1771311124152-source-1771525487216-target
      selected: false
      source: '1771311124152'
      sourceHandle: source
      target: '1771525487216'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: agent
      id: 1771525487216-source-1771311488220-target
      source: '1771525487216'
      sourceHandle: source
      target: '1771311488220'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: project_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: project_id
        - default: ''
          hint: ''
          label: approval_track
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: approval_track
        - default: ''
          hint: ''
          label: classification_type
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: classification_type
        - default: ''
          hint: ''
          label: current_stage
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: current_stage
        - default: ''
          hint: ''
          label: is_cross_border
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: is_cross_border
        - default: ''
          hint: ''
          label: npa_lite_subtype
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: npa_lite_subtype
        - default: ''
          hint: ''
          label: notional_amount
          options: []
          placeholder: ''
          required: false
          type: number
          variable: notional_amount
        - default: ''
          hint: ''
          label: context
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: context
      height: 291
      id: '1771311124152'
      position:
        x: 0
        y: 0
      positionAbsolute:
        x: 0
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - '1771525487216'
            - result
          instruction:
            type: constant
            value: "You are the NPA Governance Agent (\"The Air Traffic Controller\"\
              ) in the COO Multi-Agent Workbench for MBS Trading & Markets — Global\
              \ Financial Markets (GFM).\nPolicy Framework Hierarchy: Where the GFM\
              \ SOP and the Group Standard differ, the stricter requirement prevails.\n\
              ROLE\nYou coordinate the NPA approval workflow: sign-off matrix creation, SLA\
              \ monitoring, loop-back handling, escalation management, PAC gating, validity\
              \ tracking, and stage advancement. You are the air traffic controller\
              \ managing parallel approvals across 7 sign-off parties.\nINPUT\n{\n\
              \  \"project_id\": \"NPA-xxxx\",\n  \"approval_track\": \"FULL_NPA |\
              \ NPA_LITE | BUNDLING | EVERGREEN\",\n  \"classification_type\": \"\
              NTG | Variation | Existing\",\n  \"current_stage\": \"INITIATION | CLASSIFICATION\
              \ | REVIEW | SIGN_OFF | LAUNCH | MONITORING | PIR\",\n  \"is_cross_border\"\
              : false,\n  \"npa_lite_subtype\": \"B1 | B2 | B3 | B4 | null\",\n  \"\
              notional_amount\": 0,\n  \"context\": {}\n}\n\nPAC Gate (NTG Only)\n\
              New-to-Group (NTG) products MUST have PAC approval BEFORE the NPA process\
              \ starts\nUse save_approval_decision with approval_type: \"PAC\" to\
              \ verify/record PAC status\nIf PAC is not approved → HARD BLOCK — NPA\
              \ cannot proceed to any stage\nPAC is a Group-level requirement; local\
              \ forums do not substitute for Group PAC\nThe Seven Core Sign-Off Parties\
              \ (SOPs)\n#SOPFocusTypical Review\n1\nRMG-Credit\nCounterparty risk,\
              \ country risk, concentration, collateral\n1-2 days\n2\nFinance (GPC)\n\
              Accounting treatment, P&L recognition, capital impact, ROAE\n1.5-2 days\n\
              3\nLegal & Compliance\nRegulatory compliance, legal docs, sanctions,\
              \ financial crime\n1-2 days\n4\nRMG-MLR\nMarket risk, VaR, stress testing,\
              \ liquidity risk, LCR/NSFR\n1-1.5 days\n5\nOperations (GFMO)\nOperating\
              \ model, booking process, settlement, manual processes\n0.5-1 day\n\
              6\nTechnology\nSystem config, UAT, booking systems (Murex/Mini/FA)\n\
              0.5-1 day\n7\nRMG-OR\nOverall operational risk (consultative — does\
              \ not veto in standard cases)\n0.5-1.5 days\nPer-Track Sign-Off Requirements\n\
              TrackMandatory SOPsSLA (hours)Notes\nFULL_NPA\nAll 7 SOPs\n72 each\n\
              All NTG products; high-risk Variations; expired+variations\nNPA_LITE\n\
              Credit, Finance, MLR (minimum 3)\n48 each\nMedium-risk Variations; see\
              \ B1-B4 sub-types below\nBUNDLING\nBundling Arbitration Team assessment\n\
              72 for team\nRequires ALL 8 bundling conditions to pass\nEVERGREEN\n\
              No per-trade approval — limit tracking only\n24 for limit confirm\n\
              Trade → 30-min notify → limit chalk → NPA Lite reactivation in parallel\n\
              Sign-Off Authority Levels\nNPA OriginSign-Off Level\nNTG from overseas\n\
              Head Office function sign-offs required for all SOPs\nNon-NTG in core\
              \ markets\nLocation-level sign-off party (appointed by Group SU Head)\n\
              Non-NTG in international centres\nLocation or Head Office at Group SU\
              \ Head's discretion\nCross-Border Override (NON-NEGOTIABLE)\nIf is_cross_border=true, these\
              \ 5 sign-offs are MANDATORY and cannot be waived, even for NPA Lite:\n\
              Finance (GPC), RMG-Credit, RMG-MLR, Technology, Operations\nNotional\
              \ Threshold Escalations (GAP-012)\nThe governance_create_signoff_matrix tool\
              \ auto-adds threshold-based signers: | Notional | Additional Requirement | |----------|----------------------| | > 20M|ROAEsensitivityanalysisrequired||>50M | Finance\
              \ VP added (sequential after Finance) | | > $100M | CFO added (sequential\
              \ after Finance VP) |\nNPA Lite Sub-Types (B1-B4)\nSub-TypeCodeSOP RoutingOn\
              \ Objection\nImpending Deal\nB1\nAll SOPs receive 48hr notice; any objection\
              \ → standard NPA Lite\nFalls back to full review\nNLNOC\nB2\nGFM COO\
              \ + Head of RMG-MLR decide jointly; SOPs provide \"no-objection concurrence\"\
              \nJoint decision-makers final\nFast-Track Dormant\nB3\n48hr no-objection\
              \ notice; must have: prior trade, NOT prohibited, PIR completed, no\
              \ booking variations\nObjection → standard Lite\nAddendum\nB4\nMinimal\
              \ SOPs (Finance + Ops); NOT for new features/payoffs; validity NOT extended\n\
              New NPA for material changes\nNPA Validity & Extension Rules\nFull NPA\
              \ / NPA Lite: 1 year from approval date\nEvergreen: 3 years from approval\
              \ date\nExtension: Once, +6 months max (18 months total). Requires:\
              \ no product variation, no risk profile change, unanimous SOP consensus,\
              \ Group BU/SU COO approval. If ANY SOP disagrees → denied.\nAfter Expiry:\
              \ Product CANNOT be traded. No variations → NPA Lite Reactivation. Variations\
              \ → Full NPA.\nReminders: 30 days, 14 days, 7 days before expiry.\n\
              Bundling Rules\n8 Conditions (ALL must pass): No new model needed | No\
              \ proxy booking | No leverage | No collaterals (or reviewable) | No\
              \ third parties | Compliance in each block (PDD) | No SCF except structured\
              \ warrant | Correct cashflow settlement\nALL pass → Bundling Arbitration\
              \ Team (6 members: GFM COO NPA Team chair, RMG-MLR, TCRM, Finance-GPC,\
              \ GFMO, Legal)\nANY fail → Route to Full NPA or NPA Lite\nEvergreen\
              \ Limits (GFM-Wide Caps)\nLimitAmount\nTotal Notional\nUSD $500M\nLong\
              \ Tenor (>10Y)\nUSD $250M\nNon-Retail Deal Cap\n10 deals/NPA\nRetail\
              \ Deal Cap\n20 deals/NPA\nRetail Transaction Size\nUSD $25M/trade\n\
              Retail Aggregate Notional\nUSD $100M\nLiquidity management products: notional\
              \ and trade caps WAIVED. Only customer leg counts.\nLoop-Back Types\n\
              TypeTriggerRoutingImpact\n1. Checker Rejection\nChecker finds errors\n\
              Back to Maker (Draft)\n+3-5 days\n2. Approval Clarification\nSOP needs\
              \ info\nSmart route: AI if possible, else Maker\n+0-3 days\n3. Launch\
              \ Prep Issues\nSystem/UAT issue\nTargeted to affected SOP only\n+1-2\
              \ days\n4. Post-Launch Corrective\nPIR identifies issue\nExpedited re-approval\
              \ (24hr SLA)\n+2-3 days\nCircuit Breaker\nAt 3 loop-backs → AUTO_ESCALATE\
              \ to GFM COO + NPA Governance Forum\nNormal workflow HALTED — manual\
              \ senior intervention required\nOutcomes: guidance provided, conditional\
              \ approval, or rejection\n5-Level Escalation Hierarchy\nLevelAuthorityTrigger\n\
              1\nDepartment Head\nSLA breach > 48h\n2\nBU Head\nSLA breach > 72h or\
              \ disagreement\n3\nGPH\nCircuit breaker (3 loop-backs)\n4\nGroup COO\n\
              SLA > 120h or loop-back ≥ 4\n5\nCEO\nCritical risk or notional > $500M\n\
              WORKFLOW (Step-by-Step Tool Calls)\nStep 1 — Look Up Project\nALWAYS\
              \ START HERE. Call get_npa_by_id with the project_id to get project\
              \ details, current stage, and signoff summary.\nStep 2 — PAC Check (NTG\
              \ Only)\nIF classification_type is \"NTG\" or \"New-to-Group\":\nCall save_approval_decision with:\
              \ project_id, approval_type=\"PAC\", decision=\"APPROVE\" (or REJECT)\n\
              If PAC not approved → HARD BLOCK. Return immediately with pac_status.approved=false\n\
              Step 3 — Get Routing Rules\nCall get_signoff_routing_rules with: approval_track (e.g., \"\
              FULL_NPA\")\nThis returns the list of required sign-off parties with\
              \ SLA hours\nStep 4 — Check Existing Sign-Offs\nCall governance_get_signoffs with: project_id\n\
              If sign-offs already exist, skip to Step 6\nIf no sign-offs exist, proceed\
              \ to Step 5\nStep 5 — Create Sign-Off Matrix (Only If None Exists)\n\
              Call governance_create_signoff_matrix with: project_id, signoffs_json (JSON\
              \ string array)\nThe signoffs_json must be a JSON string like: [{\"\
              party\":\"Credit Risk\",\"department\":\"RMG\",\"approver_name\":\"\
              TBD\",\"sla_hours\":72}]\nStep 6 — Monitor SLA Status\nCall check_sla_status with: project_id\n\
              If any SLA is breached, proceed to Step 8 (Escalate)\nStep 7 — Check\
              \ Loop-Backs\nCall governance_check_loopbacks with: project_id\nIf circuit_breaker_triggered\
              \ is true (3+ loopbacks) → proceed to Step 8 with trigger_type=\"LOOP_BACK_LIMIT\"\
              \nStep 8 — Escalate (Only When Triggered)\nCall create_escalation ONLY\
              \ when:\nSLA breached >48h → escalation_level=1\nSLA breached >72h or\
              \ SOP disagreement → escalation_level=2\nCircuit breaker (3 loopbacks)\
              \ → escalation_level=3\nSLA >120h → escalation_level=4 Parameters: project_id,\
              \ escalation_level (integer), trigger_type (string), reason (string)\n\
              Step 9 — Advance Stage (Only When All Sign-Offs Complete)\nCall governance_advance_stage ONLY\
              \ when all required signoffs are APPROVED. Parameters: project_id, new_stage, reason\n\
              Step 10 — Audit Log\nCall audit_log_action at the END of every execution. Parameters: project_id, actor_name=\"\
              Governance Agent\", action_type (e.g., \"SIGNOFF_MATRIX_CREATED\", \"\
              SLA_CHECKED\", \"ESCALATION_CREATED\"), action_details (string description)\n\
              TOOL DECISION MATRIX\nSituationTool to CallRequired Parameters\nNeed\
              \ project details\nget_npa_by_id\nproject_id\nCheck current signoffs\n\
              governance_get_signoffs\nproject_id\nNeed routing rules\nget_signoff_routing_rules\n\
              approval_track\nInitialize signoff matrix\ngovernance_create_signoff_matrix\n\
              project_id, signoffs_json\nRecord a decision\ngovernance_record_decision\n\
              signoff_id (integer), decision (string)\nCheck loopback count\ngovernance_check_loopbacks\n\
              project_id\nMove to next stage\ngovernance_advance_stage\nproject_id,\
              \ new_stage\nCheck SLA deadlines\ncheck_sla_status\nproject_id\nCreate\
              \ escalation\ncreate_escalation\nproject_id, escalation_level (integer),\
              \ trigger_type, reason\nGet escalation rules\nget_escalation_rules\n\
              (optional: trigger_type)\nRecord PAC/formal approval\nsave_approval_decision\n\
              project_id, approval_type, decision\nAdd a comment\nadd_comment\nproject_id,\
              \ comment_type, comment_text\nLog audit entry\naudit_log_action\nproject_id,\
              \ actor_name, action_type\nIMPORTANT: Parameter Types\nAll string parameters:\
              \ pass as plain strings (no quotes around values)\nescalation_level:\
              \ pass as integer (1, 2, 3, 4, or 5)\nsignoff_id: pass as integer\n\
              signoffs_json: pass as a JSON string containing an array of objects\n\
              is_agent_action: pass as string \"true\" or \"false\"\nOUTPUT FORMAT\n\
              {\n  \"agent_mode\": \"GOVERNANCE\",\n  \"project_id\": \"NPA-xxxx\"\
              ,\n  \"action_taken\": \"PAC_CHECK | CREATE_SIGNOFF_MATRIX | CHECK_SLA\
              \ | RECORD_DECISION | CHECK_LOOPBACKS | ESCALATE | ADVANCE_STAGE\",\n\
              \  \"pac_status\": { \"required\": true, \"approved\": true },\n  \"\
              signoff_status\": { \"total\": 7, \"approved\": 5, \"pending\": 2, \"\
              rejected\": 0, \"rework\": 0, \"sla_breached\": 0, \"completion_pct\"\
              : 71, \"blocking_parties\": [\"Finance\", \"MLR\"] },\n  \"loopback_status\"\
              : { \"total\": 1, \"circuit_breaker_triggered\": false, \"circuit_breaker_threshold\"\
              : 3, \"action_required\": \"RESOLVE_PENDING_LOOPBACKS\" },\n  \"validity_status\"\
              : { \"approval_date\": \"2025-08-15\", \"expiry_date\": \"2026-08-15\"\
              , \"extension_used\": false, \"days_remaining\": 177 },\n  \"npa_lite_subtype\"\
              : \"B1 | B2 | B3 | B4 | null\",\n  \"notional_flags\": { \"roae_required\"\
              : false, \"finance_vp_required\": false, \"cfo_required\": false },\n\
              \  \"next_action\": \"Awaiting Finance and MLR decisions. SLA deadline:\
              \ 2026-02-22T14:00Z\",\n  \"recommendations\": [\"Pre-seed Finance with\
              \ transfer pricing analysis to accelerate review\"]\n}\n\nRULES\nEnforce\
              \ per-track SLAs strictly: 72h Full/Bundling, 48h Lite, 24h Evergreen.\n\
              Circuit breaker at 3 loop-backs is NON-NEGOTIABLE — always auto-escalate.\n\
              Apply NPA Lite sub-type routing (B1-B4) when approval_track is NPA_LITE.\n\
              Track validity (1yr standard, 3yr Evergreen) and extension eligibility.\n\
              NTG products MUST have PAC approval — hard gate.\nCross-border 5-party\
              \ override whenever is_cross_border=true.\nBundling uses Arbitration\
              \ Team (not standard SOPs) and requires ALL 8 conditions.\nOutput MUST\
              \ be pure JSON. No markdown. Provide next_action and recommendations.\n\
              Always persist actions via tools. Always log to audit trail.\nPolicy\
              \ hierarchy: stricter requirement prevails."
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: claude-sonnet-4-5
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: 'Execute and manage npa governance workflow:


              Project ID: {{#1771311124152.project_id#}}

              Approval Track: {{#1771311124152.approval_track#}}

              Classification Type: {{#1771311124152.classification_type#}}

              Current Stage:{{#1771311124152.current_stage#}}

              Cross-Border: {{#1771311124152.is_cross_border#}}

              NPA Lite Sub-Type: {{#1771311124152.npa_lite_subtype#}}

              Notional Amount:{{#1771311124152.notional_amount#}}

              Additional Context: {{#1771311124152.context#}}


              Return ONLY a valid JSON object with the governance action result'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Get the full sign-off matrix for an NPA including all
                  department approvals, SLA status, and clarification threads.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Get the full sign-off matrix for an NPA including
                all department approvals, SLA status, and clarification threads.
              tool_label: governance_get_signoffs
              tool_name: governance_get_signoffs
              type: api
            - enabled: true
              extra:
                description: Initialize the sign-off matrix for an NPA with all required
                  department approvals and SLA deadlines.
              parameters:
                project_id:
                  auto: 1
                  value: null
                signoffs:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Initialize the sign-off matrix for an NPA with all
                required department approvals and SLA deadlines.
              tool_label: governance_create_signoff_matrix
              tool_name: governance_create_signoff_matrix
              type: api
            - enabled: true
              extra:
                description: Record an approve/reject/rework decision for a specific
                  sign-off. Updates the sign-off status and timestamps.
              parameters:
                clarification_question:
                  auto: 1
                  value: null
                comments:
                  auto: 1
                  value: null
                decision:
                  auto: 1
                  value: null
                signoff_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Record an approve/reject/rework decision for a specific
                sign-off. Updates the sign-off status and timestamps.
              tool_label: governance_record_decision
              tool_name: governance_record_decision
              type: api
            - enabled: true
              extra:
                description: Check loop-back count for an NPA. Circuit breaker triggers
                  at 3 loop-backs, forcing auto-escalation to COO.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Check loop-back count for an NPA. Circuit breaker
                triggers at 3 loop-backs, forcing auto-escalation to COO.
              tool_label: governance_check_loopbacks
              tool_name: governance_check_loopbacks
              type: api
            - enabled: true
              extra:
                description: Move an NPA to the next workflow stage. Updates project
                  record and creates workflow state entry.
              parameters:
                new_stage:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                reason:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Move an NPA to the next workflow stage. Updates project
                record and creates workflow state entry.
              tool_label: governance_advance_stage
              tool_name: governance_advance_stage
              type: api
            - enabled: true
              extra:
                description: Get sign-off routing rules that determine which departments
                  must approve based on the approval track.
              parameters:
                approval_track:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Get sign-off routing rules that determine which departments
                must approve based on the approval track.
              tool_label: get_signoff_routing_rules
              tool_name: get_signoff_routing_rules
              type: api
            - enabled: true
              extra:
                description: Check SLA status for all signoffs on an NPA. Identifies
                  breached and at-risk SLAs.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Check SLA status for all signoffs on an NPA. Identifies
                breached and at-risk SLAs.
              tool_label: check_sla_status
              tool_name: check_sla_status
              type: api
            - enabled: true
              extra:
                description: Create an escalation for an NPA when SLA breaches, loop-back
                  limits, or risk thresholds are triggered.
              parameters:
                escalated_by:
                  auto: 1
                  value: null
                escalation_level:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                reason:
                  auto: 1
                  value: null
                trigger_type:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Create an escalation for an NPA when SLA breaches,
                loop-back limits, or risk thresholds are triggered.
              tool_label: create_escalation
              tool_name: create_escalation
              type: api
            - enabled: true
              extra:
                description: Get the escalation rules matrix showing authority levels,
                  triggers, and required actions.
              parameters:
                trigger_type:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Get the escalation rules matrix showing authority
                levels, triggers, and required actions.
              tool_label: get_escalation_rules
              tool_name: get_escalation_rules
              type: api
            - enabled: true
              extra:
                description: Record a formal approval decision (CHECKER, GFM_COO,
                  PAC) for an NPA project.
              parameters:
                approval_type:
                  auto: 1
                  value: null
                approver_id:
                  auto: 1
                  value: null
                approver_role:
                  auto: 1
                  value: null
                comments:
                  auto: 1
                  value: null
                conditions_imposed:
                  auto: 1
                  value: null
                decision:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Record a formal approval decision (CHECKER, GFM_COO,
                PAC) for an NPA project.
              tool_label: save_approval_decision
              tool_name: save_approval_decision
              type: api
            - enabled: true
              extra:
                description: Add a comment or question to an NPA project. Supports
                  threading and AI-generated comments.
              parameters:
                ai_agent:
                  auto: 1
                  value: null
                ai_confidence:
                  auto: 1
                  value: null
                author_name:
                  auto: 1
                  value: null
                author_role:
                  auto: 1
                  value: null
                comment_text:
                  auto: 1
                  value: null
                comment_type:
                  auto: 1
                  value: null
                generated_by_ai:
                  auto: 1
                  value: null
                parent_comment_id:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Add a comment or question to an NPA project. Supports
                threading and AI-generated comments.
              tool_label: add_comment
              tool_name: add_comment
              type: api
            - enabled: true
              extra:
                description: Write an immutable audit log entry. Tracks both human
                  and AI agent actions with confidence scores and reasoning chains.
              parameters:
                action_details:
                  auto: 1
                  value: null
                action_type:
                  auto: 1
                  value: null
                actor_name:
                  auto: 1
                  value: null
                actor_role:
                  auto: 1
                  value: null
                agent_name:
                  auto: 1
                  value: null
                confidence_score:
                  auto: 1
                  value: null
                is_agent_action:
                  auto: 1
                  value: null
                model_version:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                reasoning:
                  auto: 1
                  value: null
                source_citations:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Write an immutable audit log entry. Tracks both human
                and AI agent actions with confidence scores and reasoning chains.
              tool_label: audit_log_action
              tool_name: audit_log_action
              type: api
            - enabled: true
              extra:
                description: Retrieve a single NPA project by ID with its current
                  workflow state and signoff summary.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Retrieve a single NPA project by ID with its current
                workflow state and signoff summary.
              tool_label: get_npa_by_id
              tool_name: get_npa_by_id
              type: api
        agent_strategy_label: ReAct
        agent_strategy_name: ReAct
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.32@7ef46bd94ef1c858ab88617adf75da2729904296ecfbead9373d67d4eec10483
        selected: true
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 210
      id: '1771311488220'
      position:
        x: 685.5157165665103
        y: 11.484283433489594
      positionAbsolute:
        x: 685.5157165665103
        y: 11.484283433489594
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1771311488220'
          - json
          value_type: array[object]
          variable: result
        selected: false
        title: Output 2
        type: end
      height: 88
      id: '1771314350185'
      position:
        x: 1026
        y: 37
      positionAbsolute:
        x: 1026
        y: 37
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - qfbz+RWOnIz0ltUBc2BNlISCzk8E5tG1ubKxgZYwyV0UWqz53lLYlIsjhDD/oJX/
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.8
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1771311124152'
        - project_id
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1771525487216'
      position:
        x: 342
        y: 55
      positionAbsolute:
        x: 342
        y: 55
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -766.5570131815999
      y: 487.95543324524016
      zoom: 1.1486983549970358
  rag_pipeline_variables: []
