shipping/AgentHuntDifyAgents/WF_NPA_Notification.yml
app:
  description: Alert delivery, deduplication, escalation chains, severity-based routing,
    daily digest generation.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: WF_NPA_Notification
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1771562417336-source-1771562418589-target
      source: '1771562417336'
      sourceHandle: source
      target: '1771562418589'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: agent
      id: 1771562418589-source-1771562421678-target
      selected: false
      source: '1771562418589'
      sourceHandle: source
      target: '1771562421678'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1771562421678-source-1771562423958-target
      selected: false
      source: '1771562421678'
      sourceHandle: source
      target: '1771562423958'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: project_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: project_id
        - default: ''
          hint: ''
          label: context
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: context
      height: 135
      id: '1771562417336'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - fK/bT7ImaPQ9CeblHWj/gSvd7YgttLZlo6GUSdQj+PjbNjXDV8yyO2iU70Ecs5Sq
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1771562417336'
        - project_id
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1771562418589'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          context:
            type: variable
            value:
            - '1771562418589'
            - result
          instruction:
            type: constant
            value: "You are the NPA Notification Agent (\"The Messenger\") in the\
              \ COO Multi-Agent Workbench for MBS Trading & Markets — Global Financial\
              \ Markets (GFM).\nROLE\nYou are the unified notification engine: aggregate\
              \ alerts from all agents, deduplicate, prioritize by severity, route\
              \ through appropriate channels, and manage escalation chains.\nPrime\
              \ Directive: Signal over noise — every notification must be actionable. Deduplicate\
              \ similar alerts, prioritize by severity, route through the most effective\
              \ channel.\nINPUT\n{\n  \"project_id\": \"NPA-xxxx\",\n  \"context\"\
              : {\n    \"alert_type\": \"SLA_BREACH | LOOP_BACK | STAGE_ADVANCE |\
              \ MONITORING_BREACH | CIRCUIT_BREAKER | APPROVAL_COMPLETE | PIR_REMINDER\"\
              ,\n    \"severity\": \"CRITICAL | WARNING | INFO\",\n    \"details\"\
              : {}\n  }\n}\n\nAlert Types\nAlertRecipientsPriority\nSLA_BREACH\nApprover\
              \ + manager + COO (if > 72h)\nHIGH/CRITICAL\nLOOP_BACK (Type 1: Checker)\n\
              Maker + NPA Champion\nWARNING\nLOOP_BACK (Type 2: Clarification)\nMaker\
              \ + relevant SOP\nINFO/WARNING\nLOOP_BACK (Type 3: Launch Prep)\nMaker\
              \ + relevant SOP + Ops\nWARNING\nLOOP_BACK (Type 4: Post-Launch)\nProduct\
              \ Owner + all SOPs\nCRITICAL\nSTAGE_ADVANCE\nAll sign-off parties\n\
              LOW\nMONITORING_BREACH\nProduct manager + risk team\nHIGH\nCIRCUIT_BREAKER\n\
              GFM COO + NPA Governance Forum + all parties\nCRITICAL\nAPPROVAL_COMPLETE\n\
              All parties + maker\nLOW\nPIR_REMINDER\nProduct owner + PIR coordinator\n\
              WARNING\nSLA Windows by Approval Track\nTrackSLAWarning AtBreach At\n\
              Full NPA\n72h per SOP\n48h\n72h\nNPA Lite\n48h per SOP\n36h\n48h\nBundling\n\
              72h for team\n48h\n72h\nEvergreen\n24h for limit\n16h\n24h\nDeduplication\
              \ Rules\nRuleAction\nSame NPA + same type within 1h\nMerge into single\
              \ notification with count\nSame recipient + same severity within 15min\n\
              Bundle into digest\nWARNING followed by CRITICAL for same metric\nKeep\
              \ only CRITICAL, supersede WARNING\nBreach followed by recovery\nSend\
              \ \"Resolved\", close original alert chain\nSeverity-Based Delivery\n\
              SeverityDeliveryFollow-Up\nCRITICAL\nImmediate in-app push + email\n\
              Re-send if not acknowledged in 30 min\nWARNING\nIn-app within 5 min,\
              \ email in next batch\nInclude in daily digest if unacknowledged\nINFO\n\
              In-app notification center, daily digest\nNo follow-up needed\nEscalation\
              \ Chains\nLevelTimingRecipients\n1\n0-30 min\nProduct Owner + Immediate\
              \ Team\n2\n30-60 min\n+ Department Manager + Risk Team\n3\n1-4 hours\n\
              + VP + Compliance\n4\n4+ hours\n+ COO + Executive Committee\nEach level\
              \ adds recipients, never removes previous level.\nCircuit Breaker Alert\
              \ (Always CRITICAL)\nWhen 3rd loop-back detected:\nRecipients: GFM COO,\
              \ NPA Governance Forum, Product Owner, NPA Champion\nInclude loop-back\
              \ history (all 3 types, parties, dates)\nAction: Senior intervention\
              \ required\nWORKFLOW\nDetermine alert type and severity from context\n\
              Use send_notification to deliver alerts\nUse get_pending_notifications to\
              \ check undelivered alerts\nUse mark_notification_read when alerts are\
              \ acknowledged\nLog all notifications to audit trail with audit_log_action\n\
              TOOLS (5)\nsend_notification — Send alerts with severity, channel, and\
              \ recipient routing\nget_pending_notifications — Check undelivered/unacknowledged\
              \ notifications\nmark_notification_read — Acknowledge notification,\
              \ stop escalation chain\naudit_log_action — Log to immutable audit trail\n\
              get_npa_by_id — Look up NPA project details\nOUTPUT FORMAT\n{\n  \"\
              agent_mode\": \"NOTIFICATION\",\n  \"project_id\": \"NPA-xxxx\",\n \
              \ \"notifications_sent\": 2,\n  \"notifications\": [\n    {\"type\"\
              : \"SLA_BREACH\", \"recipient\": \"Finance Team\", \"priority\": \"\
              HIGH\", \"channel\": \"email\", \"status\": \"sent\"},\n    {\"type\"\
              : \"STAGE_ADVANCE\", \"recipient\": \"All Parties\", \"priority\": \"\
              LOW\", \"channel\": \"in_app\", \"status\": \"sent\"}\n  ],\n  \"suppressed\"\
              : [\n    {\"reason\": \"DEDUPLICATED\", \"original_type\": \"SLA_BREACH\"\
              , \"message\": \"Duplicate within 1h window\"}\n  ]\n}\n\nRULES\nCRITICAL\
              \ → always deliver immediately, never batch or suppress.\nCircuit breaker\
              \ alert is ALWAYS CRITICAL — 3 loop-backs → GFM COO + Governance Forum.\n\
              Deduplicate within time windows. Supersede lower severity with higher.\n\
              Escalation adds recipients at each level, never removes.\nLog ALL sent\
              \ notifications to audit trail.\nSLA monitoring: track per-SOP timelines.\
              \ Finance (1.8d avg) is most common bottleneck.\nOutput MUST be pure\
              \ JSON."
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: claude-sonnet-4-5
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: 'Process notification for this NPA:


              Project ID: {{#1771562417336.project_id#}}

              Context: {{#1771562417336.context#}}


              Return ONLY a valid JSON object with the notification result.'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Send a notification for an NPA event (SLA breach, stage
                  change, approval needed, escalation).
              parameters:
                message:
                  auto: 1
                  value: null
                notification_type:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                recipient_role:
                  auto: 1
                  value: null
                severity:
                  auto: 1
                  value: null
                title:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Send a notification for an NPA event (SLA breach,
                stage change, approval needed, escalation).
              tool_label: send_notification
              tool_name: send_notification
              type: api
            - enabled: true
              extra:
                description: Get pending notifications aggregated from SLA breaches,
                  breach alerts, pending approvals, and clarification requests.
              parameters:
                limit:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                user_role:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Get pending notifications aggregated from SLA breaches,
                breach alerts, pending approvals, and clarification requests.
              tool_label: get_pending_notifications
              tool_name: get_pending_notifications
              type: api
            - enabled: true
              extra:
                description: Mark a notification as read/acknowledged. Updates the
                  source record where applicable.
              parameters:
                notification_type:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                reference_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Mark a notification as read/acknowledged. Updates
                the source record where applicable.
              tool_label: mark_notification_read
              tool_name: mark_notification_read
              type: api
            - enabled: true
              extra:
                description: Write an immutable audit log entry. Tracks both human
                  and AI agent actions with confidence scores and reasoning chains.
              parameters:
                action_details:
                  auto: 1
                  value: null
                action_type:
                  auto: 1
                  value: null
                actor_name:
                  auto: 1
                  value: null
                actor_role:
                  auto: 1
                  value: null
                agent_name:
                  auto: 1
                  value: null
                confidence_score:
                  auto: 1
                  value: null
                is_agent_action:
                  auto: 1
                  value: null
                model_version:
                  auto: 1
                  value: null
                project_id:
                  auto: 1
                  value: null
                reasoning:
                  auto: 1
                  value: null
                source_citations:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Write an immutable audit log entry. Tracks both human
                and AI agent actions with confidence scores and reasoning chains.
              tool_label: audit_log_action
              tool_name: audit_log_action
              type: api
            - enabled: true
              extra:
                description: Retrieve a single NPA project by ID with its current
                  workflow state and signoff summary.
              parameters:
                project_id:
                  auto: 1
                  value: null
              provider_name: 0183c039-452c-4cb2-ae87-7223616df6fc
              provider_show_name: NPA MCP Tools Server
              settings: {}
              tool_description: Retrieve a single NPA project by ID with its current
                workflow state and signoff summary.
              tool_label: get_npa_by_id
              tool_name: get_npa_by_id
              type: api
        agent_strategy_label: ReAct
        agent_strategy_name: ReAct
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.32@7ef46bd94ef1c858ab88617adf75da2729904296ecfbead9373d67d4eec10483
        selected: true
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1771562421678'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1771562421678'
          - json
          value_type: array[object]
          variable: result
        selected: false
        title: Output
        type: end
      height: 88
      id: '1771562423958'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -556
      y: 255
      zoom: 1
  rag_pipeline_variables: []
