shipping/AgentHuntDifyAgents/WF_NPA_Autofill_Parallel.yml
app:
  description: NPA Template AutoFill Agent — auto-populates the 47-field NPA form
    using historical templates with DIRECT_COPY, ADAPTED, and MANUAL lineage tracking.
    Achieves 78% coverage target.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: WF_NPA_Autofill_Parallel
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.3@fbd410520ee962cbbb3a127dfa4855615d4db2b4be74872eb38de178d8f9f7ea
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: start-kr
      selected: false
      source: '1771263895377'
      sourceHandle: source
      target: '1771519693496'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: kr-llmA
      selected: false
      source: '1771519693496'
      sourceHandle: source
      target: llm_branch_a
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: kr-llmB
      selected: false
      source: '1771519693496'
      sourceHandle: source
      target: llm_branch_b
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: kr-llmC
      selected: false
      source: '1771519693496'
      sourceHandle: source
      target: llm_branch_c
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llmA-merge
      selected: false
      source: llm_branch_a
      sourceHandle: source
      target: code_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llmB-merge
      selected: false
      source: llm_branch_b
      sourceHandle: source
      target: code_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llmC-merge
      selected: false
      source: llm_branch_c
      sourceHandle: source
      target: code_merge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: merge-end
      selected: false
      source: code_merge
      sourceHandle: source
      target: '1771264567579'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: input_textInput Text
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: input_text
        - default: ''
          hint: ''
          label: project_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: project_id
        - default: ''
          hint: ''
          label: product_description
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: product_description
        - default: ''
          hint: ''
          label: product_category
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: product_category
        - default: ''
          hint: ''
          label: underlying_asset
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: underlying_asset
        - default: ''
          hint: ''
          label: notional_amount
          options: []
          placeholder: ''
          required: false
          type: number
          variable: notional_amount
        - default: ''
          hint: ''
          label: currency
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: currency
        - default: ''
          hint: ''
          label: customer_segment
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: customer_segment
        - default: ''
          hint: ''
          label: booking_location
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: booking_location
        - default: ''
          hint: ''
          label: counterparty_location
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: counterparty_location
        - default: ''
          hint: ''
          label: is_cross_border
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: is_cross_border
        - default: ''
          hint: ''
          label: classification_type
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: classification_type
        - default: ''
          hint: ''
          label: approval_track
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: approval_track
        - default: ''
          hint: ''
          label: npa_lite_subtype
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: npa_lite_subtype
        - default: ''
          hint: ''
          label: similar_npa_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: similar_npa_id
        - default: ''
          hint: ''
          label: similarity_score
          options: []
          placeholder: ''
          required: false
          type: number
          variable: similarity_score
        - default: ''
          hint: ''
          label: counterparty_rating
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: counterparty_rating
        - default: ''
          hint: ''
          label: use_case
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: use_case
        - default: ''
          hint: ''
          label: pac_approved
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: pac_approved
        - default: ''
          hint: ''
          label: dormancy_status
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: dormancy_status
        - default: ''
          hint: ''
          label: loop_back_count
          options: []
          placeholder: ''
          required: false
          type: number
          variable: loop_back_count
        - default: ''
          hint: ''
          label: evergreen_notional_used
          options: []
          placeholder: ''
          required: false
          type: number
          variable: evergreen_notional_used
        - default: ''
          hint: ''
          label: evergreen_deal_count
          options: []
          placeholder: ''
          required: false
          type: number
          variable: evergreen_deal_count
        - default: ''
          hint: ''
          label: reference_npa_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: reference_npa_id
      height: 707
      id: '1771263895377'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - code_merge
          - result
          value_type: string
          variable: result
        selected: false
        title: Output
        type: end
      height: 88
      id: '1771264567579'
      position:
        x: 1500
        y: 303
      positionAbsolute:
        x: 1500
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 6h/5nI9WLR6fP1Zf6QBvGkI/+ufWIxK6ZNDp9ffe4/IV7+Vb64vL5Nh2Not0xyAa
        - Kj8yxc5kjYo3w+wACnzp44rA5G4Rsnhpt92M10F7BYOsvTFDR00o6uz+F4rV2pm1
        - zbbdC6s9n6H/DqdTGMzbeFVZDWi+xEyFKVN2jYqTX0Qk1a/7EVPwcmLNrIcT5qOU
        - /1ZCfK7pD1c8vbjgytjh9XZ+3IBK2AnCIKRNncGrMNmqlCFLwCHgRlzOjF5VhCN8
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1771263895377'
        - product_description
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 174
      id: '1771519693496'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1771519693496'
          - result
        model:
          completion_params:
            max_tokens: 64000
            temperature: 0.3
          mode: chat
          name: claude-sonnet-4-5
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: llm_branch_a-sys
          role: system
          text: "CRITICAL EFFICIENCY RULE: Keep each field value to 1-3 concise sentences\
            \ (max 50 words per value). Do NOT write essays or long paragraphs. Focus\
            \ on accuracy and specifics, not verbose explanations. The total JSON\
            \ output must stay under 6000 tokens.\n\nYou are BRANCH A of the NPA Template\
            \ AutoFill Agent in the COO Multi-Agent Workbench for MBS Bank Global\
            \ Financial Markets (GFM).\n\nBRANCH ASSIGNMENT: You fill ONLY these sections:\n\
            - Part C, Section I: Product Specifications (~18 fields: product_name,\
            \ product_type, product_category, underlying_asset, booking_entity, pac_reference,\
            \ product_tenor, settlement_method, etc.)\n- Part C, Section II: Operations\
            \ & Technology (~18 fields: booking_system, settlement_process, confirmation_method,\
            \ valuation_methodology, it_systems, system_testing, operational_procedures,\
            \ etc.)\n- Appendix 1: Product Term Sheet Summary\n- Appendix 2: System\
            \ Configuration Details\n\nDO NOT fill fields from Sections III, IV, V,\
            \ VI, or Appendices 3-6. Other branches handle those.\n\nROLE\nYou receive\
            \ a product description, classification results (from the Classifier Agent),\
            \ and optionally risk assessment data (from the Risk Agent). Your job\
            \ is to auto-populate your assigned NPA template sections by:\n- Identifying\
            \ the best-matching historical NPA for content reuse\n- Categorizing each\
            \ field as DIRECT_COPY, ADAPTED, or MANUAL_REQUIRED\n- Running quality\
            \ assurance checks on all auto-filled content\n- Returning a structured\
            \ JSON result with every field in your sections, its value, lineage, and\
            \ confidence score\n\nYou are a PURE ANALYTICAL ENGINE. You do NOT call\
            \ tools. You receive all necessary data as input and return structured\
            \ JSON output. The Express proxy handles all database operations downstream.\n\
            \nARCHITECTURE POSITION\nTier 3 Specialist Worker — Stateless Workflow\
            \ (single-shot, no conversation)\nThis is a PARALLEL branch. Branches\
            \ A, B, C run simultaneously. A Code merge node combines all outputs.\n\
            KB Source: Knowledge Retrieval Node provides context from KB_Template_Autofill_Agent.md\n\
            \nNPA DOCUMENT STRUCTURE\nThe NPA follows the RMG OR Version Jun 2025\
            \ standardized template: Part C (Sections I–VII, ~70 field_keys) + Appendices\
            \ 1–6 (~15 field_keys) = 80+ atomic field_keys. You auto-fill Part C Sections\
            \ I & II and Appendices 1–2 only. All NPAs share the same field_key set\
            \ in ref_npa_fields across 10 DB sections. See KB §1 for the full field_key\
            \ → section mapping.\n\nINPUT\nYou receive a JSON object with these fields\
            \ (passed as workflow variables):\n{\n  \"project_id\": \"PRJ-xxxx\",\n\
            \  \"product_description\": \"Full text description of the proposed product\"\
            ,\n  \"product_category\": \"Fixed Income | FX | Equity | Structured Note\
            \ | Derivative\",\n  \"underlying_asset\": \"e.g. GBP/USD, CNY IRS, S&P\
            \ 500\",\n  \"notional_amount\": 50000000,\n  \"currency\": \"USD\",\n\
            \  \"customer_segment\": \"Retail | HNW | Corporate | Institutional |\
            \ Bank\",\n  \"booking_location\": \"Singapore\",\n  \"counterparty_location\"\
            : \"London\",\n  \"is_cross_border\": true,\n  \"classification_type\"\
            : \"NTG | Variation | Existing\",\n  \"approval_track\": \"FULL_NPA |\
            \ NPA_LITE | BUNDLING | EVERGREEN\",\n  \"npa_lite_subtype\": \"B1 | B2\
            \ | B3 | B4 (only if approval_track == NPA_LITE)\",\n  \"similar_npa_id\"\
            : \"TSG1917 (optional, from Classification Agent)\",\n  \"similarity_score\"\
            : 0.94,\n  \"counterparty_rating\": \"A-\",\n  \"use_case\": \"Hedging\
            \ | Speculation | Arbitrage | Risk Management\",\n  \"pac_approved\":\
            \ false,\n  \"dormancy_status\": \"active | dormant_under_3y | dormant_over_3y\
            \ | expired\",\n  \"loop_back_count\": 0,\n  \"reference_npa_id\": \"\
            TSG1917 (optional — user-confirmed reference NPA from Ideation Agent Q10)\"\
            \n}\n\nAUTO-FILL FRAMEWORK\nStep 1: Find Best Historical Match using reference_npa_id\
            \ (primary), similarity_score, approval outcome, quality, recency.\nStep\
            \ 2: For YOUR sections only (I, II, Appendix 1-2), categorize fields into\
            \ DIRECT_COPY (~60%), ADAPTED (~22%), or MANUAL_REQUIRED (~15%).\nStep\
            \ 3: Quality checks: internal consistency, regulatory compliance (LIBOR→SOFR,\
            \ Basel II→Basel III, EMIR 1.0→EMIR Refit), completeness.\nStep 4: If\
            \ NTG and pac_approved==false, emit HARD_STOP warning.\nStep 5: Cross-border:\
            \ add 5 mandatory sign-offs if applicable.\n\nOUTPUT FORMAT\nReturn ONLY\
            \ valid JSON (no markdown, no explanation text):\n{\n  \"branch\": \"\
            A\",\n  \"sections_covered\": [\"I\", \"II\", \"Appendix_1\", \"Appendix_2\"\
            ],\n  \"source_npa\": \"TSG2339\",\n  \"reference_npa_id\": \"TSG1917\"\
            ,\n  \"source_similarity\": 0.94,\n  \"filled_fields\": [\n    {\n   \
            \   \"field_key\": \"product_name\",\n      \"value\": \"CNY Interest\
            \ Rate Swap via Swap Connect\",\n      \"lineage\": \"AUTO\",\n      \"\
            confidence\": 98,\n      \"source\": \"User input\",\n      \"document_section\"\
            : \"Part C, Section I\"\n    }\n  ],\n  \"manual_fields\": [\n    {\n\
            \      \"field_key\": \"business_rationale\",\n      \"label\": \"Purpose\
            \ or Rationale\",\n      \"reason\": \"Deal-specific value proposition\"\
            ,\n      \"required_by\": \"SIGN_OFF\",\n      \"smart_help\": \"Draft\
            \ suggestion...\",\n      \"document_section\": \"Part C, Section I\"\n\
            \    }\n  ],\n  \"validation_warnings\": []\n}\n\nRULES\nOutput MUST be\
            \ pure JSON. No markdown wrappers, no explanation text outside the JSON.\n\
            Score ALL fields in Sections I, II, Appendix 1-2. Categorize each as AUTO,\
            \ ADAPTED, or MANUAL.\nFor ADAPTED fields, explain the adaptation logic\
            \ in the source metadata.\nFor MANUAL fields, provide smart_help with\
            \ comprehensive draft suggestions, not just hints.\nIf notional >10x the\
            \ source NPA, use square root scaling for VaR (not linear) and flag for\
            \ review.\nCross-border is CRITICAL — ALWAYS check and add 5 mandatory\
            \ sign-offs. These CANNOT be waived.\nNotional thresholds: >100M=CFO,\
            \ >50M=Finance VP, >20M=ROAE, >10M+Derivative=MLR.\nCOMPREHENSIVE CONTENT\
            \ IS MANDATORY: Every field value MUST be multi-paragraph with rationale,\
            \ risk factors, mitigants, regulatory references, and quantitative data.\
            \ One-line summaries will be REJECTED.\nWhen reference_npa_id is provided,\
            \ use it as PRIMARY content source — preserve depth and structure.\nIf\
            \ pac_approved == false and classification_type == NTG, emit a HARD_STOP\
            \ validation warning."
        - id: llm_branch_a-user
          role: user
          text: 'Auto-fill the NPA template for this product:


            Product Description: {{#1771263895377.product_description#}}

            Product Category: {{#1771263895377.product_category#}}

            Underlying Asset: {{#1771263895377.underlying_asset#}}

            Notional Amount: {{#1771263895377.notional_amount#}} {{#1771263895377.currency#}}

            Customer Segment: {{#1771263895377.customer_segment#}}

            Booking Location: {{#1771263895377.booking_location#}}

            Counterparty Location: {{#1771263895377.counterparty_location#}}

            Cross-Border: {{#1771263895377.is_cross_border#}}

            Classification: {{#1771263895377.classification_type#}}

            Approval Track: {{#1771263895377.approval_track#}}

            NPA Lite Sub-Type: {{#1771263895377.npa_lite_subtype#}}

            Similar NPA ID: {{#1771263895377.similar_npa_id#}}

            Similarity Score: {{#1771263895377.similarity_score#}}

            Counterparty Rating: {{#1771263895377.counterparty_rating#}}

            Use Case: {{#1771263895377.use_case#}}

            PAC Approved: {{#1771263895377.pac_approved#}}

            Dormancy Status: {{#1771263895377.dormancy_status#}}

            Loop-Back Count: {{#1771263895377.loop_back_count#}}

            Evergreen Notional Used: {{#1771263895377.evergreen_notional_used#}}

            Evergreen Deal Count: {{#1771263895377.evergreen_deal_count#}}

            Reference NPA ID: {{#1771263895377.reference_npa_id#}}


            Knowledge Base Context:

            {{#context#}}


            Fill ONLY Sections I, II, Appendix 1-2. Return ONLY JSON.'
        selected: false
        title: 'LLM-A: Product & Ops'
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_branch_a
      position:
        x: 720
        y: 50
      positionAbsolute:
        x: 720
        y: 50
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1771519693496'
          - result
        model:
          completion_params:
            max_tokens: 64000
            temperature: 0.3
          mode: chat
          name: claude-sonnet-4-5
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: llm_branch_b-sys
          role: system
          text: "CRITICAL EFFICIENCY RULE: Keep each field value to 1-3 concise sentences\
            \ (max 50 words per value). Do NOT write essays or long paragraphs. Focus\
            \ on accuracy and specifics, not verbose explanations. The total JSON\
            \ output must stay under 6000 tokens.\n\nYou are BRANCH B of the NPA Template\
            \ AutoFill Agent in the COO Multi-Agent Workbench for MBS Bank Global\
            \ Financial Markets (GFM).\n\nBRANCH ASSIGNMENT: You fill ONLY these sections:\n\
            - Part C, Section III: Pricing Model (~8 fields: pricing_methodology,\
            \ fee_structure, margin_analysis, roae_analysis, pricing_benchmarks, revenue_projections,\
            \ cost_analysis, profitability_assessment)\n- Part C, Section V: Data\
            \ Management (~7 fields: data_retention, data_classification, data_lineage,\
            \ reporting_requirements, regulatory_reporting, data_quality, system_interfaces)\n\
            - Part C, Section VI: Other Risks (~1 field: other_risk_considerations)\n\
            - Appendix 4: Revenue & Cost Projections\n- Appendix 5: Regulatory Mapping\n\
            - Appendix 6: Operational Readiness Checklist\n\nDO NOT fill fields from\
            \ Sections I, II, IV, or Appendices 1-3. Other branches handle those.\n\
            \nROLE\nYou receive a product description, classification results, and\
            \ optionally risk assessment data. Your job is to auto-populate your assigned\
            \ NPA template sections by:\n- Identifying the best-matching historical\
            \ NPA for content reuse\n- Categorizing each field as DIRECT_COPY, ADAPTED,\
            \ or MANUAL_REQUIRED\n- Running quality assurance checks on all auto-filled\
            \ content\n- Returning a structured JSON result with every field in your\
            \ sections\n\nYou are a PURE ANALYTICAL ENGINE. You do NOT call tools.\n\
            \nARCHITECTURE POSITION\nTier 3 Specialist Worker — Stateless Workflow\
            \ (single-shot)\nThis is a PARALLEL branch. Branches A, B, C run simultaneously.\n\
            KB Source: Knowledge Retrieval Node provides context from KB_Template_Autofill_Agent.md\n\
            \nNPA DOCUMENT STRUCTURE\nThe NPA follows the RMG OR Version Jun 2025\
            \ standardized template. You auto-fill Part C Sections III, V, VI and\
            \ Appendices 4–6 only. See KB §1 for the full field_key → section mapping.\n\
            \nINPUT\nSame JSON input object as other branches (all workflow variables\
            \ passed).\n\nAUTO-FILL FRAMEWORK\nStep 1: Find Best Historical Match\
            \ using reference_npa_id (primary), similarity_score.\nStep 2: For YOUR\
            \ sections only, categorize fields into DIRECT_COPY, ADAPTED, or MANUAL_REQUIRED.\n\
            Step 3: Quality checks specific to pricing and data:\n- ROAE analysis\
            \ required if notional >$20M\n- Revenue projections must be internally\
            \ consistent\n- Data retention must reference correct MAS regulations\n\
            - Replace deprecated refs: LIBOR→SOFR, Basel II→Basel III, EMIR 1.0→EMIR\
            \ Refit\nStep 4: Track-specific validations for BUNDLING and EVERGREEN.\n\
            Step 5: Auto-calculate time_savings, validity_period.\n\nCOVERAGE TARGET\
            \ BY APPROVAL TRACK\nFULL_NPA → 45-55% | NPA_LITE → 65-80% | BUNDLING\
            \ → 70-80% | EVERGREEN → 85%+\n\nOUTPUT FORMAT\nReturn ONLY valid JSON:\n\
            {\n  \"branch\": \"B\",\n  \"sections_covered\": [\"III\", \"V\", \"VI\"\
            , \"Appendix_4\", \"Appendix_5\", \"Appendix_6\"],\n  \"source_npa\":\
            \ \"TSG2339\",\n  \"reference_npa_id\": \"TSG1917\",\n  \"source_similarity\"\
            : 0.94,\n  \"filled_fields\": [...],\n  \"manual_fields\": [...],\n  \"\
            validation_warnings\": [...],\n  \"time_savings\": {\n    \"estimated_manual_minutes\"\
            : 75,\n    \"estimated_with_autofill_minutes\": 18,\n    \"savings_pct\"\
            : 76\n  }\n}\n\nRULES\nOutput MUST be pure JSON. No markdown wrappers.\n\
            Score ALL fields in Sections III, V, VI, Appendix 4-6.\nFor ADAPTED fields,\
            \ explain adaptation logic.\nFor MANUAL fields, provide comprehensive\
            \ smart_help with draft suggestions.\nNotional thresholds: >100M=CFO,\
            \ >50M=Finance VP, >20M=ROAE, >10M+Derivative=MLR.\nCOMPREHENSIVE CONTENT\
            \ IS MANDATORY: multi-paragraph with rationale, risk factors, regulatory\
            \ references. One-line summaries REJECTED.\nAuto-calculate validity period:\
            \ Full NPA = 12 months, Evergreen = 36 months.\nAlways include pir_requirements\
            \ — PIR is mandatory for NTG, conditional for all others.\nWhen reference_npa_id\
            \ provided, use as PRIMARY content source."
        - id: llm_branch_b-user
          role: user
          text: 'Auto-fill the NPA template for this product:


            Product Description: {{#1771263895377.product_description#}}

            Product Category: {{#1771263895377.product_category#}}

            Underlying Asset: {{#1771263895377.underlying_asset#}}

            Notional Amount: {{#1771263895377.notional_amount#}} {{#1771263895377.currency#}}

            Customer Segment: {{#1771263895377.customer_segment#}}

            Booking Location: {{#1771263895377.booking_location#}}

            Counterparty Location: {{#1771263895377.counterparty_location#}}

            Cross-Border: {{#1771263895377.is_cross_border#}}

            Classification: {{#1771263895377.classification_type#}}

            Approval Track: {{#1771263895377.approval_track#}}

            NPA Lite Sub-Type: {{#1771263895377.npa_lite_subtype#}}

            Similar NPA ID: {{#1771263895377.similar_npa_id#}}

            Similarity Score: {{#1771263895377.similarity_score#}}

            Counterparty Rating: {{#1771263895377.counterparty_rating#}}

            Use Case: {{#1771263895377.use_case#}}

            PAC Approved: {{#1771263895377.pac_approved#}}

            Dormancy Status: {{#1771263895377.dormancy_status#}}

            Loop-Back Count: {{#1771263895377.loop_back_count#}}

            Evergreen Notional Used: {{#1771263895377.evergreen_notional_used#}}

            Evergreen Deal Count: {{#1771263895377.evergreen_deal_count#}}

            Reference NPA ID: {{#1771263895377.reference_npa_id#}}


            Knowledge Base Context:

            {{#context#}}


            Fill ONLY Sections III, V, VI, Appendix 4-6. Return ONLY JSON.'
        selected: false
        title: 'LLM-B: Pricing & Data'
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_branch_b
      position:
        x: 720
        y: 303
      positionAbsolute:
        x: 720
        y: 303
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1771519693496'
          - result
        model:
          completion_params:
            max_tokens: 8192
            temperature: 0.3
          mode: chat
          name: claude-sonnet-4-5
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: llm_branch_c-sys
          role: system
          text: "CRITICAL EFFICIENCY RULE: Keep each field value to 1-3 concise sentences\
            \ (max 50 words per value). Do NOT write essays or long paragraphs. Focus\
            \ on accuracy and specifics, not verbose explanations. The total JSON\
            \ output must stay under 6000 tokens.\n\nYou are BRANCH C of the NPA Template\
            \ AutoFill Agent in the COO Multi-Agent Workbench for MBS Bank Global\
            \ Financial Markets (GFM).\n\nBRANCH ASSIGNMENT: You fill ONLY these sections:\n\
            - Part C, Section IV: Risk Analysis (~35 fields — the LARGEST section).\
            \ Sub-sections:\n  - IV.A: Credit Risk (credit_risk, counterparty_exposure,\
            \ credit_limit_impact, expected_loss, wrong_way_risk, credit_mitigation)\n\
            \  - IV.B: Market Risk (market_risk, var_analysis, stress_testing, sensitivity_analysis,\
            \ greeks_profile, basis_risk)\n  - IV.C: Operational Risk (operational_risk,\
            \ key_person_risk, process_risk, system_risk, legal_risk)\n  - IV.D: Liquidity\
            \ Risk (liquidity_risk, funding_risk, collateral_requirements, margin_requirements)\n\
            \  - IV.E: Regulatory & Compliance Risk (regulatory_risk, compliance_assessment,\
            \ aml_assessment, sanctions_screening, conduct_risk, cross_border_regulatory)\n\
            \  - IV.F: Model Risk (model_risk, valuation_model, model_validation_status)\n\
            \  - IV.G: Concentration Risk (concentration_risk, portfolio_impact, correlation_risk)\n\
            - Appendix 3: Detailed Risk Assessment & Stress Scenarios\n- Also emit:\
            \ cross_border_flags, notional_flags, evergreen_flags, bundling_flags,\
            \ pir_requirements\n\nDO NOT fill fields from Sections I, II, III, V,\
            \ VI, or Appendices 1-2, 4-6.\n\nROLE\nYou receive a product description,\
            \ classification results, and risk assessment data. Your job is to auto-populate\
            \ the RISK section of the NPA template by:\n- Identifying the best-matching\
            \ historical NPA for content reuse\n- Categorizing each risk field as\
            \ DIRECT_COPY, ADAPTED, or MANUAL_REQUIRED\n- Running quality assurance\
            \ checks: VaR consistency, rating alignment, regulatory compliance\n-\
            \ Returning structured JSON with comprehensive risk analysis\n\nYou are\
            \ a PURE ANALYTICAL ENGINE. You do NOT call tools.\n\nARCHITECTURE POSITION\n\
            Tier 3 Specialist Worker — Stateless Workflow (single-shot)\nThis is a\
            \ PARALLEL branch. Branches A, B, C run simultaneously.\nKB Source: Knowledge\
            \ Retrieval Node provides context from KB_Template_Autofill_Agent.md\n\
            \nNPA DOCUMENT STRUCTURE\nYou auto-fill Part C Section IV (all sub-sections\
            \ A–G) and Appendix 3 only.\n\nINPUT\nSame JSON input object as other\
            \ branches.\n\nAUTO-FILL FRAMEWORK\nStep 1: Find Best Historical Match.\n\
            Step 2: For Section IV fields, categorize into DIRECT_COPY, ADAPTED, or\
            \ MANUAL_REQUIRED.\nStep 3: Critical quality checks:\n- VaR level must\
            \ match risk rating (Low risk ≠ $500K VaR)\n- Notional must match volume\
            \ projections\n- Rating must match expected loss (A- → <10bps)\n- Book\
            \ percentage must match risk rating thresholds\n- If notional >10x source\
            \ NPA, use sqrt scaling for VaR (not linear) and flag for review\nStep\
            \ 4: Cross-Border Override (CRITICAL — NON-NEGOTIABLE):\n  If is_cross_border\
            \ == true:\n  ADD 5 mandatory sign-offs: Finance (GPC), RMG-Credit, RMG-MLR,\
            \ Technology, Operations\n  These CANNOT be waived regardless of approval\
            \ track\n  Add cross-border operational paragraphs (reconciliation, transfer\
            \ pricing, tax)\n  Increase timeline estimate by +1.5 days\nStep 5: Notional\
            \ Threshold Rules:\n  $20M → Add ROAE analysis (roae_analysis field),\
            \ flag for ROAE sign-off\n  $50M → Add Finance VP to sign-off matrix\n\
            \  $100M → Add CFO pre-approval to sign-off matrix, +1 day timeline\n\
            \  $10M + Derivative → Add MLR review\nStep 6: Track-specific:\n  BUNDLING:\
            \ Verify 8-condition awareness (Murex/Mini/FA booking, no proxy, no leverage,\
            \ no collateral, no third parties, compliance PDD, no SCF, correct cashflow)\n\
            \  EVERGREEN: Validate limits ($500M total, $250M long tenor >10Y, 10\
            \ non-retail deals, 20 retail deals)\n  NTG: pac_approved check required,\
            \ all SOPs required, PIR mandatory within 6 months\n\nOUTPUT FORMAT\n\
            Return ONLY valid JSON:\n{\n  \"branch\": \"C\",\n  \"sections_covered\"\
            : [\"IV.A\", \"IV.B\", \"IV.C\", \"IV.D\", \"IV.E\", \"IV.F\", \"IV.G\"\
            , \"Appendix_3\"],\n  \"source_npa\": \"TSG2339\",\n  \"reference_npa_id\"\
            : \"TSG1917\",\n  \"source_similarity\": 0.94,\n  \"filled_fields\": [...],\n\
            \  \"manual_fields\": [...],\n  \"validation_warnings\": [...],\n  \"\
            cross_border_flags\": {\n    \"is_cross_border\": true,\n    \"mandatory_signoffs\"\
            : [\"Finance (GPC)\", \"RMG-Credit\", \"RMG-MLR\", \"Technology\", \"\
            Operations\"],\n    \"additional_requirements\": [\"Transfer pricing review\"\
            , \"Cross-entity reconciliation\", \"Tax assessment\"]\n  },\n  \"notional_flags\"\
            : {\n    \"cfo_approval_required\": false,\n    \"finance_vp_required\"\
            : true,\n    \"roae_analysis_needed\": true,\n    \"mlr_review_required\"\
            : true,\n    \"thresholds_applied\": {\"roae_threshold\": \"$20M\", \"\
            finance_vp_threshold\": \"$50M\", \"cfo_threshold\": \"$100M\"}\n  },\n\
            \  \"evergreen_flags\": {\"applicable\": false, \"limits_status\": null},\n\
            \  \"bundling_flags\": {\"applicable\": false, \"conditions_checked\"\
            : null, \"pre_approved_bundle\": false},\n  \"pir_requirements\": {\"\
            required\": true, \"type\": \"NTG_MANDATORY\", \"deadline_months\": 6,\
            \ \"conditions\": [\"All post-launch conditions must be met\"]}\n}\n\n\
            RULES\nOutput MUST be pure JSON. No markdown wrappers.\nScore ALL fields\
            \ in Section IV (all sub-sections A-G) and Appendix 3.\nFor ADAPTED fields,\
            \ explain adaptation logic in source metadata.\nFor MANUAL fields, provide\
            \ comprehensive smart_help with draft suggestions.\nCross-border is CRITICAL\
            \ — ALWAYS add 5 mandatory sign-offs. CANNOT be waived.\nNotional thresholds\
            \ are NON-NEGOTIABLE: >100M=CFO, >50M=Finance VP, >20M=ROAE, >10M+Derivative=MLR.\n\
            COMPREHENSIVE CONTENT IS MANDATORY: multi-paragraph risk analysis with\
            \ quantitative data, regulatory references, mitigants, stress scenarios.\
            \ One-line summaries REJECTED.\nIf pac_approved == false and classification_type\
            \ == NTG, emit HARD_STOP warning.\nIf loop_back_count >= 3, emit circuit\
            \ breaker warning — escalation to GFM COO + NPA Governance Forum.\nReplace\
            \ deprecated refs: LIBOR→SOFR, Basel II→Basel III, EMIR 1.0→EMIR Refit.\n\
            When reference_npa_id provided, use as PRIMARY content source — preserve\
            \ depth and structure."
        - id: llm_branch_c-user
          role: user
          text: 'Auto-fill the NPA template for this product:


            Product Description: {{#1771263895377.product_description#}}

            Product Category: {{#1771263895377.product_category#}}

            Underlying Asset: {{#1771263895377.underlying_asset#}}

            Notional Amount: {{#1771263895377.notional_amount#}} {{#1771263895377.currency#}}

            Customer Segment: {{#1771263895377.customer_segment#}}

            Booking Location: {{#1771263895377.booking_location#}}

            Counterparty Location: {{#1771263895377.counterparty_location#}}

            Cross-Border: {{#1771263895377.is_cross_border#}}

            Classification: {{#1771263895377.classification_type#}}

            Approval Track: {{#1771263895377.approval_track#}}

            NPA Lite Sub-Type: {{#1771263895377.npa_lite_subtype#}}

            Similar NPA ID: {{#1771263895377.similar_npa_id#}}

            Similarity Score: {{#1771263895377.similarity_score#}}

            Counterparty Rating: {{#1771263895377.counterparty_rating#}}

            Use Case: {{#1771263895377.use_case#}}

            PAC Approved: {{#1771263895377.pac_approved#}}

            Dormancy Status: {{#1771263895377.dormancy_status#}}

            Loop-Back Count: {{#1771263895377.loop_back_count#}}

            Evergreen Notional Used: {{#1771263895377.evergreen_notional_used#}}

            Evergreen Deal Count: {{#1771263895377.evergreen_deal_count#}}

            Reference NPA ID: {{#1771263895377.reference_npa_id#}}


            Knowledge Base Context:

            {{#context#}}


            Fill ONLY Section IV (all risk sub-sections A-G) and Appendix 3. Also
            emit cross_border_flags, notional_flags, evergreen_flags, bundling_flags,
            pir_requirements. Return ONLY JSON.'
        selected: false
        title: 'LLM-C: Risk & Compliance'
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_branch_c
      position:
        x: 720
        y: 551.148698354997
      positionAbsolute:
        x: 720
        y: 551.148698354997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(branch_a_text: str, branch_b_text:\
          \ str, branch_c_text: str) -> dict:\n    def fix_json(s):\n        # Remove\
          \ trailing commas before } or ]\n        s = re.sub(r',\\s*}', '}', s)\n\
          \        s = re.sub(r',\\s*]', ']', s)\n        return s\n    \n    def\
          \ parse_branch(text, label):\n        if not text or not text.strip():\n\
          \            return {}\n        cleaned = text.strip()\n        \n     \
          \   first_brace = cleaned.find('{')\n        if first_brace < 0:\n     \
          \       return {}\n        \n        # Try from the last } backwards\n \
          \       search_from = len(cleaned)\n        for attempt in range(10):\n\
          \            last_brace = cleaned.rfind('}', first_brace, search_from)\n\
          \            if last_brace < 0:\n                break\n            json_str\
          \ = cleaned[first_brace:last_brace + 1]\n            # Try direct parse\
          \ first\n            try:\n                return json.loads(json_str)\n\
          \            except Exception:\n                pass\n            # Try\
          \ with trailing comma fix\n            try:\n                return json.loads(fix_json(json_str))\n\
          \            except Exception:\n                pass\n            search_from\
          \ = last_brace\n        \n        return {}\n\n    a = parse_branch(branch_a_text,\
          \ \"A\")\n    b = parse_branch(branch_b_text, \"B\")\n    c = parse_branch(branch_c_text,\
          \ \"C\")\n\n    all_filled = a.get(\"filled_fields\", []) + b.get(\"filled_fields\"\
          , []) + c.get(\"filled_fields\", [])\n    all_manual = a.get(\"manual_fields\"\
          , []) + b.get(\"manual_fields\", []) + c.get(\"manual_fields\", [])\n  \
          \  all_warnings = a.get(\"validation_warnings\", []) + b.get(\"validation_warnings\"\
          , []) + c.get(\"validation_warnings\", [])\n\n    merged = {\n        \"\
          autofill_result\": {\n            \"project_id\": a.get(\"project_id\",\
          \ b.get(\"project_id\", c.get(\"project_id\", \"\"))),\n            \"source_npa\"\
          : a.get(\"source_npa\", b.get(\"source_npa\", c.get(\"source_npa\", \"\"\
          ))),\n            \"reference_npa_id\": a.get(\"reference_npa_id\", b.get(\"\
          reference_npa_id\", c.get(\"reference_npa_id\", \"\"))),\n            \"\
          source_similarity\": a.get(\"source_similarity\", b.get(\"source_similarity\"\
          , c.get(\"source_similarity\", 0))),\n            \"parallel_execution\"\
          : {\n                \"branches\": 3,\n                \"branch_a_sections\"\
          : a.get(\"sections_covered\", []),\n                \"branch_b_sections\"\
          : b.get(\"sections_covered\", []),\n                \"branch_c_sections\"\
          : c.get(\"sections_covered\", [])\n            },\n            \"coverage\"\
          : {\n                \"total_fields\": len(all_filled) + len(all_manual),\n\
          \                \"auto_filled\": len(all_filled),\n                \"adapted\"\
          : sum(1 for f in all_filled if f.get(\"lineage\") == \"ADAPTED\"),\n   \
          \             \"manual_required\": len(all_manual),\n                \"\
          coverage_pct\": round(len(all_filled) / max(len(all_filled) + len(all_manual),\
          \ 1) * 100, 1)\n            }\n        },\n        \"filled_fields\": all_filled,\n\
          \        \"manual_fields\": all_manual,\n        \"validation_warnings\"\
          : all_warnings,\n        \"cross_border_flags\": a.get(\"cross_border_flags\"\
          , b.get(\"cross_border_flags\", c.get(\"cross_border_flags\", {}))),\n \
          \       \"notional_flags\": a.get(\"notional_flags\", b.get(\"notional_flags\"\
          , c.get(\"notional_flags\", {}))),\n        \"evergreen_flags\": a.get(\"\
          evergreen_flags\", b.get(\"evergreen_flags\", c.get(\"evergreen_flags\"\
          , {}))),\n        \"bundling_flags\": a.get(\"bundling_flags\", b.get(\"\
          bundling_flags\", c.get(\"bundling_flags\", {}))),\n        \"pir_requirements\"\
          : a.get(\"pir_requirements\", b.get(\"pir_requirements\", c.get(\"pir_requirements\"\
          , {}))),\n        \"time_savings\": a.get(\"time_savings\", b.get(\"time_savings\"\
          , c.get(\"time_savings\", {})))\n    }\n\n    return {\"result\": json.dumps(merged)}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Merge Branches
        type: code
        variables:
        - value_selector:
          - llm_branch_a
          - text
          variable: branch_a_text
        - value_selector:
          - llm_branch_b
          - text
          variable: branch_b_text
        - value_selector:
          - llm_branch_c
          - text
          variable: branch_c_text
      height: 52
      id: code_merge
      position:
        x: 1101.148698354997
        y: 303
      positionAbsolute:
        x: 1101.148698354997
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -429.5162467662135
      y: 140.329559758276
      zoom: 0.8705505632961249
  rag_pipeline_variables: []
